<!--▼▼▼▼▼▼▼▼ここから新規作成コンテンツ▼▼▼▼▼▼▼▼-->

	
<article class="contents_page product delivery mypage">
	<h1 class="ttl_01">マイページについて</h1>
	<section class="contents_box">
		<ul>
			<li><a href="#sec01">マイページとは</a></li>
			<li><a href="#sec02">マイページの主な機能</a></li>
		</ul>
	</section>
	<!--/.contents_box-->
	
	
	<div class="contents_link_02">
		<div class="contents_link_02_box" id="sec01">
			<h2>マイページとは</h2>
			<p>マイページとは、クレヨンしんちゃん公式オンラインショップへ会員登録いただくと利用が可能となる「会員限定ページ」です。
会員限定機能のご利用や、各種情報の変更、ご注文情報の確認などを行うことができます。</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec02">
			<h2>マイページの主な機能</h2>
			<p>マイページとは、クレヨンしんちゃん公式オンラインショップへ会員登録いただくと利用が可能となる「会員限定ページ」です。
会員限定機能のご利用や、各種情報の変更、ご注文情報の確認などを行うことができます。</p>
		</div>
		<!--/.contents_link_02_box-->
		</div>

</article>
<!--/.contents_page-->	
	
	
	
	
	
<!--▲▲▲▲▲▲▲▲ここまで新規作成コンテンツ▼▼▼▼▼▼▼▼-->	
