<!--{*
 * EC-CUBE on Bootstrap3. This file is part of EC-CUBE
 *
 * Copyright(c) 2014 clicktx. All Rights Reserved.
 *
 * http://perl.no-tubo.net/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *}-->

<!--{strip}-->
<!--
    <div id="main_image">
        <a href="<!--{$smarty.const.P_DETAIL_URLPATH}-->1">
            <img class="hover_change_image img-responsive" src="<!--{$TPL_URLPATH}-->img/banner/bnr_top_main.jpg" alt="詳細はこちら"  width="100%" />
        </a>
    </div>-->


<section id="mainBanner">
    <ul class="mainBanner slider">
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner001.png" alt=""></li>
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner002.png" alt=""></li>
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner003.png" alt=""></li>
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner001.png" alt=""></li>
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner002.png" alt=""></li>
        <li><img src="<!--{$TPL_URLPATH}-->img/banner/mainbanner003.png" alt=""></li>
    </ul>
</section>
<!--{/strip}-->
