<!--{*
 * Copyright(c) 2012 GMO Payment Gateway, Inc. All rights reserved.
 * http://www.gmo-pg.com/
 * Updated: 2012/07/30
 *}-->


<script type="text/javascript">//<![CDATA[

    $(function(){
        $('li#navi-order ul:first li:last').after('<li id="navi-order-plg_pgmulpayutils_payment_status"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->order/plg_pgmulpayutils_payment_status.php"><span>決済状況管理</span></a></li>');
        $('li#navi-order ul:first li:last').after('<li id="navi-order-plg_pgmulpayutils_use_limit_unlock"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->order/plg_pgmulpayutils_use_limit_unlock.php"><span>クレジット入力ロック解除</span></a></li>');
    });
//]]></script>
