@charset "UTF-8";

.LC_Page_Products_List .content {
  margin-top: 50px;
}
.LC_Page_Products_List h2.title {
  color: #00c1fc;
  margin-bottom: 30px;
}
.LC_Page_Products_List h2.title img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* リスト表示// */
.LC_Page_Products_List .list_area.list {
  border-bottom: 1px solid #898989;
  overflow: hidden;
  padding: 17px 0;
}
.LC_Page_Products_List .list_area.list .status_icon {
  float: right;
  width: 602px;
  margin-bottom: 15px;
}
.LC_Page_Products_List .list_area.list img.picture {
  width: 100%;
}
.LC_Page_Products_List .list_area.list .sale_price {
  font-size: 13px;
}
.LC_Page_Products_List .list_area.list .listphoto {
  float: left;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #898989;
  margin-right: 17px;
}
.LC_Page_Products_List .list_area.list .listrightbloc {
  float: left;
  width: 602px; /*619px*/
}
.LC_Page_Products_List .list_area.list .listrightbloc ul.status_icon {
  margin-bottom: 14px;
}
.LC_Page_Products_List .list_area.list .listrightbloc h3 {
  margin: 0 0 9px;
}
.LC_Page_Products_List .list_area.list .listrightbloc h3 a {
  color: #00C1FC;
  font-size: 13px;
  text-decoration: none;
  display: block;
}
.LC_Page_Products_List .items_value {
  background-color: #eefbff;
  border-radius: 3px 3px 0 0;
  padding: 24px 43px 0;
}
.LC_Page_Products_List .items_value > .small {
  font-size: 12.5px;
}
.LC_Page_Products_List .apparatus {
  background-color: #eefbff;
  border-radius: 0 0 3px 3px;
  padding: 24px 43px;
  margin-bottom: 60px;
}
.LC_Page_Products_List .attention {
  color: #00C1FC;
  font-size: 21.8px;
  margin-right: 4px;
}
/* //リスト表示 */
/* 画像表示（グリッド）// */
.LC_Page_Products_List .list_area.grid {
  display: inline-block;
  vertical-align: top;
  width: 175px;
  margin-right: 18px;
  margin-bottom: 17px;
}
.LC_Page_Products_List .list_area.grid:nth-child(4n-4) {
  margin-right: 0;
}
.LC_Page_Products_List .list_area.grid .status_icon {
  margin-bottom: 5px;
  height: 24px;
}
.LC_Page_Products_List .list_area.grid img.picture {
  width: 100%;
}
.LC_Page_Products_List .list_area.grid .sale_price {
  font-size: 13px;
}
.LC_Page_Products_List .list_area.grid .listphoto {
  width: 175px;
  height: 175px;
  box-sizing: border-box;
  border: 1px solid #898989;
  margin-bottom: 10px;
}
.LC_Page_Products_List .list_area.grid .listrightbloc ul.status_icon {
  margin-bottom: 14px;
}
.LC_Page_Products_List .list_area.grid .listrightbloc h3 {
  margin: 0 0 9px;
}
.LC_Page_Products_List .list_area.grid .listrightbloc h3 a {
  color: #00C1FC;
  font-size: 13px;
  text-decoration: none;
  display: block;
}
.LC_Page_Products_List .list_area.grid .items_value {
  background-color: #eefbff;
  border-radius: 3px 3px 0 0;
  padding: 24px 43px 0;
}
.LC_Page_Products_List .list_area.grid .items_value > .small {
  font-size: 12.5px;
}
.LC_Page_Products_List .list_area.grid .apparatus {
  background-color: #eefbff;
  border-radius: 0 0 3px 3px;
  padding: 24px 43px;
}
.LC_Page_Products_List .list_area.grid .attention {
  color: #00C1FC;
  font-size: 21.8px;
  margin-right: 4px;
}
/* //画像表示（グリッド） */

/* //商品一覧 */
.LC_Page_Products_List select {
  position: relative;
  border: 2px solid #ccc;
  z-index: 10;
  padding: 6px 35px 6px 5px;
}
.pagenumber_area {
  font-size: 12.5px;
}
.pagenumber_area .change {
  overflow: hidden;
}
.pagenumber_area .change > p {
  float: left;
  margin-right: 5px;
}
.pagenumber_area .change ul {
  padding: 0;
  overflow: hidden;
  float: left;
  margin-right: 2em;
  display: flex;
}
.pagenumber_area .change ul li {
 padding: 0 1.5em
}
.pagenumber_area .change ul li:not(last-child) {
 border-right: 1px solid #555;
}
.pagenumber_area .change ul li a {
  color: #555;
  text-decoration: none;
}
.pagenumber_area .change ul li .active{
  color: #00C1FC;
}
.pagenumber_area .display {
  margin: 1em 0;
}
.pagenumber_area .display a {
  color: #555;
  text-decoration: none;
}
.pagenumber_area .display a.grid {
  margin: 0 1em 0 2em;
}
.pagenumber_area .display a.list {
  padding-left: 1em;
  border-left: 1px solid #555;
}
.selectWrap {
  position: relative;
  display: inline-block;
}
.selectWrap::before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  background: #00C1FC;
  height: 100%;
  width: 30px;
}
.selectWrap::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
}
.selectWrap > .selectBg {
  display: block;
  background-color: #FFF;
  margin-left: 10px;
}
.LC_Page_Products_List .analogy {
  margin-top: 60px;
  margin-bottom: 60px;
}
.LC_Page_Products_List #bottomcolumn {
  padding-top: 100px;
}