@charset "UTF-8";

.itemWrapper .itemContent {
  overflow: hidden;
}
.itemWrapper .itemContent_left {
  float: left;
  width: 500px;
}
.itemWrapper .itemContent_right {
  float: right;
  width: 480px;
}

.LC_Page_Products_Detail #topcolumn {
  width: 100%;
  background-color: #eefbff;
  padding: 5px 0 10px;
}
.LC_Page_Products_Detail .content {
  margin-top: 28px;
}
ul.breadcrumb {
  overflow: hidden;
  padding: 0;
}
ul.breadcrumb li {
  /* float: left;
  margin-right: 8px; */
}
ul.breadcrumb li a {
  color: #00c1fc;
  text-decoration: none;
  font-size: 11px;
  margin-right: 2px;
}
ul.categorymenu {
  padding: 0;
  width: 1024px;
  margin: 15px auto 10px;
}
ul.categorymenu > li {
  display: inline;
}
ul.categorymenu > li:hover {
  cursor: pointer;
}
ul.categorymenu li a {
  font-family: 'ヒラギノ丸ゴ Pro W3','Hiragino Maru Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  position: relative;
  display: inline;
  text-decoration: none;
  background-color: #00c1fc;
  color: #FFF;
  font-size: 14px;
  padding: 10px 60px 10px 50px;
  border-radius: 6px;
}
ul.categorymenu li a::before,
ul.categorymenu li a::after {
position: absolute;
top: 0;
bottom: 0;
right: 7px;
margin: auto;
content: "";
vertical-align: middle;
}
ul.categorymenu li a::before {
box-sizing: border-box;
width: 20px;
height: 20px;
border: 1px solid #FFF;
background-color: #FFF;
-webkit-border-radius: 50%;
border-radius: 50%;
}
ul.categorymenu li a::after {
right: 13.5px;
bottom: 2.5px;
width: 5px;
height: 5px;
border-top: 2px solid #00c1fc;
border-right: 2px solid #00c1fc;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
}
.categorymenulist {
  display: none; /*js用*/
}
.categorymenulist ul {
  width: 1024px;
  margin: 20px auto 0;
  padding: 0;
  line-height: 1.8;
}
.categorymenulist ul li a {
  color: #00c1fc;
  font-size: 13px;
  text-decoration: none;
}
.LC_Page_Products_Detail #topcolumn .category {
  margin: auto;
  width: 1024px;
}
.LC_Page_Products_Detail #topcolumn .category .block_body {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  display: none;
  position: absolute;
  width: 225px;
  z-index: 500;
}
.LC_Page_Products_Detail #topcolumn .category .block_body h2 {
  border-bottom: 2px solid #ccc;
  margin: 0;
  padding-top: 10px;
}
.LC_Page_Products_Detail #topcolumn .category .block_body ul {
  padding: 0;
}
.LC_Page_Products_Detail #topcolumn .category .block_body ul li {
  border-bottom: 1px dotted #555;
  margin-bottom: 5px;
  padding: 0 5px;
}
.LC_Page_Products_Detail #topcolumn .category .block_body ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.LC_Page_Products_Detail #topcolumn .category .block_body ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 2px;
  font-size: 12px;
  color: #333;
}
.LC_Page_Products_Detail #topcolumn .category .block_body ul li a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* メイン部分// */
.itemContent_left .mainImage ul.slider {
  padding: 0;
}
.itemContent_left .mainImag ul li img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
ul.thumb-item li img {
  border: 2px solid #8a8a8a;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
}
.enlargement {
  text-align: center;
  margin: 15px 0;
}
.enlargement img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.enlargement p {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.accessories {
  overflow: hidden;
  margin: 15px 0;
}
.accessories .snsBtn {
  float: left;
  margin: 14px 0;
}
.accessories .snsBtn a.twitter {
  display: block;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #1da1f2;
  color: #FFF;
  font-size: 13px;
}
.accessories .snsBtn a img {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.accessories .snsBtn a span {
  display: inline-block;
  vertical-align: middle;
}
.accessories .review {
  float: right;
}
.accessories .review a {
  display: block;
  width: 320px;
  box-sizing: border-box;
  border: 2px solid #00c1fc;
  border-radius: 4px;
  color: #00c1fc;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  background-color: #eefbff;
}
.accessories .review a img,
.accessories .review a span {
  display: inline-block;
  vertical-align: middle;
}
.accessories .review a img {
  margin-right: 10px;
}

ul.thumb-item-nav {
  background-color: #f6f6f6;
  padding: 15px 30px !important;
}
ul.thumb-item-nav li {
  width: 98px !important;
  height: 98px;
  margin-right: 15.5px;
}
ul.thumb-item-nav li:last-child {
  margin-right: 0;
}
ul.thumb-item-nav li img {
  width: 100%;
}
ul.thumb-item-nav li.slick-current img {
  border: 2px solid #00c1fc;
  box-sizing: border-box;
}

.itemContent_right .itemInfo .heading {
  color: #00c1fc;
  font-size: 1em;
}
.itemContent_right .itemInfo h1 {
  color: #777;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.4;
  margin: 20px 0 5px;
}
ul.status_icon {
  padding: 0;
  overflow: hidden;
}
ul.status_icon li {
  float: left;
  font-size: 13px;
  color: #FFF;
  background-color: #aaa;
  margin-right: 5px;
  padding: 5px 8px;
  border-radius: 2px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.1em;
}
ul.status_icon li.status1 {
  background-color: #e01616;
}
ul.status_icon li.status2 {
  background-color: #ea9a19;
}
ul.status_icon li.status3 {
  background-color: #3ca34a;
}
ul.status_icon li.status4 {
  background-color: #ff3c9c;
}
ul.status_icon li.status5 {
  background-color: #1958f8;
}
ul.status_icon li:nth-child(n+3) {
  display: none;
}
.LC_Page_Products_Detail .itemContent_right .caption {
  color: #777;
  font-size: 13px;
  line-height: 1.5;
  margin: 30px 0;
}
.LC_Page_Products_Detail .itemContent_right .sale {

}
.LC_Page_Products_Detail .itemContent_right .price {
  display: inline-block;
  vertical-align: middle;
  width: 67%;
}
.LC_Page_Products_Detail .itemContent_right .price p {
  font-size: 50px;
  color: #777;
}
.LC_Page_Products_Detail .itemContent_right .price span {
  font-size: 18px;
  font-weight: bold;
  color: #777;
}
.LC_Page_Products_Detail .itemContent_right .point {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.LC_Page_Products_Detail .itemContent_right .point p {
  font-size: 18px;
}
dl.quantity {
  margin: 35px 0;
}
dl.quantity dt {
  display: inline-block;
  vertical-align: middle;
  color: #777;
}
dl.quantity dd {
  display: inline-block;
  vertical-align: middle;
}
dl.quantity dd input {
  border: 2px solid #ccc;
  padding: 10px;
}
.largeBtn {
  margin-bottom: 20px;
}
.largeBtn a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #00c1fc;
  border-radius: 4px;
  color: #00c1fc;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  background-color: #eefbff;
}
.largeBtn a {
  color: #FFF;
  background-color: #00c1fc;
}
.largeBtn a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.largeBtn a span {
  display: inline-block;
  vertical-align: middle;
}
.favorite a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #00c1fc;
  border-radius: 4px;
  color: #00c1fc;
  font-weight: bold;
  font-size: 15px;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  background-color: #eefbff;
}
.favorite a img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.favorite a span {
  display: inline-block;
  vertical-align: middle;
}
/* //メイン部分 */

/* 商品詳細// */
.productInfo h2 {
  background-color: #00c1fc;
  color: #fff601;
  padding: 5px 12px;
  margin-bottom: 0;
  border-radius: 2px;
}
.productInfo h2 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.productInfo h2 span {
  display: inline-block;
  vertical-align: middle;
}
.productInfo .productInfo_data {
}
.productInfo .row1,
.productInfo .row2 {
  padding: 16px 10px 8px 30px;
  border-top: 1px dotted #ccc;
  box-sizing: border-box;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 12px;
}
.productInfo .row1:first-child,
.productInfo .row2:nth-child(2) {
  border-top: none;
}
.productInfo .row1 {
  width: 24%;
  float: left;
  background-image: url(/user_data/packages/shinchan/img/product/infoStar.png);
  background-repeat: no-repeat;
  background-position: 10px 14px;
  font-weight: bold;
}
.productInfo .row2 {
  background: #fff;
  margin-left: 24%;
  padding-bottom: 10px;
}
.productInfo .row2::before {
  content: "：";
}
.productInfo .row2:after {
  content: '';
  display: block;
  clear: both;
}
/* //商品詳細 */

/* 商品レビュー// */
.review {
  margin-top: 5px;
  margin-bottom: 40px;
}
.review h2 {
  background-color: #00c1fc;
  color: #fff601;
  padding: 5px 12px;
  margin: 0 0 20px;
  border-radius: 2px;
}
.review h2 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.review h2 span {
  display: inline-block;
  vertical-align: middle;
}
.review ul {
  padding: 0;
}
.review ul li {
  border: 4px solid #f6f6f6;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.review ul li p.voicetitle {
  display: inline-block;
  vertical-align: middle;
}
.review ul li p.voicetitle img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.review ul li p.voicetitle span {
  display: inline-block;
  vertical-align: middle;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.review ul li p.voicedate {
  display: inline-block;
  vertical-align: middle;
  color: #727272;
  font-size: 12px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin-left: 20px;
}
.review ul li p.voicedate .user {
  margin-right: 12px;
}
.review ul li p.voicedate a {
  color: #727272;
  text-decoration: none;
  font-size: 12px;
}
.review ul li p.voicecomment {
  margin-top: 15px;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 13.7px;
  line-height: 1.6;
}
.review .review_btn {
  margin-bottom: 20px;
}
.analogy {
  margin-top: 5px;
  margin-bottom: 40px;
}
.analogy h2 {
  background-color: #00c1fc;
  color: #fff601;
  padding: 5px 12px;
  margin: 0 0 20px;
  border-radius: 2px;
}
.analogy h2 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.analogy h2 span {
  display: inline-block;
  vertical-align: middle;
}
.near {
  margin-top: 5px;
  margin-bottom: 40px;
}
.near h2 {
  background-color: #00c1fc;
  color: #fff601;
  padding: 5px 12px;
  margin: 0 0 20px;
  border-radius: 2px;
}
.near h2 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.near h2 span {
  display: inline-block;
  vertical-align: middle;
}

/* //商品レビュー */
