<div class="page care">
    <div class="ttl">
        <h2><span></span>お手入れ方法</h2>
    </div>
    <div class="tab" style="display:none;">
        <ul>
            <li><a href="#1"><p class="func">カーテン</p></a></li>
            <li><a href="#2"><p class="func">シェード</p></a></li>
            <li><a href="#3"><p class="func">ロールスクリーン</p></a></li>
            <li><a href="#3"><p class="func">ブラインド</p></a></li>
        </ul>
    </div>
    <div class="section">
        <h3>カーテンのお手入れ(普段のお手入れ)</h3>
        <p class="mb30">

        カーテンは日常のメンテナンスが大切です。カーテンの汚れの原因は空気中のホコリ、タバコのヤニ・キッチンからの煙などで、時間が経つほど落ちにくくなり、紫外線や温度・湿度などでも繊維を劣化させます。使用条件の差はありますが、ドレープカーテンは年に一度、レースカーテンは半年に一度の洗濯をおすすめします。商品と使用状況により異なりますが、数年間洗濯をしなかった場合、１回の洗濯でカーテンが劣化により破れることもありますので、ご注意ください。<br>
        洗濯する際は、必ずカーテン裏面上部または下部に縫い付けられている取扱絵表示をご確認ください。 

        </p>
        <div>
            <h3>ご家庭でカーテンを洗濯するときのポイント</h3>
            <div>
                <div>
                    <h4>洗剤、漂白剤、柔軟剤</h4>
                    <p>
                    洗剤は、中性洗剤をご使用ください。<br>
                    漂白剤は酸素系のものをご使用ください。（一部使用できない商品があります。）塩素系は使用しないでください。<br>
                    柔軟剤はすすぎの時に柔軟剤を添加すると仕上がりがきれいです。
                    </p>
                </div>
            </div>
            <div>
                <h4>洗い流しについて</h4>
                <p>
                洗剤・漂白剤等の洗い残し・付着は生地劣化を促進する原因となりますので、しっかりと洗い流してください。
                </p>
            </div>
            <div>
                <h4>脱水</h4>
                <p>
                タイマーで1分程度が適当です。シワを防ぐためにもヒダに合わせてたたんでネットに入れて脱水するとキレイに仕上がります。
                </p>
            </div>
            <div>
                <h4>乾燥</h4>
                <p>
                    自然乾燥させてください。収縮の原因となりますので、絶対に乾燥機は使用しないでください。 
                </p>
            </div>
            <div class="img_wrap"><img src="<!--{$TPL_URLPATH}-->img/common/f19_img_21.png"></div>
        </div>
    </div>
    <div class="section">
        <h3>カーテンの洗い方</h3>
        <div>
            <div>
                <h4>洗濯機で洗う場合</h4>
                <p>
                    フック・・・洗濯機に入れる前にフックを外してください。<br>
                    ※サイドウエイトが入っている場合は取り外してください。<br>
                    水量・・・カーテンの大きさにもよりますが、一度に選択するカーテンの枚数は1～2枚までとし、水量は最大にしてください。<br>
                    水流・・・水流は弱水流にし、毛布用等の大きな洗濯ネットを利用してください。<br>
                    水温・・・30℃以下の温度で洗ってください。
                </p>
                </div>
                <div>
                    <h4>手洗いする場合</h4>
                    <p>
                        押し洗い・・・もみ洗いではなく、押し洗いをしてください。<br>
                        水温・・・30℃以下の温度で洗ってください。
                    </p>
                </div>
                <div>
                    <h4>漬け置き洗いする場合</h4>
                    <p>
                    汚れがひどい時には漬け置き洗いをすると効果的です。（ご家庭で洗濯できるものに限ります）<br>
                    水温・・・20℃程度の常温の水を使用してください。<br>
                    漂白剤・・・酸素系のものを使用してください。（一部使用できない商品があります。）塩素系は使用しないでください。<br>
                    時間・・・漬けて置く時間は、30～1時間程度が適当です。<br>
                    漬け置き後の処理・・・漬け置きが終わったら、前記の洗濯機洗いか、手洗い処理を行ってください。
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h3>カーテンの乾燥方法</h3>
            <div>
                <p>
                吊り干しが原則・・・カーテンを吊っていた元のレールに戻し、そのまま乾かすのが最適です。絶対に乾燥機は使用しないでください。レールに吊るした後、全体の下の方に引っ張って寸法を合わせます。さらに全体を手で叩くとシワもある程度防止でき、乾いた後の仕上げが楽になります。床やカーペットが濡れないように、カーテンの下にタオルなどを敷いてください。
                </p>
            </div>
        </div>
        <div class="section">
            <h3>カーテンのアイロン掛け</h3>
            <div>
                <p>
                形状記憶加工を施したカーテンにアイロンを使用しますと、形状が崩れる場合がございます。ご注意ください。<br>
                絵表示に従う・・・絵表示に示されている温度でアイロンを掛けます。<br>
                素材別適正温度・・・①綿・麻・レーヨン140～200℃（中～高温）　②ポリステル110℃（低温）　③アクリル80～120℃（低温）
                </p>
            </div>
        </div>
        <div class="section">
            <h3>カーテンお取扱い上のご注意</h3>
            <div>
                <p>
                カーテンは折りたたんで梱包してありますので、たたみシワが残っている場合がありますが、レールに掛けて吊っていただくと、しばらくすればシワは取れますのでご安心ください。

                </p>
            </div>
        </div>
        <div class="section">
            <h3>伸縮</h3>
            <div>
                <p>
                室内の環境（温度・湿度）によって、多少伸びたり縮んだりしますが、これは繊維の持つ特徴ですので、ご承知ください。特にレーヨンや綿を多く使用しているカーテンの中には、室内の環境条件によって伸縮が大きいものがあります。これらの素材のカーテンにつきましては、室内環境を適切に調整することが大切です。（高温、多湿の条件が最も影響を与えます。
                </p>
            </div>
        </div>
        <div class="section">
            <h3>臭い</h3>
            <div>
                <p>
                    カーテンの生地の中には、吊ってからしばらく臭いを発するものがあります。これは生地の持つ固有の臭いですが、人体への影響はありません。時間が経てば徐々に薄れていきますが、昼間お留守になりがちのお宅では、臭いがこもる場合があります。ご注意ください。
                    ポイント＞在宅時は、できるだけ適度な寒気をおすすめします。
                </p>
            </div>
        </div>
        <div class="section">
            <h3>汚れ</h3>
            <div>
                <p>
                    カーテンの汚れは、ほとんどが空気中のホコリの吸着です。その他には、タバコのヤニやダイニング・キッチンでの料理の時に発生する煙等がありますが、いずれも時間が経つほど落ちにくくなります。普段のお手入れと適度な洗濯が必要です。<br>
                    普段のお手入れ＞お掃除の時に、たまにカーテンを外して、布団たたきの要領でカーテンのほこりを落としてください。 

                </p>
            </div>
        </div>
        <div class="section">
            <h3>チャコペンのあと</h3>
            <div>
                <p>
                    ごく稀にカーテンの一部に縫製加工でのマーキング（チャコ紫色）が残っている場合があります。これは数日で消えますが、気になる場合は下記の要領で取り除くことができます。<br>
                    &lt;マーキングが残っている場合&gt;<br>
                    &#9312;布を水につけ、軽く絞ります。
                    &#9313;マーキングの残っている箇所を布で軽くたたくようにして、濡らしてください。※縮みやすい素材（綿等）は濡らしすぎないようにご注意ください。<br>
                    &#9314;マーキングは水と共に蒸発します。 
                </p>
            </div>
        </div>
        <div class="section">
            <h3>生地劣化</h3>
            <div>
                <p>
                洗剤等の洗い残し、漂白剤の洗い残しや付着、芳香剤、消臭剤の付着、水分を含んだ状態の長期保存は生地の劣化を促進する原因となりますので、ご注意ください。

                </p>
            </div>

        </div>
        <div class="img_wrap"><a href="https://packman2.com/" target="_blank"> <img src="<!--{$TPL_URLPATH}-->img/common/care_img01.png"></a></div>

    </div>

