<div class="page delivery">
    <div class="sub_contents">
        <div class="ttl">
            <h2><span></span>送料やお支払い、返品交換について</h2>
        </div>
        <p class="mb30">オンラインショップでの発送や送料、お支払いをご案内いたします。</p>
        <div class="p_link">
            <ul>
                <li><a href="#1"><p class="func">出荷・配送料について</p></a></li>
                <li><a href="#2"><p class="func">お支払いについて</p></a></li>
                <li><a href="#3"><p class="func">返品・交換について</p></a></li>
            </ul>
        </div>
        <div class="section"id="1">
            <h3><span>出荷・配送料について</span></h3>
            <div class="mb30">
                <h4 class="mb20">お届けまでの目安期間</h4>
                <p class="mb10">正式な受注から、規格品は3～5営業日後に出荷、イージーオーダー、オーダー品については約13営業日後に出荷いたします。</p>
                <p class="mb20">&lt;キャリア決済・クレジットの場合&gt;<br>
                ご注文日より7～14営業日以内に発送致します｡<br>
                &lt;Pay-easy決済･コンビニ決済の場合&gt;<br>
                入金確認後7～14日営業日での発送になります｡
                </p>
                <p>出荷日がこの日数より遅れる場合には、メールにてご連絡させていただきます。<br>
                お届け日は商品出荷時にメールにてご連絡させていただきます。<br>
                土曜日・日曜日・祝日の発送及び、海外への発送は行っておりませんので、予めご了承ください。<br>
                &#8251;営業日とは、工場の稼働する土日祝日・特別休日を除く平日となります。<br>
                &#8251;沖縄県・離島へのお届けにつきましては、プラス3日要します。</p>
            </div>
            <div class="mb30">
                <h4 class="mb20">お届けについて</h4>
                <p>配送業者は佐川急便&#40;配送業者の指定はできません&#41;になります。<br>
                お時間の指定につきましては、午前中&#40;8時～12時&#41;／12時～14時／14時～16時／16時～18時／18時～21時の中からご指定できます。<br>
                交通事情によりご指定いただいた時間内に配達されないことがございます。<br>
                あらかじめご了承ください。</p>
            </div>
            <div class="mb30">
                <h4 class="mb20">時間帯について</h4>
                <p class="mb10">以下の中から時間帯をご指定いただけます。<br>
                午前中&#40;8時～12時&#41;／12時～14時／14時～16時／16時～18時／18時～21時</p>
                <p class="mb10">交通事情などによりご指定いただいた時間内に配達されないことがございます。予めご了承ください。<br>
                運送会社をご指定いただくことはできません。</p>
                <p class="mb20">&#8251;沖縄県・離島への配送につきましては船便での輸送になりますので通常納期よりプラス3日かかる場合がございます。<br>
                &#8251;お届け日をご指定頂いても指定通りにお届けができない場合がございますので、あらかじめご了承ください。</p>

                <h5>カーテンとカーペット・ラグをご注文いただいた場合</h5>
                <p>カーテンとカーペット・ラグはそれぞれ別出荷となります。<br>
                同梱はできませんので、あらかじめご了承ください。</p>
            </div>
            <div class="mb30">
                <h4 class="mb20">配送料について</h4>
                <p>●全国一律：600円<br>
                ●沖縄・離島：1,400円<br>
                <ul class="caution">
                    <li>&#8251;離島の場合のみご注文後、弊社よりお送りするご注文確認メールが正式な送料となります。</li>
                    <li>&#8251;お買い上げ金額15,000円（税込）以上で送料無料です。</li>
                    <li>&#8251;沖縄・離島は除きます（送料800円）</li>
                    <li>&#8251;複数の商品をご注文頂いた場合も、上記の送料で配送致します。</li>
                    <li>&#8251;離島・一部地域では追加送料がかかる場合がございます。</li>
                    <li>&#8251;ご注文後に注文確認メールにてお知らせ致しますので、必ずご確認下さい。</li>
                </ul>
            </div>
        </div>
        <div class="section" id="2">
            <h3><span>お支払いについて</span></h3>
            <div>
              <div class=""><img src="<!--{$TPL_URLPATH}-->img/footer/payment.png"></div>
              <h4 class="mb10">&lt;クレジットカード決済&gt;</h4>
                <p class="mb20">VISA／MASTER／AMEX／DINERS<br>
                &sdot;1回払い&sdot;分割払い&sdot;リボルビング払いがご利用できます。</p>

                <h4 class="mb10">&lt;コンビニ決済&gt;</h4>
                <p class="mb20">ローソン／ファミリーマート／ミニストップ／セイコーマート<br>
                &sdot;会計処理によりご入金の確認に5日程度かかる場合がございます。</p>
  
                <h4 class="mb10">&lt;Pay-easy決済&gt;</h4>
                <p class="mb20">&sdot;Pay-easy対応の金融機関でのお支払いが可能です。<br>
                &sdot;インターネットバンキング利用でのお支払いとATM利用でのお支払い、どちらかお好きな手段を選択することが出来ます。</p>


                <h4 class="mb10">&lt;キャリア決済&gt;</h4>
                <p class="mb20">Docomo／Softbank<br>
                &sdot;ご利用の携帯電話キャリア決済がご利用できます。<br>
                &sdot;お客様のご契約キャリアによって、通話料との合算&sdot;キャリア口座等お好きな手段を選択することができます。</p>

                <h4 class="mb10">&lt;商品代引き&gt;</h4>
                <p>商品の代引きについては承っておりません。</p>
            </div>
        </div>
        <div class="section" id="3">
            <h3><span>返品・交換について</span></h3>
            <div>
                <p>商品の性質上、お客様の都合による返品は原則的にお断りしています。</p>
                <ol>
                    <li>商品に瑕疵がある場合</li>
                    <li>当店の過失によりお客様が注文した商品と相違する商品が届けられた場合</li>
                </ol>
                <p class="mb20">上記に該当する場合、商品到着日より1週間以内にメールにてご連絡お願い致します。
                ご返信をもって、受領とさせていただきます。</p>

                <p>&#8251;この期間を過ぎた場合、返品はお受けできなくなりますので、あらかじめご了承ください。<br>
                &#8251;交換の際の送料・返送料は全額負担させていただきます。良品と交換の際にはサイズやカラーの変更はお受け致しかねますのでご了承ください。<br>
                &#8251;お客様都合による購入商品の返品・交換もお受け致しかねます。<br>
                お客様都合の例は以下の通りです。</p>
                <ul>
                    <li>開封、開梱、商品をご利用された商品</li>
                    <li>商品画像と実際の商品の色合いの違い</li>
                    <li>イメージの差異、採寸や品番等の入力間違いによる場合</li>
                </ul>
            </div>
        </div>
        <div class="section">
            <h3>カーテンについて</h3>
            <div>
                <h4 class="mb20">カーテンのサイズ違いについて</h4>
                <p class="mb20">カーテンは繊維製品である特性上、ご注文のサイズから２％ほどの誤差、またはミリ単位の誤差が生じます。いずれの場合につきましても、返品、交換は承りかねますので、予めご了承ください。</p>

                <h4 class="mb20">カーテンのシワについて</h4>
                <p>カーテンは折りたたんで梱包してありますので、たたみシワが残る場合がありますが、レールに掛けて吊っていただき、しばらくするとシワは取れますので、ご安心ください。</p>
            </div>
        </div>
        <div class="section">
            <h3>カーペットについて</h3>
            <div>
                <h4 class="mb20">カーペットのサイズ違いについて</h4>
                <p class="mb20">カーペットやラグは繊維製品の特性上、ご注文のサイズから約2％程前後異なる場合があります。手織り製品については５％ほどサイズが前後する場合がございます。予めご了承ください。<br>
                いずれの場合につきましても、返品、交換は承りかねますので、予めご了承ください。</p>

                <h4 class="mb20">カーペットのシワについて</h4>
                <p>カーペットは折りたたんで梱包してありますので、たたみシワが残る場合がありますが、しばらくするとシワは取れますので、ご安心ください。</p>
            </div>
        </div>
        <div class="section">
            <div>
                <h3>カーテン、カーペットの製造ロットの違いについて</h3>
                <p>同じ商品でも製造ロットの違いによって、若干色味が異なる場合がございます。予めご了承くださいませ。</p>
            </div>
        </div>
    </div>
</div>
