<div class="utility_btn_container">
    <!--{assign var=detail value="`$smarty.const.ROOT_URLPATH`products/detail.php"}-->
    <!--{if $smarty.server.PHP_SELF==$detail}-->
<!--
    <div id="to_cart_button">
        <a ><span class="button">カートボタンへ</span></a>
    </div>
-->
    <!--{/if}-->
    <div id="pagetop">
        <a ><span class="button">ページトップ</span></a>
    </div>
</div>
