<section class="pickup">
<ul class="top_pickup">
	<li class="main">
<!--{*
        <a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=1796">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner20.jpg" alt="" class="lazy">
        </a>
    </li>
	<li class="main">
*}-->
        <form action="/shop/products/list.php?" method="get" name="form2">
            <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->" />
            <input type="hidden" name="function_shape_memory_processing" value="1" />
            <input type="image" src="/shop/user_data/packages/CJoukoku/img/top/top_banner01.jpg" alt="">
        </form>
    </li>
	<li class="main">
        <a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=1796">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner02.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=1821">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner03.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=1828">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner04.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->sample/">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner05.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->tenpo-top/">
<!--{* 本番との差異 devの記載は一旦コメントアウトしておきます。 ishibashi
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner18.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->active/media/">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner19.jpg" alt="" class="lazy">
        </a>
    </li>
	<li>
        <a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->tenpp-service/free/">
*}-->
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner06.jpg" alt="" class="lazy">
        </a>
    </li>
	<li class="main">
        <a href="#">
            <img src="/shop/user_data/packages/CJoukoku/img/top/top_banner07.jpg" alt="" class="lazy">
        </a>
    </li>
</ul>
<br>
</section>
