<div id="side-area">
	<ul>
		<li>
            <a href="<!--{$smarty.const.ROOT_URLPATH}-->user_data/research.php">
                <img src="<!--{$TPL_URLPATH}-->img/common/side_area_search.png">
            </a>
        </li>
		<li>
            <a href="<!--{$smarty.const.ROOT_URLPATH}-->contact">
                <img src="<!--{$TPL_URLPATH}-->img/common/side_area_contact.png">
            </a>
        </li>
    </ul>
</div>
