<section class="manufacture">
    <h2><img src="<!--{$TPL_URLPATH}-->img/top/feature_title3_top.png"></h2>
    
    <div class="img01">
        <img src="<!--{$TPL_URLPATH}-->img/common/n_logo_01.png">
    </div>
    
    <p class="center">その他、沢山の国内外のメーカー・ブランドを<br>
        取り扱いしております。<br>
        <br>ご相談はお近くの店舗へ</p>
    
    <div class="btn"><a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->tenpo-top/">店舗検索</a></div>
</section>

