<ul class="breadcrumb container">

<!--{strip}-->
<div class="block_outer">

<!--★関連カテゴリ★-->
<ul class="breadcrumb container">
  <!--{section name=r loop=$arrRelativeCat}-->
    <li class="itemscope">
      <!--{section name=s loop=$arrRelativeCat[r]}-->
        <a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=<!--{$arrRelativeCat[r][s].category_id}-->"><!--{$arrRelativeCat[r][s].category_name|h}--></a>
        <!--{if !$smarty.section.s.last}--><!--{$smarty.const.SEPA_CATNAVI}--><!--{/if}-->
      <!--{/section}-->
    </li>
  <!--{/section}-->
</ul>

</div>
<!-- .categorymenulist -->

<!--{/strip}-->

</ul>
