<!-- 静的コーディング// -->
<div class="block_outer clearfix">
<div class="topListArea ranking">
<div class="heading">
<img src="<!--{$TPL_URLPATH}-->img/top/ranking.png" alt="" class="title_icon" /><h2><span class="title">売れ筋ランキング</span><span class="title_rb">RANKING</span></h2>
</div>
<!-- .heading -->
<img src="<!--{$TPL_URLPATH}-->img/top/ranking_line.png" alt="" class="main_column_line" />

<div class="block_body clearfix">
                <!--　foreach from -->
<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon1.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>


<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon2.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>


<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon3.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>

<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon4.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>

<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon5.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>

<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon6.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>

<div>
<!-- もっと見るボタンブロック始まり// -->
<div class="product_item clearfix">
<div class="ranking_icon"><img src="<!--{$TPL_URLPATH}-->img/ranking/ranking_icon7.png" alt="" /></div>
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>
<div class="moreBtn">おすすめ商品をもっと見る</div>
</div>
<!-- //もっと見るボタンブロック終わり -->

<!-- foreach -->
</div>
<!-- .block_body -->
</div>
<!-- .topListArea -->
</div>
<!-- .block_outer -->

<!-- //静的コーディング -->
