<div class="page-body">
		<div class="inner how02">
商品選びに困ったら<br>
カーペット・ラグのサイズの選び方<br>
カーペット、ラグのサイズを適切に選ぶことで、住まいはより快適な住空間になります。下記では適切なサイズの目安をご案内しています。<br>
<br>
敷き方1<br>
お部屋全体に敷くタイプ<br>
お部屋全体に敷くと、ほこりの舞い上がり軽減や階下への防音効果、お部屋の保温効果が高まります。テーブルの周りにも座ることができます。<br>
お部屋全体に敷くタイプのカーペットの測り方はこちら<br>
<br>
敷き方2<br>
アクセントに敷くタイプ<br>
家具に合わせたサイズ感で、アクセントとして敷くと空間にまとまりができます。例えばソファの前に敷く場合は、ソファの幅にラグのサイズを合わせるときれいにまとまります。
<br>
敷き方3<br>
1部屋に複数敷くタイプ<br>
1部屋に複数ラグを敷くと空間をゾーニング（空間を分ける）する事ができます。例えば、リビングダイニングではダイニングテーブルの下と、ソファ＆センターテーブルの下にそれぞれ敷くことで、ゾーニングできます<br>
<br>
<ラグサイズの目安><br>

ベッドサイドのフリースペースに。<br>
朝起きた時のひんやり感を防ぐ<br>
ラグサイズの目安：直径100cm<br>
<br>
ＴＶとソファとの空間にちょうど<br>
良い「間合い」作り<br>
ラグサイズの目安：直径150cm<br>

<br>
二人掛けソファ前のスペース敷きに<br>
ラグサイズの目安：100×140cm<br>
<br>
 三人掛けソファと二人掛けソファ前のテーブル敷きとして<br>
ラグサイズの目安：140×200cm<br>

<br>
二人掛けソファとテーブルをカバーしてコンパクトなスペース作り。テーブル敷きとして<br>
ラグサイズの目安：200×200cm<br>

<br>
ソファの前足までをカバーするゆったりサイズ。<br>
ラグサイズの目安：200×250cm<br>
<br>
＜ダイニングラグ＞特にサイズに気を付けて！<br>
ダイニングラグのサイズはダイニングテーブルより大き目がおすすめです。イスの出し引き分を考慮すると、テーブルの端から 約75cm余裕を見ておくとよいです。
<br>
<br>
＜ダイニングラグのサイズの目安＞<br>
180×220cm  4人掛け　　220×250cm 6人掛け　　240×330cm 8人掛け<br>
<br>

＜お部屋全体にカーペットを敷くカーペットの測り方＞<br>
お部屋全体にカーペットを敷きたい場合の、カーペットの測り方のご紹介です。お客様が測るサイズを元に、お部屋のサイズ、柱のでっぱり等に合わせたぴったりサイズでカーペットをお作りすることができます。規格サイズのカーペットをサイズ加工し、サイズ加工後は縁がかり（オーバーロック）いたしますので、縁から糸が出にくいカーペットが出来上がります。<br>
<br>
STEP1＞お部屋の形状から加工タイプを選びます。<br>
様々なお部屋の形状に合わせてサイズ加工が可能です。タイプをお選びください。<br>
タイプ1<br>
長方形<br>
お客様のご指定サイズに合わせて<br>
<br>
タイプ2<br>
変形<br>
柱などの出っ張りに合わせて<br>
<br>
タイプ3<br>
くり抜き<br>
中抜き（1辺が30cm以上）<br>

<br>
サイズ加工できないものもございます。詳しくはスタッフまでお尋ねください。<br>
＜サイズ加工できないもの一例＞<br>
斜めカット<br>
楕円形<br>
直径50cm未満の円形<br>
3cm以下の直線（オーバーロック無しは可）<br>
<br>
<br>
STEP2＞仕上がりサイズの確認と床とドアの隙間を測ります<br>
お部屋に合わせて、仕上がりサイズを測ります。<br>
Check1　切り込み角度が直角である事を確認してください。<br>
Check2　敷きこみスペース全ての辺をcm単位でお測りください。<br>
Check3　測り終わったら、向かい合う辺の長さの合計が同じである事をご確認ください。<br>
Check4　床からドアの下部までの隙間（高さ）をお測りください。<br>
※内開きドアの場合、カーペットの厚みにより開閉に支障をきたす場合があります。<br>
<br>
＜余ったカーペットでもう一枚！＞<br>
ご注文時に余った生地にも１枚までは無料でサイズ加工ができます。キッチンや玄関マットなどに転用できます。<br>
<br>
この場合規格サイズ「江戸間6帖261×352cm」のカーペットを加工いたします。<br>
<br>
この場合は余ったカーペットで最大62×261cmのカーペットが作れます。<br>
※ご注文商品をお渡し後の再加工は致しかねますので予めご了承ください。<br>
<br>
＜素材について＞<br>
カーペットは用途に応じた素材・機能で選ぶとおすすめです。<br>
ウール：吸湿性・保温性・難燃性の他、水などをこぼしても染みにくく、汚れに強いのが特徴です。弾力回復性にも優れ、天然繊維の王様ともいわれています。秋冬のイメージがありますが、夏でもさらっと使える快適素材です。<br>
ナイロン：耐久性・耐摩擦性に優れ、カーペットには最適の化学繊維です。遊び毛も出にくい為、施設やホテルなどでも使われています。化学繊維の中では「強度」「軽さ」「弾力性」が優れています。<br>
アクリル：鮮やかな発色と優れた保温性が特徴の繊維です。ふっくらとして肌触りが良いので、毛布などにもよく使用されています。ただし、火や熱には弱く、静電気が起きやすくもあります。
ポリエステル：摩擦に強くシワになりにくく、熱にも強い繊維です。吸湿性が少ない為、乾きが早いのでカーテンやウォッシャブル対応のカーペットによく使われています。ナイロンに次いで耐摩擦性・耐久性があります。<br>
ポリプロピレン：ポリエステルと同様に吸湿性が少なく、摩擦に強い繊維です。湿気を取り込みにくく、繊維自身の軽さも特徴です。<br>
<br>
＜機能一例＞<br>
防音<br>
階下への音の伝わり方を軽減。<br>
<br>
防炎<br>
容易に着火せず、着火しても燃え広がりにくい。<br>
<br>
はっ水<br>
水分を弾きやすく、こぼしてもお手入れが簡単。<br>
<br>
防汚<br>
汚れがつきにくく、落としやすい。<br>
<br>
防ダニ<br>
ダニの増殖を抑制。<br>
<br>
抗菌<br>
菌の増殖を抑制し、カーペットを清潔に保つ。<br>
<br>
制電<br>
帯電防止加工により、静電気ショックを防ぐ。<br>

</div>
</div>