
<div class="page-body">
		<div class="inner measure-curtain">
			<h2>カーテンの測り方</h2>
			<p>これからお客様が測るサイズを元に、カーテンが美しく見える適切なサイズでカーテンをお仕立いたします。<br>測り方は、動画でもご覧いただけます。</p>

<h5 class="tyui">＜ご注意＞</h5>
<p>ものさしや定規で測らないでください。<br>
今お使いのカーテンを測らないでください。</p>
<p>※動画の採寸方法はオンラインストアでのご注文方法と異なります。<br>
オンラインストアでご注文の方は「オンラインストアでご注文する場合の採寸方法」を<br>
ご参照ください。
</p>
<div class="youtube">
<iframe style="width: 100%;" width="560" height="315" src="https://www.youtube.com/embed/rNDDYOxnX-k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<h4 style="font-size: 20px;">オンラインストアでご注文する場合の採寸方法</h4>
<h5>STEP1＞「巾」を測る</h5>
<p>巾は一番端の固定ランナーにメジャーを引っかけて測ります。</p>

<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img01.png"></div>
<div class="img02"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img02.png"></div>

<p>○カーテンの仕上がり巾は計測した巾よりも５％程度プラス（注１）して作成となります<br>
（注１・・計測したレール巾に上乗せがないと閉まりに余裕がないため）<br>
～例～<br>
　計測巾190ｃｍの場合　190　×　1.05　＝　199.5　　⇒　200ｃｍ<br>
</p>

		<h5>STEP2＞「丈」を測る</h5>
<p>メジャーをランナーにひっかけ、垂直に下ろして測ります。</p>
<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img03.png"></div>

<p>腰高窓はランナーから窓枠の下まで測ります。<br>
光漏れなどを防ぐために窓枠下から15㎝～20㎝プラスした長さが理想的です。<br>
但し、窓の下に机などの家具を置く場合は干渉しないようご注意下さい。
</p>
<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img04.png"></div>
<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img05.png"></div>

<p>出窓は2か所測ります。<br>
①ランナーから窓枠の下まで測ります。<br>
写真①のようにお部屋側についている場合は、腰高窓と同じ測り方です。<br>
②ランナーから棚板の上までを測ります。<br>
出窓のカウンターにすらないようにマイナス1㎝します。</p>
<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img06.png"></div>

<p>掃き出し窓はランナーから床までを測ります。<br>
※床にすらないようにマイナス1㎝します。レースカーテンは計測した丈からマイナス<br>
2㎝します。
</p>

		<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img07.png"></div>
<p>立ち上がり窓はランナーから床までを測ります。<br>
※床にすらないようにマイナス1㎝します。レースカーテンは計測した丈からマイナス<br>
2㎝します。
</p>

<p>ご注文時のサイズ入力は、窓のタイプによって計測を行って頂き、足し引きをした<br>
仕上がりサイズにて入力を行ってください。
</p>

<p>注意点<br>
カーテンの丈は生地ものである為、プラスマイナス1㎝の誤差が発生する場合がございます。その場合は、アジャスターフックにて調整をして頂くようお願い致します。
</p>

<h5>STEP3＞フックとレールの形式を確認</h5>
<p>カーテンのフックはレールを見せるタイプとレールを隠すタイプの２種類があります。<br>
レールの形式は4種類あり、レールの形式によって、フックの形式が異なりますので、レールの形式もご確認ください。</p>

<div class="img01"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img08.png"></div>
<div class="img03"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img09.png"></div>

<p>Aフック<br>
フックの上に生地が1㎝付け足されおり、カーテンレールが見えます。<br>
Bフック<br>
フックの上に生地が4㎝付け足されており、カーテンレールを隠すようになっています。<br>
Aフック・Bフック共にアジャスターフックとなっておりますので、多少の丈調整ができます。
</p>

<p>既製品に関して<br>
既製カーテンをご購入いただいた場合、厚地のカーテンはBフック、レースカーテンはAフックにてセットしております。
</p>

<p>丈サイズについての注意点<br>
フックから上の生地の付けたしについては、仕上がりサイズ算出の際に足して頂く必要はありません。全てランナーから計測したサイズをもとに、窓のタイプごとに足し引きを行ったサイズをご注文ください。
</p>

<h5>STEP4＞カーテンの開き方と窓の周辺を確認</h5>
<div class="img03"><img src="<!--{$TPL_URLPATH}-->img/common/mesu_img10.png"></div>


<p>カーテンの下に干渉物がありませんか？下記の干渉物がある場合は、お客様のご希望のサイズをご指定ください。</p>

<p><strong>＜窓の下の干渉物例＞</strong><br>
□デスク<br>
□チェスト<br>
□ベッドのヘッド部分<br>
□ソファの背もたれなど<br>
□カーペットをカーテンの下に敷く予定の有無</p>


<h5>STEP5＞カーテンのつなぎ目と柄合わせについて</h5>
<div class="img03"><img src="<!--{$TPL_URLPATH}-->img/common/hagi_img.jpg"></div>

<p>カーテンのつなぎ目は既製カーテン、オーダーカーテンにおいてもサイズにとって生じます。<br>
1.5倍ヒダでは横幅100㎝以上、2倍ヒダでは横幅70㎝以上（一部75㎝以上）の場合にはつなぎ目が入ります。<br>
つなぎ目のないカーテンをご希望の場合は、お問合せよりご連絡ください。<br>
メールにてご案内いたします。
</p>

<p>また、1.5倍ヒダの既製カーテン横幅100㎝以上の商品は柄合わせを行っておりません。
その為、デザインがきっちり連続しませんのでご了承下さい。
気にされる場合は、オーダーカーテンからお選び下さい。
</p>

<h5 class="tyui">＜注意＞</h5>
<p>カーテンのつなぎ合わせについて<br>
カーテン(既製・オーダー)は、「仕上がりサイズ・使用する生地巾」によって、<br>
カーテンにつなぎ目が出ます。予めご了承ください。</p>

		</div><!-- page-body inner -->
	</div><!-- page-body -->
