<div class="page-body">
		<div class="inner merit">
			
			
			<div class="img100"><img src="<!--{$TPL_URLPATH}-->img/common/e8_img_01.png"></div>
			
			<div class="sec01 clearfix">
				<div class="left">
					<img src="<!--{$TPL_URLPATH}-->img/common/e8_img_02.png">
				</div>
				<div class="right">
					<h4>会員だけのお得な情報が満載</h4>
					<p> WEB会員に登録していただくと、メルマガにて限定のお買い得情報や特集をご覧いただけるほか、お申し込み時の氏名やお届け先等の入力が不要になるなどの機能がご利用頂けます。 </p>
				</div>
			</div>
			
			<div class="btn"><a href="/shop/entry/kiyaku.php">会員登録はこちら</a></div>
			
			<h5><img src="<!--{$TPL_URLPATH}-->img/common/merit_title.png"></h5>
			
<div class="img"><img src="<!--{$TPL_URLPATH}-->img/common/merit_img.png"></div>
			
			
			<div class="btn"><a href="/shop/entry/kiyaku.php">会員登録はこちら</a></div>
				
			</div>
			
			
		
		</div><!-- page-body inner -->
	</div><!-- page-body -->