<div class="page delivery">
  <div class="sub_contents">
    <div class="ttl">
      <h2>【オンラインショップ】<br>
        年末年始のお届けに関するご案内</h2>
      <p class="mb30">この度はカーテン・じゅうたん王国をご利用いただきありがとうございます。<br>
2020年の年末及び2021年の年始のお届けについてご案内いたします。<br>
年内のお届けご希望のお客様は、締め切りの期限が迫っておりますので、出来るだけお早めにご注文いただきますようお願いいたします。</p>
    </div>
    <div class="section" id="1">
    <!-- お届けまでの目安期間 start -->
      <h3 style="margin-bottom:0px;">お届けまでの目安期間</h3>
      <div class="mb30">
        <p class="mb20"><img src="https://www.oukoku.co.jp/shop/user_data/guide/new-years-holiday20-21.png" style="margin-right:10px; margin-left:10px; width:95%;" /></p>
        <h4 style="margin-top:25px; font-size:21px; ">【対象外品番について】</h4>
        <p><b>下記品番に関しては12月15日（14：59）までに注文内容確定で年内のお届けが可能です（離島除く）。<br>
12月15日（15：00）以降は1月8日以降順次発送となります。</b><br>
          <b>■厚地カーテン</b><br>
アニス（BR・GN）、フィオレ（IV・GN)、プリシラ（BE・BL）<br>
CO52503、CO52504、CO53501、CO53502<br>
CO56401、CO56402、CO58501、CO58502<br>
CO59404、CO59405、CO59603、CO59604<br>
IH26101、IH26103～IH26107、IH26109～IH26111<br>
IH26113～IH26120、IH33401、IH33407、IH33408<br>
IH33423、IH33432、IH33433、IH33474、IH33481<br>
IH33482、IH33484、IH33499、IH33533、IH33534<br>
IH33537、IH33538、IH34401～IH34404<br>
IH34412～IH34417、IH34423、IH34424、IH34426<br>
IH34429～IH34432、IH34437～IH34442<br>
          <b>■レースカーテン</b><br>
IH14201、IH14203～IH14205</p>
      </div>
    <!-- お届けまでの目安期間 end -->
    <!-- 注文の確定について start -->
      <h3 style="margin-bottom:0px;">ご注文内容の確定について</h3>
      <div class="mb30">
        <p class="mb10">※決済方法に関わらず、ご注文完了・お支払完了後に入金確認メールを送付しております。入金確認メールが届いたことで「ご注文確定」となります。<br />
        入金確認メールは、決済完了後1営業日以内（週末及び年末年始休業期間は除く）に送付しております。<br>
        入金確認メールが届かない場合は、ご注文お受け付けメール（自動配信メール）に記載の「ご注文番号」をご記入のうえこちらまでお問合せください。<br>
        </p>
        <p>&raquo; <a href="https://www.oukoku.co.jp/contact/product/"><font color="#0000cd"><b>ご注文に関するお問い合わせページへ</b></font></a></b><br><br>
        ※お問い合わせは、平日１０：００～１７：００のご対応とさせていただいております。</p>
      </div>
    <!-- 注文の確定について end -->
    <!-- その他ご注意点 start -->
      <div class="mb30">
        <p>※コンビニ決済の場合は、お支払を完了していただく必要がございます。お支払完了後、入金確認メールを送付いたします。<br>
※※コンビニ決済、キャリア決済の場合、確認にお時間がかかる場合がございますので早めにご注文をいただくか、別の決済方法をご利用ください。<br>
※ご注文サイズが誤っている可能性がある場合、弊社より「受注確認メール」もしくはお電話にてご連絡をさせていただくこともございます。
その場合は、商品の発送納期が当初より遅れることもございます。予めご了承ください。<br>
※商品によっては、締め切りが前後する場合がございます。その場合、ご注文確認メール（自動配信）後、ご連絡致します。予めご了承ください。<br>
※1月1日以降の新規ご注文分については、1月16日以降順次発送させていただきます。
        </p>
        <p style="color:#ff0000;"><b>店舗でご注文いただく場合は期限が異なります。詳しくはお近くの店舗へお問い合わせください。</b></p>
        <p><b>&raquo; <a href="https://www.oukoku.co.jp/tenpo-top/"><font color="#0000cd">店舗検索ページへ</font></a></b></p>
      </div>
    <!-- その他ご注意点 end -->
    <!-- 年末年始のご対応 start -->
        <h3 style="margin-bottom:0px;">オンラインショップの年末年始のご対応について</h3>
      <div class="mb30">
        <p>オンラインショップは、12月29日～1月5日まで、誠に勝手ながら事務局を休業とさせて頂きます。<br>
        ご注文に関するお問い合せや決済の確認は、1月6日以降に順次対応をさせていただきます。</p>
        <p style="color:#ff0000;"><b>店舗の年末年始の営業時間については異なりますので、詳しくはこちらをご確認ください。</p>
        <p>&raquo; <a href="https://www.oukoku.co.jp/tenpo-top/"><font color="#0000cd">店舗検索ページへ</font></a></p>
      </div>
    <!-- 年末年始のご対応 end -->
    </div>
  </div>
</div>
