<div class="page delivery">
  <div class="sub_contents">
    <div class="ttl">
      <h2>年末年始の営業とご注文についてのご案内</h2>
      <p class="mb30">オンラインショップと店舗の営業時間や年末年始のご対応についてご案内いたします。<br>
        オンラインショップと店舗では営業日時や年内お渡しのご対応が異なるため、それぞれご確認いただきますようお願い申し上げます。</p>
    </div>
    <div class="section" id="1">
      <h3>◆オンラインショップ年末年始営業についてのご案内</h3>
      <div class="mb30">
        <p class="mb10">年末年始については12月28日（土）～1月5日（日）までお休みをいただいております。<br>
         お問い合わせにつきましては1月6日以降にご返信いたします。<br>
1月6日以降はお問い合わせやご注文が集中するため、ご返信や商品出荷に数日要する場合がございます。<br>
ご不便をお掛けいたしまして大変申し訳ございませんがご了承賜りますようお願い申し上げます。</p>
<br>
<br>
        <h3 style="margin-top:25px;">◆店舗の年末年始営業についてのご案内</h3>
        <p class="mb10">年末年始の営業日時は店舗により異なります。<br>
詳しくはご利用予定店舗の店舗基本情報をご確認いただくか、直接店舗までお問い合わせください。<br>
        <b><p>&raquo; <a href="https://www.oukoku.co.jp/tenpo-top/"><font color="#0000cd">店舗検索ページへ</font></a></p></b>
<br>
<br>
        <h3 style="margin-top:25px;">◆オンラインショップご注文分の年末年始のお届けについて</h3>
        <p class="mb10">オンラインショップに掲載されている商品は、12月20日14：59までのご注文確定で年内お渡しが可能です。<br>
（一部商品は12月17日14：59までのご注文確定となります）<br>
決済方法やサイズによってご希望に添えない場合がございます。<br>
詳しくは「オンラインショップの年末年始のお届けに関するご案内」をご確認ください。<br>
       <b> <p>&raquo; <a href="https://www.oukoku.co.jp/shop/user_data/new-years-holiday-delivery.php"><font color="#0000cd">オンラインショップの年末年始のお届けに関するご案内</font></a></p><b/>
<br>
<br>
        <h3 style="margin-top:25px;">◆店舗ご注文分の年内お渡しについて</h3>
        <p class="mb10">12月23日（月）までにご注文いただければ年内のお渡しが可能です。<br>
（店頭でのお渡しになります）<br>
※一部商品、特殊加工を除きます。<br>
※予告なく商品の締め切りが変更になる場合がございます。予めご了承ください。<br>
※年末年始は大変混みあうため、早めのご注文をお願いいたします。<br>
詳しくはご利用予定の店舗までお問い合わせください。<br>
        <b><p>&raquo; <a href="https://www.oukoku.co.jp/tenpo-top/"><font color="#0000cd">店舗検索ページへ</font></a></p></b>


      </div>
    </div>
  </div>
</div>
