<div class="page delivery">
  <div class="sub_contents">
    <div class="ttl">
      <h2>【オンラインショップ】<br>
        お盆期間前後のお届けに関するご案内</h2>
      <p class="mb30">オンラインショップでご購入頂きました商品のお届け日につきまして、ご案内いたします。<br>
        お盆前にお届け希望のお客様は、締め切りの期限が迫っておりますので、出来るだけお早めにご注文いただきますようお願いいたします。</p>
    </div>
    <div class="section" id="1">
      <h3>ご注文内容の確定について</h3>
      <div class="mb30">
        <p class="mb10">締切日までにお支払い・ご注文商品・サイズの確定までを完了して頂く必要がございます（ご注文サイズが誤っている可能性がある場合、弊社よりご連絡をさせていただくことがございます。その場合は、商品の発送納期が当初より遅れることもございます。予めご了承ください）。<br>
          コンビニ払い・キャリア決済の場合、入金確認にお時間が掛かる場合があり、納期が下記と異なる場合がございます。</p>
        <h3 style="margin-top:25px;">お届けまでの目安期間</h3>
        <p class="mb20"><img src="http://www.oukoku.co.jp/shop/user_data/guide/1B6461E8-D6CE-4642-86EC-9BCDD813737A.png" style="margin-right:10px; margin-left:10px; width:360px;" /> <img src="http://www.oukoku.co.jp/shop/user_data/guide/C4D4717F-33BF-40AB-8171-1EDFE75ABA48.png" style="margin-right:10px; margin-left:10px; width:360px;" /></p>
        <h4>【オーダー品対象外品番】</h4>
        <p><b>下記品番に関しては7月30日（16：59）までに注文内容確定で約10日後に発送。<br>
        7月30日（17：00）以降は8月24日以降順次発送となります。</b><br>
IH14201～05、IH26101～12<br>
IH33401、IH33407～08<br>
IH33419、IH33423<br>
IH33432～33、IH33457～58<br>
IH33473～74、IH33481～84<br>
IH33499、IH34401<br>
IH34402～05、IH34413～17<br>
IH34423～24、IH34426<br>
IH34429～32、IH33533～34<br>
<br>
CO52503～04、CO53501～02<br>
CO56401～02、CO58501～02<br>
CO59404～05、CO59603～04</p>
        <br>
        <p style="color:#ff0000;">ご注文いただいた商品やサイズにより8月9日の発送に間に合わない場合がございます。予めご了承ください。発送後メールにてお知らせさせていただきます。</p>
        <br>
        <p style="color:#ff0000;"><b>店舗でご注文いただく場合は、期限が異なります。詳しくはお近くの店舗へお問い合わせください。</p>
        <p>>> <a href="https://www.oukoku.co.jp/tenpo-top/">店舗検索</a></b></p>
        <br>
        <h3>オンラインショップのお盆期間のご対応について</h3>
        <p>オンラインショップは8月10日～8月18日は誠に勝手ながら、事務局は休業とさせて頂きます。ご注文に関するお問い合せや決済の確認は、8月19日以降に順次対応をさせていただきます。<br>
          8月19日以降はお問合せやご注文が集中するため、メール返信や出荷には数日要する場合がございます。<br>
          ご不便をお掛けいたしまして大変申し訳ございませんがご了承賜りますよう、お願い申し上げます。</p>
      </div>
    </div>
  </div>
</div>