<style>
.feature dl {
    width: 31%;
}
</style>
<div class="page-body">
		<div class="inner feature">

			<div class="title01"><img src="<!--{$TPL_URLPATH}-->img/common/n_title_01.png"></div>
			<div class="title02"><img src="<!--{$TPL_URLPATH}-->img/common/n_title_02.png"></div>

			<div class="sec01 clearfix">

		<!--{*<a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->active/media/sitamachi-rocket/" target="_blank">*}-->
		<a href="/active/media/sitamachi-rocket/" target="_blank">
          <dl>
            <dt><img src="/wp/wp-content/uploads/2018/10/a4c04ebacf910cb5c63312d94a02fdf6.png" alt="下町ロケット"/></dt>
            <dt>下町ロケット美術協力</dt>
            <!-- <dd>下町ロケット</dd> -->
          </dl>
        </a>		<a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->tenpp-service/free/" target="_blank">
          <dl>
            <dt><img src="<!--{$TPL_URLPATH}-->img/banner/op-sliderBnr01.jpg" alt="採寸メジャープレゼント"/></dt>
            <dt>採寸メジャープレゼント</dt>
            <!-- <dd>採寸メジャープレゼント</dd> -->
          </dl>
        </a>
        <a href="/shop/user_data/cloth-sample.php">
          <dl>
            <dt><img src="<!--{$TPL_URLPATH}-->img/banner/op-sliderBnr02.jpg" alt="生地サンプル"/></dt>
            <dt><span>カーテンの生地サンプルお送りします</span></dt>
            <!-- <dd>カーテンの生地サンプルお送りします</dd> -->
          </dl>
        </a>
        <a href="/shop/user_data/thermalbarrier.php">
          <dl>
            <dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_02.png" alt="遮熱断熱"/></dt>
            <dt>遮熱断熱<span>特集</span></dt>
            <dd>これからの季節に最適！熱を遮断して冷暖房がよく効く！</dd>
          </dl>
        </a>
        <a href="/shop/user_data/shade.php">
          <dl>
            <dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_03.png" alt="遮光カーテン"/></dt>
            <dt>遮光カーテン<span>特集</span></dt>
            <dd>日よけや街灯などの光を遮断する遮光カーテン特集</dd>
          </dl>
        </a>
			</div>
		</div><!-- page-body inner -->
	</div><!-- page-body -->
