<div class="page select">
    <div class="ttl">
        <h2><span></span>商品の選び方</h2>
    </div>

    <div class="p_link">
        <ul>
            <li><a href="#step1"><p class="func">カーテン編</p></a></li>
            <li><a href="#step2"><p class="func">ブラインド編</p></a></li>
            <li><a href="#step3"><p class="func">カーペット編</p></a></li>
        </ul>
    </div>

    <div class="section select_curtain" id="step1">
        <h3>カーテン編</h3>
        <div class="section">
            <h4>ポイント1.お部屋のスタイルを決めます。</h4>
            <p>
                人が集まるリビングは、お家の顔になります。行ものを取り入れるより、長くあきのこないデザインを選びましょう。
            </p>
            <h4>ポイント2.生地を選びます。</h4>
            <p>
                リビングなど長い時間過ごすお部屋には、落ち着いた飽きのこないデザインを選んだり、寝室は屋外から入ってくる街灯の光を遮るために遮光付のカーテンを選んだりと、お部屋によってカーテンを選ぶポイントが異なります。カーテンは生地によってさまざまな特性があるので、お部屋に合わせたカーテン選びが大切です。まずはドレープ（厚地）カーテンを選び、組み合せるレースカーテンを選びましょう。レースを室内側に吊るして、ドレープとレースのコーディネートを楽しむスタイルもおすすめです。
            </p>
            <h4>ポイント3.サイズを測ります。</h4>
            <p>
                窓サイズに合わせてカーテンをお作りすることで、窓に合った美しいカーテンが仕上がります。
            </p>
            <p style="text-align:right;margin-top:30px;"><a href="<!--{$smarty.const.ROOT_URLPATH}-->user_data/measurements.php">カーテンの採寸方法</a></p>
        </div>
    </div>

    <div class="section select_curtain" id="step2">
        <h3>ブラインド編</h3>
        <div class="section">
            <h4>ポイント1.使うお部屋の窓の形状、大体の大きさ、窓の位置を調べます。</h4>
            <p>
                ブラインドは全てオーダー品ですので、ご希望のサイズでお作りすることができます。取り付ける位置や窓の大きさによって、それぞれ適したアイテムがあります。
            </p>
            <h4>ポイント2.商品を選びます。</h4>
            <p>
                上下に昇降し柔らかい雰囲気のある木製ブラインド、水に強いアルミブラインド、屋外からの視線を遮ってくれるプリーツスクリーンなど、様々なアイテムがあります。 
            </p>
            <h4>ポイント3.サイズを測ります。 </h4>
            <p>
                窓サイズに合わせてカーテンをお作りすることで、窓に合った美しいブラインドが仕上がります。
            </p>
        </div>
    </div>

    <div class="section select_curtain" id="step3">
        <h3>カーペット編</h3>
        <div class="section">
            <h4>ポイント1.使うお部屋と床の状況、サイズ感を調べます。</h4>
            <p>
                ラグを敷くお部屋を決めたら、ドアや家具がラグに被らないかご確認ください。サイズ感は「2帖くらい」という感じでＯＫです。
            </p>
            <h4>ポイント2.お部屋のテイストを決めます。</h4>
            <p>
                こんなお部屋にしたいというイメージを決めます。大体で良いのでイメージを決めると、カーテンや家具も選びやすくなります。
            </p>
            <h4>ポイント3.アイテムを選びます。</h4>
            <p>
                こんなお部屋にしたいというイメージに合わせて、カーペットのデザインをお選びください。併せて防汚加工のあるカーペットや、洗いやすいラグなどもあるので機能も合わせてご確認ください。
            </p>
        </div>
    </div>

</div>
