<style>
.c-feature2 .sec02 dl {
    width: 31%;
}
</style>
<div class="c-feature">
		<div class="slide">
			<img src="<!--{$TPL_URLPATH}-->img/common/sale_main.png" width="100%">
			</div>
		<div class="inner" style="width: 100%;">
			<p style="width: 100%">カーテンじゅうたん王国は、法人様からのご相談も承っております。<br>
				1窓からのご相談からお気軽にご相談ください。コーディネートのご提案から、採寸やカーテンレールの取付工事までサポートさせていただいております。<br>
				＜サポート実績＞ホテル、病院、接骨院、保育園、幼稚園、飲食店、カフェ、老人ホーム、公民館、お寺、集会場、など</p>
			
<!--
			<h3><img src="<!--{$TPL_URLPATH}-->img/common/feature_title.png"></h3>
					
			<div class="sec01 clearfix">
                <a href="/shop/user_data/to-company.php">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_01.png"></dt>
						<dt>法人・個人事業主・事業者さまへ</dt>
						<dd>カーテンじゅうたん王国は、法人様からのご相談も承っております。</dd>
					</dl>
				</a>
                <a href="https://www.oukoku.co.jp/shop/products/list.php?category_id=1823">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_02.png"></dt>
						<dt>遮熱断熱<span>特集</span></dt>
						<dd>これからの季節に最適！熱を遮断して冷暖房がよく効く！</dd>
					</dl>
				</a>
                <a href="https://www.oukoku.co.jp/shop/products/list.php?category_id=1821">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_03.png"></dt>
						<dt>遮光カーテン<span>特集</span></dt>
						<dd>日よけや街灯などの光を遮断する遮光カーテン特集</dd>
					</dl>
				</a>
			</div>
-->			
			</div>
			<div class="c-feature2">
			<div class="infomation">
				<div class="inner" style="width: 100%">
				<h3><img src="<!--{$TPL_URLPATH}-->img/common/feature_title2.png"></h3>
				<div class="sec02 clearfix">
                <a href="/shop/user_data/to-company.php">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_01.png"></dt>
						<dt>法人・個人事業主・事業者さまへ</dt>
						<dd>カーテンじゅうたん王国は、法人様からのご相談も承っております。</dd>
					</dl>
				</a>
                <!--{*<a href="/shop/user_data/thermalbarrier.php">*}-->
                <a href="https://www.oukoku.co.jp/shop/products/list.php?category_id=1823">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_02.png"></dt>
						<dt>遮熱断熱<span>特集</span></dt>
						<dd>これからの季節に最適！熱を遮断して冷暖房がよく効く！</dd>
					</dl>
				</a>
                <!--{*<a href="/shop/user_data/shade.php">*}-->
                <a href="https://www.oukoku.co.jp/shop/products/list.php?category_id=1821">
					<dl>
						<dt><img src="<!--{$TPL_URLPATH}-->img/common/n_img_03.png"></dt>
						<dt>遮光カーテン<span>特集</span></dt>
						<dd>日よけや街灯などの光を遮断する遮光カーテン特集</dd>
					</dl>
				</a>
			</div>
					</div>
			</div>

			<div class="sec03" style="width: 100%">
			<h3><img src="<!--{$TPL_URLPATH}-->img/common/feature_title3.png"></h3>
			
			<div class="img01" style="width: 100%"><img src="<!--{$TPL_URLPATH}-->img/common/n_logo_01.png"></div>
			
			<p class="center" style="width: 100%">その他、沢山の国内外のメーカー・ブランドを<br>
				取り扱いしております。<br>
				<br>ご相談はお近くの店舗へ</p>
			
			<div class="btn"><a href="<!--{$smarty.const.WP_COMPANY_URLPATH}-->tenpo-top/">店舗検索</a></div>
			</div>
		
		</div><!-- page-body inner -->
	</div><!-- page-body -->
