@charset "UTF-8";

/* マイページログイン// */
.LC_Page_AbstractMypage .breadcrumb .wide {
  background-color: #eefbff;
  font-size: 13px;
  padding: 20px 0;
}


.mypageLogin h1 {
  color: #00c1fc;
  font-size: 1.5em;
  margin-bottom: 3%;
}
.mypageLogin h1 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
  margin-left: 2%;
}
.mypageLogin h1 span {
  display: inline-block;
  vertical-align: middle;
}
.login_mypage {
  overflow: hidden;
}
.login_area.left {
  width: 92%;
  margin: 0 auto;
}
.login_area.right {
  width: 92%;
  margin: 10% auto 0;
}




.login_area h2 {
  border-bottom: 5px solid #f0f0f0;
  margin: 0 0 3%;
  padding-bottom: 2%;
}
.login_area h2 img {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.login_area h2 span {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.login_area > p.login_paragraph {
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 4%;
}
.inputbox {
  background-color: #b5eeff;
  border-radius: 6px;
  padding: 28px;
}
.inputbox dl {
  float: none;
  margin-bottom: 25px;
}
.inputbox dt {
  color: #656565;
  font-size: 14px;
  margin-bottom: 5px;
}
.inputbox dd {
  margin: 0;
}
.inputbox input {
  appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 14px;
}
.btn_area.login {
  margin-top: 0;
}
.login_area > p.login_forget {
  font-size: 0.8em;
  color: #777;
  line-height: 1.8;
  margin-top: 4%;
  width: 96%;
  margin: 0 auto;
}
.login_area .globalsign {
  margin: 5% 0;
}
.benefits .contentBox {
  background-image: url(/user_data/packages/shinchan/img/mypage/benefitsBg.jpg);
  border-radius: 8px;
}
.benefits .contentBox h3 {
  margin: 0;
}
.benefits .contentBox h3 .frame {
  text-align: center;
  background-image: url(/user_data/packages/shinchan/img/mypage/wave.png);
  background-repeat: repeat-x;
  background-size: 14%;
  padding: 3% 0 7%;
  border-radius: 8px 8px 0 0;
}
.benefits .contentBox h3 .frame img {
  display: inline-block;
  vertical-align: middle;
}
.benefits .contentBox h3 .frame img:first-child {
  width: 20%;
}
.benefits .contentBox h3 .frame img:nth-child(2) {
  width: 50%;
}
.benefits .contentBox ul {
  padding: 0;
  text-align: center;
  margin-top: 5px;
}
.benefits .contentBox ul li {
  display: inline-block;
  vertical-align: middle;
  width: 31.5%;
}
.benefits .contentBox ul li img {
  width: 100%;
}
.benefits .contentBox ul.bottom li:nth-child(2) {
  width: 17%;
  margin: 0 3%;
}
.benefits .contentBox .entry {
  text-align: center;
  padding: 10px 0;
}
.benefits .contentBox .entry img{
  width: 90%;
}
.benefits .memberRank {
  margin: 3% 0 10%;
}
.benefits .memberRank img {
  width: 100%;
}
/* //マイページログイン */

.LC_Page_AbstractMypage #bottomcolumn {
  padding-top: 100px;
}
