@charset "UTF-8";

/* マイページログイン// */
.LC_Page_AbstractMypage .breadcrumb .wide {
  background-color: #eefbff;
  font-size: 13px;
  padding: 20px 0;
}

.mypageLogin h1 {
  color: #00c1fc;
  font-size: 30.5px;
}
.mypageLogin h1 img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mypageLogin h1 span {
  display: inline-block;
  vertical-align: middle;
}
.login_mypage {
  overflow: hidden;
}
.login_area {
  width: 490px;
}
.login_area.left {
  float: left;
}
.login_area.right {
  float: right;
}
.login_area h2 {
  border-bottom: 5px solid #f0f0f0;
  margin: 0 0 20px;
  padding-bottom: 12px;
}
.login_area h2 img {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.login_area h2 span {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.login_area > p.login_paragraph {
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 15px;
}
.inputbox {
  background-color: #b5eeff;
  border-radius: 6px;
  padding: 28px;
}
.inputbox dl {
  float: none;
  margin-bottom: 25px;
}
.inputbox dt {
  color: #656565;
  font-size: 14px;
  margin-bottom: 5px;
}
.inputbox dd {
  margin: 0;
}
.inputbox input {
  appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #FFF !important;
  padding: 5px 10px;
  font-size: 14px;
}
.btn_area ul {
  padding: 0;
}
.btn_area ul li button {
    display: block;
    width: 100%;
    background: #00c1fc;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 12px;
    color: #FFF;
}
.login_area > p.login_forget {
  font-size: 14px;
  color: #777;
  line-height: 1.8;
  margin-top: 20px;
}
.login_area .globalsign {
  margin-top: 180px;
}
.benefits .contentBox {
  background-image: url(/user_data/packages/shinchan/img/mypage/benefitsBg.jpg);
  border-radius: 8px;
}
.benefits .contentBox h3 {
  margin: 0;
}
.benefits .contentBox h3 .frame {
  text-align: center;
  background-image: url(/user_data/packages/shinchan/img/mypage/wave.png);
  background-repeat: repeat-x;
  padding: 10px 0 24px;
  border-radius: 8px 8px 0 0;
}
.benefits .contentBox h3 .frame img {
  display: inline-block;
  vertical-align: middle;
}
.benefits .contentBox ul {
  padding: 0;
  text-align: center;
}
.benefits .contentBox ul.above {
  margin-top: 5px;
}
.benefits .contentBox ul.above li {
  display: inline-block;
  vertical-align: middle;
}
.benefits .contentBox ul.bottom {
  margin-top: -20px;
}
.benefits .contentBox ul.bottom li {
  display: inline-block;
  vertical-align: bottom;
}
.benefits .contentBox .entry {
  text-align: center;
  padding: 10px 0;
}
.benefits .memberRank {
  margin-top: 50px;
}
/* //マイページログイン */

.LC_Page_AbstractMypage #bottomcolumn {
  padding-top: 100px;
}
