@charset "utf-8";
/* CSS Document */

@media screen and (max-width:960px) {
	
#wrap {
	padding:0;
	color:#555;
	overflow:hidden;
}

h2 {
	margin:0 0 30px;
	font-size:24px;
	font-weight:normal;
	text-align:center;
}
h2 span small {
	margin:0 10px 0 0;
	font-size:0.7em;
}
h2 span {
	position:relative;
	text-align:center;
}
h2 span:before {
	content:"";
	position:absolute;
	top:50%;
	left:-70px;
	width:50px;
	height:1px;
	background:#333;
}
h2 span:after {
	content:"";
	position:absolute;
	top:50%;
	right:-70px;
	width:50px;
	height:1px;
	background:#333;
}
.btn001 {
	min-width:60%;
	max-width:90%;
	margin:0 auto;
}
.btn001 a {
	display:block;
	position:relative;
	text-align:center;
	border:solid 1px #555;
	line-height:3em;
}
.btn001 a:hover {
	background:#f5f5f5;
	border:solid 1px #aaa;
}
.btn001 a:after {
	content:url(../img/icon/arrow02.png);
	position:absolute;
	right:5%;
}
.linkA {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.linkA:hover {
	background:rgba(246, 246, 246, 0.7);
}
.fixed {
	position:fixed;
}
.lh0 {
	line-height:0;
}
a:hover img {
	opacity:0.6;
}
.bgOrange {
	background:#d96d00;
}
.bgGreen {
	background:#017e46;
}
.boxSilver {
	margin:1%;
	padding:10px;
	background:#fafafa;
	border:solid 1px #ccc;
}
/*
size px
**********************/
#headerInner,
header > nav ul,
header > nav > ul > li .navContents,
.pickup,
.ranking,
.coordinate,
.voice,
.search,
.instagram {
	width:94%;
	margin:0 auto;
}

.informationInner {
	width:100%;
}

/*header
********************************************************************************************************/
header {
}
#topBanner {
	text-align:center;
	background:#f8f8f8;
	line-height:0;
}
#headerInner {
	padding:10px 0;
}
#headerGuide {
	margin:0 0 10px;
}
#headerGuide ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
	font-size:14px;
}
#headerGuide ul li {
	position:relative;
	margin:0 0 0 50px;
	padding:3px 0;
	border-bottom:dotted 1px #555;
}
#headerGuide ul li i.s_guiIcon:before {
	content:url(../img/icon/s_guide_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}
#headerGuide ul li i.queIcon:before {
	content:url(../img/icon/que_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}
#headerGuide ul li i.inqIcon:before {
	content:url(../img/icon/inq_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}


#header {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-align-items:center;
	align-items:center;
}
#header h1 {
	text-align:center;
}

#headerMenu ul {
	display:-webkit-flex;
	display:flex;
	font-size:14px;
}
#headerMenu ul li {
	position:relative;
	margin:0 0 0 50px;
	padding:3px 0;
	border-bottom:dotted 1px #555;
}
#headerMenu ul li i.firIcon:before {
	content:url(../img/icon/fir_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}
#headerMenu ul li i.newIcon:before {
	content:url(../img/icon/new_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}
#headerMenu ul li i.logIcon:before {
	content:url(../img/icon/log_icon.png);
	position:absolute;
	top:0;
	left:-25px;
}
#headerSistem ul {
	display:-webkit-flex;
	display:flex;
}
#headerSistem ul li {
	margin:0 0 0 20px;
	padding:3px 0 0;
}

#headerSistem ul li input.form-control {
	width:280px;
	height:25px;
	padding:0 5px;
	background:#eee;
	border:none;
}
	


/*headerNav
*********************************************/
header > nav {
	border-top:solid 1px #000;
}
header > nav > ul {
	display:-webkit-flex;
	display:flex;
	position:relative;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-align-items:center;
	align-items:center;
	font-size:12px;
	text-align:center;
}
header > nav > ul li {
	width:-webkit-calc(100% / 9);
	width:calc(100% / 9);
	padding:0;
}
header > nav > ul > li > a {
	position:relative;
	display: block;
	height:85px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	border-top:solid 2px #fff;
}
header > nav > ul > li > a:after {
	content:url(../img/icon/arrow01.png);
	position:absolute;
	left:0;
	right:0;
	bottom:5px;
}

header > nav > ul > li > a:hover {
	border-top:solid 2px #000;
}
	
header > nav > ul > li > a > span {
	display:block;
	padding:10px 0 5px;
}

header > nav > ul > li:hover > a {/*
	background: #f1f1f1;*/
}
header > nav > ul > li.mddActive > a {
	position:relative;
	/*
	background: #f1f1f1;*/
	border-top:solid 2px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	transition:none;
}
header > nav > ul > li.mddActive:first-child > a,
header > nav > ul > li.mddActive:nth-child(5) > a,
header > nav > ul > li.mddActive:nth-child(8) > a,
header > nav > ul > li.mddActive:nth-child(9) > a {
	border:none;
	border-top:solid 2px #000;
}


header > nav > ul > li.mddActive > a:after {
	position:absolute;
	left:0;
	bottom:-1px;
	width:100%;
	height:10px;
	background:#fff;
	transform:rotate(180deg);
	z-index:999;
}

header > nav > ul > li .navContents {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	margin:0;
	padding:20px;
	background: #fff;/*
	background: linear-gradient(to bottom, #fff 0%, #efefef 100%);*/
	border: solid 1px #aaa;
	z-index: 10;
	overflow: hidden;
	box-shadow: 0 2px 2px #eee;
	-webkit-box-shadow: 0 2px 2px #eee;
}
header > nav > ul > li .navContents ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:flex-start;
	width: 1060px;
}
header > nav > ul > li .navContents ul li {
	width:calc(96% / 5);
	margin:0 1%;
	line-height:1.5em;
}
header > nav > ul > li .navContents ul li img {
	width:100%;
}
header > nav > ul > li .navContents ul li span {
	text-align:center;
	border-bottom:dotted 1px #555;
}
#magic-line { 
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #000;
}

header > nav > ul > li:first-child {
	position:relative;
}
header > nav > ul > li:hover:before {
	content:"";
	position:absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 2px; 
	background: #fff;
}
.homeLine {
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 2px; 
	background: #000;
}
		
/*leftbar
***********************************************************************************/

/*pickup
***********************************************************************************/
.pickup {
	margin:0 auto 20px;
	padding:30px 0;
}
.pickup h3 {
	margin:0 0 10px;
	font-size:20px;
	font-weight:500;
}
.pickup h3 small {
	margin:0 0 0 5px;
	font-size:0.7em;
}
.pickup h4 {
	font-size:12px;
	font-weight:normal;
}
.pickup ul {
	display:block;
	margin:0 0 40px;
}
.pickup ul li {
	width:100%;
	margin:0 0 20px;
}
.pickup ul li dl dt {
	margin:0 0 10px;
}
.pickup ul li dl dt img {
	width:100%;
}


/*ranking
***********************************************************************************/
.ranking {
	margin:0 auto 40px;
}
.rankMenu {
	margin:0 0 40px;
}
.rankMenu h3 {
	font-size:14px;
	font-weight:normal;
	text-align:left;
}
.rankMenu section {
	padding:15px 0;
}
.rankMenu section img {
	width:100%;
}
.tabs {
	display:block;
	margin: 0 0 1px;
}
.tabs li {
	position:relative;
	list-style: none;
	margin:0 18px 0 50px;
	font-size:20px;
	opacity:0.3;
}
.tabs li:first-child:before {
	content:url(../img/icon/curtain2.png);
	position:absolute;
	top:5px;
	left:-30px;
}
.tabs li:first-child:after {
	content:none;
}
.tabs li:nth-child(2):before {
	content:url(../img/icon/carpet2.png);
	position:absolute;
	top:5px;
	left:-30px;
}
.tab {
	position: relative;
	top: 1px;
	margin:0 1%;
	padding: 3px 2px;
	color: #555;
	text-align: center; 
	transition: 0.5s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	line-height: 1.5em;
	cursor: pointer;
}
.active {
	opacity:1 !important;
}
.active span {
	border-bottom:dotted 1px #555;
}
.active > a {
	cursor: default;
}
.curtain ul,
.carpet ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.curtain ul li,
.carpet ul li {
	width:-webkit-calc(96% / 2);
	width:calc(96% / 2);
}
.curtain ul li h4,
.carpet ul li h4 {
	position:relative;
	min-height:30px;
	margin:0 0 10px;
	padding:0 0 0 26px;
	font-size:12px;
	font-weight:normal;
}
 
.curtain ul li h4 span,
.carpet ul li h4 span {
	position:absolute;
	top:1%;
	left:0;
	font-size:24px;
}

/*coordinate
*****************************************************************************/
.coordinate {
	margin:0 auto 40px;
}
.coordinate ul {
	display:block;
}
.coordinate ul li {
	width:100%;
	margin:0 0 5px;
}
.coordinate ul li img {
	width:100%;
}
.coordinate ul li dl dt {
	margin:0 0 1%;
}
.coordinate ul li dl dd ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}
.coordinate ul li dl dd ul li {
	width:-webkit-calc(98% / 2);
	width:calc(98% / 2);
}
/*voice
**************************************************************************/
.voiceContents {
	display:block;
	margin:0 0 80px;
} 
.voiceLeft {
	width:100%;
	height:auto;
	margin:0 0 20px;
	padding:5%;
	background:url(../img/voice/voice_bg02.png) repeat;
	line-height:1.4em;
} 

.voiceLeft  ul {
	display:block;
}
.voiceLeft > ul > li {
	width:100%;
}
.voiceLeft > ul > li:first-child {
	width:100%;
	margin:0 0 30px;
	line-height:0;
}
.voiceLeft ul li dl img {
	width:100%;
}
.voiceLeft ul li dl dd ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;	
}
.voiceLeft ul li dl dd ul li {
	width:50%;
}
.voiceText {
	padding:0 0 0 2%;
	font-size:13px;
}
.voiceText dl {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	margin:0 0 10px;
}
.voiceText dl dt {
	width:35%;
}
.voiceText dl dd {
	width:75%;
}
.voiceText dl dd h3 {
	margin:30px 10px;
	font-size:16px;
}
.voiceText dl dd .name {
	margin:0 0 10px;
	text-align:right;
	font-size:14px;
}
.voiceText ol li {
	margin:0 0 15px;
}
.voiceText p {
	margin:0 0 15px;
}
.voiceRight {
	width:100%;
	margin:0;
} 
.voiceRight ul {
	margin:0 0 40px;
}
.voiceRight ul li {
	margin:0 0 24px;
	padding:10px 0 30px;
	border-bottom:solid 1px #ccc;
}
.voiceRight ul li dl {
	display:block;
	font-size:13px;
}
.voiceRight ul li dl dt {
	margin:0 0 15px;
	text-align:center;
}
.voiceRight ul li dl dd {
	padding:0 0 0 2%;
	line-height:1.5em;
}
.voiceRight ul li dl dd h3 {
	margin:0 0 10px;
	font-size:16px;
	line-height:1.2em;
}
.voiceRight ul li dl dd .name {
	margin:0 0 10px;
	text-align:right;
	font-size:13px;
}
.voiceRight ul li dl dd h4 {
	margin:0 0 10px;
	font-weight:normal;
	font-size:13px;
}
/*information
*****************************************************************************************/
.information {
	margin:0 0 50px;
	padding:40px 0;
	background:#f6f6f6;
}
.informationInner {
	margin:0 auto;
}
.informationInner ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:center;
	justify-content:center;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
}       
.informationInner ul li {
	position:relative;
	width:-webkit-calc(90% / 2);
	width:calc(90% / 2);
	margin:0 0 30px;
	text-align:center;
	line-height:2em;
}
.informationInner ul li:before {
	content:url(../img/icon/arrow01.png);
	position:absolute;
	left:0;
	right:0;
	bottom:-15px;
}
.informationInner ul li dl dd h3 {
	font-size:13px;
	font-weight:normal;
}
/*search
*******************************************************************************************/
.search {
	margin:0 auto 80px;
}
.search ul {
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	font-size:13px;
}

.search ul li h3 {
	margin:0 0 25px;
	font-weight:normal;
	text-align:center;
	border-bottom:solid 2px #ccc;
	line-height:2.5em;
}
.search > ul > li:first-child {
	width:100%;
}
.search > ul > li:first-child ul li {
	width:-webkit-calc(100% / 2);
	width:calc(100% / 2);
	margin:0;
}
.search > ul > li:nth-child(2) {
	width:100%;
	margin:0;
}
.search > ul > li:nth-child(2) ul li {
	width:-webkit-calc(100% / 2);
	width:calc(100% / 2);
	margin:0 0 8px;
}
.search > ul > li:nth-child(3) {
	width:100%;
	margin:0;
}
.search > ul > li:nth-child(3) ul li {
	width:-webkit-calc(100% / 2);
	width:calc(100% / 2);
	margin:0 0 8px;
}
.search > ul > li:nth-child(3) > ul > li:nth-child(5n) {
	padding:0 0 0 2%;
}
.search > ul > li dl {
	display:block;
	margin:0 0 10px;
	text-align:center;
}
.search > ul > li dl dt {
	margin:0 0 5px;
}
.search > ul > li dl dd {
	padding:0;
}

	
	
	
}