@charset "utf-8";
/* CSS Document */
/*reset
******************************************************************************************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
a:hover {
	-webkit-opacity: 0.5;
	opacity: 0.5;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}

::-webkit-input-placeholder {
 color:#eee;
 font-style: italic;
}
.mgL135 {
	margin-left: 135px;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
*:focus {
	outline: none;
}
input[type="button"], input[type="submit"] {
	-webkit-appearance: none;
}
/*
**********************************************************************************************************/
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.alignC {
	text-align: center;
}
.alignL {
	text-align: left;
}
.alignR {
	text-align: right;
}
.orderC {
	order: 2;
}
.orderL {
	order: 1;
}
.orderR {
	order: 3;
}
.orderF {
	order: -1;
}
body {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", Osaka, "MS P Gothic", sans-serif;
}
#wrap {
	padding: 0;
	color: #555;
	overflow: hidden;
}
h2 {
	margin: 0 0 30px;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}
h2 > span small {
	margin: 0 10px 0 0;
	font-size: 0.7em;
}
h2 > span {
	position: relative;
	text-align: center;
}
h2 > span:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -170px;
	width: 150px;
	height: 1px;
	background: #333;
}
h2 > span:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -170px;
	width: 150px;
	height: 1px;
	background: #333;
}
.btn001 {
	min-width: 200px;
	max-width: 300px;
	margin: 0 auto;
}
.btn001 a {
	display: block;
	position: relative;
	text-align: center;
	border: solid 1px #555;
	line-height: 3em;
}
.btn001 a:hover {
	background: #f5f5f5;
	text-decoration: none;
	border: solid 1px #aaa;
}
.btn001 a:after {
	content: url(../img/icon/arrow02.png);
	position: absolute;
	right: 5%;
}
.btn002 {
	position:relative;
	margin:0 0 10px;
	background:#fff;
	border:solid 1px #000;
	line-height:3em;
}
.btn002 a:after {
	content: url(../img/icon/arrow02.png);
	position: absolute;
	right: 5%;
}
.logIcon01:before {
	content:url(../img/icon/log_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.newIcon01:before {
	content:url(../img/icon/new_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.queIcon01:before {
	content:url(../img/icon/que_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.voiIcon01:before {
	content:url(../img/icon/voi_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.guiIcon01:before {
	content:url(../img/icon/s_guide_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.infIcon01:before {
	content:url(../img/icon/inf_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.inqIcon01:before {
	content:url(../img/icon/inq_icon.png);
	position:absolute;
	top:15%;
	left:3%;
}
.linkA {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.linkA:hover {
	background: rgba(246, 246, 246, 0.7);
}
.fixed {
	position: fixed;
}
.lh0 {
	line-height: 0;
}
a:hover img {
	opacity: 0.6;
}
.bgOrange {
	background: #d96d00;
}
.bgGreen {
	background: #017e46;
}
.textOrenge {
	color:#f29800;
}
.textGreen {
	color:#399f4c;
}
.textBlue {
	color:#009fe9;
}
.boxSilver {
	margin: 1%;
	padding: 10px;
	background: #fafafa;
	border: solid 1px #ccc;
}
.orangeBox {
	padding:0 10px;
	color:#fb7f03;
	border: solid 1px #fb7f03;
}
.redBox {
	padding: 0 10px;
	color:#d30301;
	border: solid 1px #d30301;
}
.f16 {
	font-size:16px !important;
}
.mb5 {
	margin-bottom:5px;
}
/*
size px
**********************/
#headerInner, header > nav ul, header > nav > ul > li .navContents, .pickup, .ranking, .coordinate, .voice, .search, .instagram, #footerTopInner, #footerBottomInner,#footerCartBox > ul {
	width: 1200px;
	margin: 0 auto;
}
.informationInner {
	width: 990px;
}


#container {
	display:-webkit-flex;
	display:flex;
	width:1200px;
	margin:0 auto;
	padding:10px 0;
}
#container > main {
	width:960px;
	margin:0 0 0 20px;
}
	
/*header
********************************************************************************************************/
header {
	margin: 0 0 3px;
}
#topBanner {
	text-align: center;
	background: #f8f8f8;
	line-height: 0;
}
#headerInner {
	padding: 10px 0;
}
#headerGuide {
	margin: 0 0 10px;
}
#headerGuide ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	font-size: 14px;
}
#headerGuide ul li {
	position: relative;
	margin: 0 0 0 50px;
	padding: 3px 0;
	border-bottom: dotted 1px #555;
}
#headerGuide ul li i.s_guiIcon:before {
	content: url(../img/icon/s_guide_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#headerGuide ul li i.queIcon:before {
	content: url(../img/icon/que_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#headerGuide ul li i.inqIcon:before {
	content: url(../img/icon/inq_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#header {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
#header h1 {
	text-align: center;
}
#headerMenu ul {
	display: -webkit-flex;
	display: flex;
	font-size: 14px;
}
#headerMenu ul li {
	position: relative;
	margin: 0 0 0 50px;
	padding: 3px 0;
	border-bottom: dotted 1px #555;
}
#headerMenu ul li i.firIcon:before {
	content: url(../img/icon/fir_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#headerMenu ul li i.newIcon:before {
	content: url(../img/icon/new_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#headerMenu ul li i.logIcon:before {
	content: url(../img/icon/log_icon.png);
	position: absolute;
	top: 0;
	left: -25px;
}
#headerSistem ul {
	display: -webkit-flex;
	display: flex;
}
#headerSistem ul li {
	margin: 0 0 0 20px;
	padding: 3px 0 0;
}
#headerSistem ul li input.form-control {
	width: 280px;
	height: 25px;
	padding: 0 5px;
	background: #eee;
	border: none;
}
/*headerNav
*********************************************/
header > nav {
	border-top: solid 1px #000;
}
header > nav > ul {
	display: -webkit-flex;
	display: flex;
	position: relative;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	font-size: 12px;
	text-align: center;
}
header > nav > ul li {
	width: -webkit-calc(100% / 9);
	width: calc(100% / 9);
	padding: 0;
}
header > nav > ul > li > a {
	position: relative;
	display: block;
	height: 85px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	border-top: solid 2px #fff;
}
header > nav > ul > li > a:after {
	content: url(../img/icon/arrow01.png);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
}
header > nav > ul > li > a:hover {
	border-top: solid 2px #000;
	-webkit-opacity:1;
	opacity:1;
}
header > nav > ul > li > a:before {
	position:absolute;
	bottom:0;
	width:100%;
	height:10px;
	background:#f00;
	z-index:999;
}
header > nav > ul > li > a > span {
	display: block;
	padding: 10px 0 5px;
}
header > nav > ul > li:hover > a {/*
	background: #f1f1f1;*/
}
header > nav > ul > li.mddActive > a {
	position: relative;
	/*
	background: #f1f1f1;*/
	border-top: solid 2px #000;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	transition: none;
}
header > nav > ul > li.mddActive:first-child > a,
header > nav > ul > li.mddActive:nth-child(5) > a,
header > nav > ul > li.mddActive:nth-child(8) > a,
header > nav > ul > li.mddActive:nth-child(9) > a {
	border: none;
	border-top: solid 2px #000;
}
header > nav > ul > li.mddActive > a:after {
	position: absolute;
	left: 0;
	bottom: -1px;
	width:-webkit-calc(100% - 2px);
	width:calc(100% - 2px);
	margin:0 auto;
	height: 10px;
	background: #fff;
	transform: rotate(180deg);
	z-index: 999;
}
header > nav > ul > li .navContents {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	margin: 0;
	padding: 20px;
	background: #fff;/*
	background: linear-gradient(to bottom, #fff 0%, #efefef 100%);*/
	border: solid 1px #aaa;
	z-index: 10;
	overflow: hidden;
	box-shadow: 0 2px 2px #eee;
	-webkit-box-shadow: 0 2px 2px #eee;
	z-index:-2;
}
header > nav > ul > li .navContents ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	width: 1060px;
}
header > nav > ul > li .navContents ul li {
	width: calc(96% / 5);
	margin: 0 1%;
	line-height: 1.5em;
}
header > nav > ul > li .navContents ul li img {
	width: 100%;
}
header > nav > ul > li .navContents ul li span {
	text-align: center;
	border-bottom: dotted 1px #555;
}
#magic-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 2px;
	background: #000;
}
header > nav > ul > li:first-child {
	position: relative;
}
header > nav > ul > li:hover:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
}
.homeLine {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
}
/*footer
***********************************************************************************/

footer h2 {
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	background: #c8c8c8;
	line-height: 2.5em;
}
#footerTop {
	background: #efefef;
}
#footerTopInner {
	padding: 0 0 30px;
	font-size: 12px;
	line-height: 1.8em;
}
#footerTopInner h3 {
	margin: 15px 0;
	padding: 0 0 10px;
	font-size: 16px;
	border-bottom: solid 1px #c8c8c8;
}
#footerTopInner h4 {
	font-size: 14px;
}
#footerTopInner p {
	margin: 0 0 12px;
}
#footerTopInner ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 30px;
}
#footerTopInner > ul > li {
	width: -webkit-calc(96% / 3);
	width: calc(96% / 3);
}
#footerTopInner ul li ol {
	font-weight: 600;
	margin: 0 0 0 18px;
}
#footerTopInner ul li ol li {
	list-style: decimal;
}
#footerTopInner ul li aside {
	color: #f00;
}
#footerTopInner ul li aside:before {
	content: "※";
}
#footerTopInner > ul.footerBox > li {
	width: 33%;
}
#footerTopInner > ul.footerBox > li:nth-child(2) {
	width: 65%;
	margin: 0 0 0 2%;
}
#footerTopInner .inquiriesBox {
	height: 130px;
	padding: 20px;
	background: #fff;
}
#footerTopInner .inquiriesBox ul {
	-webkit-align-items: center;
	align-items: center;
}
#footerTopInner .inquiriesBox ul li {
	width: -webkit-calc(96% / 3);
	width: calc(96% / 3);
}
#footerTopInner .inquiriesBox ul li:first-child {
	width: 50%;
	padding: 0 2% 0 0;
}
#footerTopInner .inquiriesBox ul li:nth-child(2) {
	width: 40%;
	padding: 0 1% 0 0;
}
#footerTopInner .inquiriesBox ul li h3 {
	margin: 0;
	padding: 0;
	border: none;
}
.telNumber {
	font-size: 32px;
	line-height: 1em;
}
.mailBtn01, .questionBtn01 {
	position: relative;
	margin: 0 0 8px;
	line-height: 1.2em;
}
.mailBtn01 a, .questionBtn01 a {
	display: block;
	position: relative;
	padding: 5px 5px 5px 40px;
	border: solid 1px #000;
}
.mailBtn01 a:hover, .questionBtn01 a:hover {
	opacity: 0.5;
}
.mailBtn01 a:before {
	content: url(../img/icon/mail_icon.png);
	position: absolute;
	top: 25%;
	left: 3%;
}
.questionBtn01 a:before {
	content: url(../img/icon/que_icon02.png);
	position: absolute;
	top: 10%;
	left: 3%;
}
.mailBtn01:after, .questionBtn01:after {
	content: url(../img/icon/arrow02.png);
	position: absolute;
	top: 30%;
	right: 7%;
}
#footerBottom {
	padding: 30px 0;
	font-size: 13px;
}
#footerBottomInner ul {
	display: -webkit-flex;
	display: flex;
	margin: 0 0 20px;
}
#footerBottomInner > ul > li h3 {
	margin: 0 0 8px;
	padding: 0 0 10px;
	font-weight: normal;
	border-bottom: solid 1px #c8c8c8;
}
#footerBottomInner > ul > li h3:after {
	content: url(../img/icon/arrow02.png);
	margin: 0 0 0 10px;
}
#footerBottomInner > ul > li:first-child {
	width: 79%;
	margin: 0 2% 0 0;
}
#footerBottomInner > ul > li:nth-child(2) {
	width: 19%;
}
#footerBottomInner > ul > li ul {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
#footerBottomInner > ul > li:first-child > ul > li {
	padding: 0 0 10px;
	border-bottom: dotted 1px #ccc;
}
#footerBottomInner > ul > li:nth-child(2) > ul > li {
	width: -webkit-calc(90% / 2);
	width: calc(90% / 2);
	padding: 0 0 10px;
	border-bottom: dotted 1px #ccc;
}
#footerBottomInner #footerLogo {
	margin: 0 0 30px;
	text-align: center;
}
#footerBottomInner ul.footerMenu {
	justify-content: center;
}
#footerBottomInner ul.footerMenu li {
	width: auto;
	margin: 0 2%;
	text-align: center;
	border-bottom: dotted 1px #ccc;
	line-height: 1.5em;
}
#copyright {
	color: #fff;
	font-size: 13px;
	text-align: center;
	background: #909090;
	line-height: 2.6em;
}
/*leftbar
***********************************************************************************/

#left {
	width:220px;
	font-size:13px;
}
.loginLeft {
	margin:0 0 30px;
	padding:20px;
	text-align:center;
	background:#fbfbfb;
	border:solid 1px #ccc;
	line-height:1.8em;
}
.loginLeft h3 span {
	border-bottom:dotted 1px #aaa;
}
.guestLeft {
	font-weight:700;
}
.categoryLeft {
}
.categoryLeft h2 {
	font-size:13px;
}
.categoryLeft > h2 i {
	position:relative;
	top:2px;
	margin:0 5px 0 0;
}
.categoryLeft > h2 > span small {
	margin: 0 10px 0 0;
	font-size: 0.7em;
}
.categoryLeft > h2 > span {
	position: relative;
	text-align: center;
}
.categoryLeft > h2 > span:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -40px;
	width: 30px;
	height: 1px;
	background: #333;
}
.categoryLeft > h2 > span:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -40px;
	width: 30px;
	height: 1px;
	background: #333;
}
.categoryLeft > h3 {
	margin:0 10px 10px;
	padding:10px 0;
	font-weight:normal;
}
.categoryLeft > h3 > i {
	position:relative;
	top:10px;
	margin:0 10px 0 0;
}
.categoryLeft > h3 > i img {
	vertical-align:bottom;
}
.categoryLeft > dl {
	margin:0 0 0 25px;
	padding:5px 0 0 10px;
	border-left:solid 1px #555;
}
.categoryLeft > dl dt {
	margin:0 0 10px;
}
.categoryLeft > dl > dd {
	margin:0 0 15px 10px;
	padding:10px 0 10px 10px;
	border-left:solid 1px #555;
}
.categoryLeft > dl > dd h4 {
	margin:0 0 15px;
}
.categoryLeft > dl > dd h4:last-child {
	margin:0;
}
.categoryLeft > dl > dd h4 a {
	display:block;
}
.categoryLeft > dl > dd h4 span {
	font-weight:normal;
	border-bottom:dotted 1px #aaa;
}
.leftBnrBox {
	margin:0 0 25px;
}
.leftbarNav {
}
.leftbarNav ul li {
	position:relative;
	margin:0 0 10px;
	text-align:center;
	border:solid 1px #000;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:3em;
}
.leftbarNav ul li:after {
	content:url(../img/icon/arrow03.png);
	position:absolute;
	top:12%;
	right:5%;
}

/*info
***********************************************************************************/
#mainBanner {
	margin: 0 0 30px;
}
#news {
	position: relative;
	font-size:16px;
	text-align: center;
	background: #efefef;
	overflow: hidden;
}
.ticker {
	position: relative;
	margin: 0 auto 20px;
	text-align: left;
	overflow: hidden;
}
.ticker ul {
	position: relative;
}
.ticker ul li {
	width: 100%;
	display: none;
}
.ticker ul li:first-child:before,
.ticker ul li:nth-child(2):before  {
	content:"NEW";
	margin: 0 16px 0 0;
	padding:0 5px;
	color:#fff;
	font-size:14px;
	background:#555;
}
.ticker ul li :after {
	content:url(../img/icon/arrow02.png);
	margin:0 0 0 50px;
}
.ticker ul li a {
	display: inline-block;
	padding: 10px;
	line-height: 1em;
}
.ticker ul li time {
	margin: 0 16px 0 0;
}
.ticker ul li time:after {
	content:none;
}
/*pickup
***********************************************************************************/
.pickup {
	margin: 0 auto 20px;
	padding: 30px 0;
}
.pickup h3 {
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: 500;
}
.pickup h3 small {
	margin: 0 0 0 5px;
	font-size: 0.7em;
}
.pickup h4 {
	font-size: 12px;
	font-weight: normal;
}
.pickup ul {
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 40px;
}
.pickup ul li {
	width: -webkit-calc(98% / 3);
	width: calc(98% / 3);
}
.pickup ul li dl dt {
	margin: 0 0 10px;
}
.pickup ul li dl dt img {
	width: 100%;
}
/*ranking
***********************************************************************************/
.ranking {
	margin: 0 auto 40px;
}
.rankMenu {
	margin: 0 0 40px;
}
.rankMenu h3 {
	font-size: 14px;
	font-weight: normal;
}
.rankMenu section {
	padding: 15px 0;
}
.rankMenu section img {
	width: 100%;
}
.tabs {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 0 0 1px;
}
.tabs li {
	position: relative;
	list-style: none;
	margin: 0 18px 0 50px;
	font-size: 20px;
	opacity: 0.3;
}
.tabs li:first-child:before {
	content: url(../img/icon/curtain2.png);
	position: absolute;
	top: 5px;
	left: -30px;
}
.tabs li:first-child:after {
	content: url(../img/icon/naname.png);
	position: absolute;
	top: 20%;
	right: -30px;
}
.tabs li:nth-child(2):before {
	content: url(../img/icon/carpet2.png);
	position: absolute;
	top: 5px;
	left: -30px;
}
.tab {
	position: relative;
	top: 1px;
	margin: 0 1%;
	padding: 3px 2px;
	color: #555;
	text-align: center;
	transition: 0.5s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	line-height: 1.5em;
	cursor: pointer;
}
.active {
	opacity: 1 !important;
}
.active span {
	border-bottom: dotted 1px #555;
}
.active > a {
	cursor: default;
}
.curtain ul, .carpet ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.curtain ul li, .carpet ul li {
	width: -webkit-calc(96% / 5);
	width: calc(90% / 5);
}
.curtain ul li h4, .carpet ul li h4 {
	position: relative;
	min-height: 30px;
	margin: 0 0 10px;
	padding: 0 0 0 26px;
	font-size: 12px;
	font-weight: normal;
}
.curtain ul li h4 span, .carpet ul li h4 span {
	position: absolute;
	top: 1%;
	left: 0;
	font-size: 24px;
}
/*coordinate
*****************************************************************************/
.coordinate {
	margin: 0 auto 40px;
}
.coordinate ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.coordinate ul li {
	width: -webkit-calc(99% / 2);
	width: calc(99% / 2);
}
.coordinate ul li img {
	width: 100%;
}
.coordinate ul li dl dt {
	margin: 0 0 1%;
}
.coordinate ul li dl dd ul li {
	width: -webkit-calc(98% / 2);
	width: calc(98% / 2);
}
/*voice
**************************************************************************/
.voiceContents {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 80px;
}
.voiceLeft {
	width: 732px;
	height: 500px;
	padding: 30px;
	background: url(../img/voice/voice_bg01.png) no-repeat;
}
.voiceLeft ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.voiceLeft > ul > li {
	width: 55%;
}
.voiceLeft > ul > li:first-child {
	width: 45%;
	line-height: 0;
}
.voiceLeft ul li dl img {
	width: 100%;
}
.voiceLeft ul li dl dd ul li {
	width: 50%;
}
.voiceText {
	padding: 0 0 0 2%;
	font-size: 13px;
}
.voiceText dl {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 0 0 10px;
}
.voiceText dl dt {
	width: 35%;
}
.voiceText dl dd {
	width: 75%;
}
.voiceText dl dd h3 {
	margin: 30px 10px;
	font-size: 18px;
}
.voiceText dl dd .name {
	margin: 0 0 10px;
	text-align: right;
	font-size: 14px;
}
.voiceText ol li {
	margin: 0 0 15px;
}
.voiceText p {
	margin: 0 0 15px;
}
.voiceRight {
	flex: 1;
	margin: 0 0 0 2%;
}
.voiceRight ul {
	margin: 0 0 40px;
}
.voiceRight ul li {
	margin: 0 0 24px;
	padding: 10px 0 30px;
	border-bottom: solid 1px #ccc;
}
.voiceRight ul li dl {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	font-size: 13px;
}
.voiceRight ul li dl dd {
	padding: 0 0 0 2%;
	line-height: 1.5em;
}
.voiceRight ul li dl dd h3 {
	margin: 0 0 10px;
	font-size: 18px;
	line-height: 1.2em;
}
.voiceRight ul li dl dd .name {
	margin: 0 0 10px;
	text-align: right;
	font-size: 13px;
}
.voiceRight ul li dl dd h4 {
	margin: 0 0 10px;
	font-weight: normal;
	font-size: 13px;
}
/*information
*****************************************************************************************/
.information {
	margin: 0 0 100px;
	padding: 40px 0;
	background: #f6f6f6;
}
.informationInner {
	margin: 0 auto;
}
.informationInner ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.informationInner ul li {
	position: relative;
	width: -webkit-calc(90% / 5);
	width: calc(90% / 5);
	margin: 0 0 30px;
	text-align: center;
	line-height: 2em;
}
.informationInner ul li:before {
	content: url(../img/icon/arrow01.png);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
}
.informationInner ul li dl dd h3 {
	font-size: 13px;
	font-weight: normal;
}
/*search
*******************************************************************************************/
.search {
	margin: 0 auto 80px;
}
.search ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 13px;
}
.search ul li h3 {
	margin: 0 0 25px;
	font-weight: normal;
	text-align: center;
	border-bottom: solid 2px #ccc;
	line-height: 2.5em;
}
.search > ul > li:first-child {
	width: 75%;
}
.search > ul > li:first-child ul li {
	width: -webkit-calc(100% / 4);
	width: calc(100% / 4);
	margin: 0 0 8px;
}
.search > ul > li:nth-child(2) {
	width: 23%;
	margin: 0 0 0 2%;
}
.search > ul > li:nth-child(3) {
	width: 100%;
	margin: 0 6% 0 0;
}
.search > ul > li:nth-child(3) ul li {
	width: -webkit-calc(100% / 5);
	width: calc(100% / 5);
	margin: 0 0 8px;
}
.search > ul > li:nth-child(3) > ul > li:nth-child(5n) {
	padding: 0 0 0 2%;
}
.search > ul > li dl {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
}
.search > ul > li dl dd {
	padding: 0 10px;
}
/*product
**********************************************************************************************************************************************************/
.mainProduct {
	display: -webkit-flex;
	display: flex;
	margin:0 0 50px;
}
.mainPleft {
	width:55%;
	font-size:12px;
}
.mainPleft p {
	margin:0 0 15px;
}
.mainPleft > dl {
	margin:0 0 30px;
}
.mainPleft > dl > dt {
	width:520px;
	height:520px;
	margin:0 0 10px;
}
.mainPleft > dl > dt img {
	width:100%;
}
.mainPleft > dl > dd > ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content:space-around;
}
.mainPleft > dl > dd > ul > li {
	width:-webkitcalc(98% / 4);
	width:calc(98% / 4);
}
.mainPleft > dl > dd > ul > li img {
	width:100%;
}
.productColor {
	position:relative;
	min-height:50px;
}
.productColor dl {
	display: -webkit-flex;
	display: flex;
	position:absolute;
	right:0;
	width:40%;
	padding:1%;
	border:solid 2px #ccc;
}
.productColor dl dt {
	width:30%;
}
.productColor dl dd {
	width:70%;
}

.productColor dl dd ul {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.productColor dl dd ul li {
	width:30px;
	height:30px;
}
.productColor dl dd ul li .active {
	border:solid 1px #000;
}
.color001 {
	background:#000;
}
.color002 {
	background:#fff;
	border:solid 2px #ccc;
}
.color003 {
	background:#f00;
}
.color004 {
	background:#ff0;
}
.productCaution h2 {
	position:relative;
	font-size:18px;
}
.productCaution h2:before {
	content: "";
	position: absolute;
	top: 50%;
	left:0;
	width: 150px;
	height: 1px;
	background: #333;
}
.productCaution h2:after {
	content: "";
	position: absolute;
	top: 50%;
	right:0;
	width: 150px;
	height: 1px;
	background: #333;
}

.mainPright {
	width:45%;
	margin:0 0 0 2%;
}
.mainPright h3 {
	margin:0 0 15px;
	font-size:24px;
}
.mainPright ul {
	display: -webkit-flex;
	display: flex;
	margin:0 0 10px;
	font-size:14px;
}
.mainPright > ul > li {
	margin: 0 1% 0 0;
}
.mainPright dl {
	display: -webkit-flex;
	display:flex;
	margin:0 0 10px;
}
dl.productNo dt {
	position:relative;
	width:25%;
}
dl.productNo dt:after {
	content:":";
	position:absolute;
	right:10%;
}
dl.price01 {
	display: -webkit-flex;
	display:flex;
	align-items:baseline;
}
dl.price01 dt {
	width:25%;
	font-size:18px;
}
dl.price01 dd {
	width:75%;
	color:#d05432;
	font-size:28px;
}
dl.price01 dd small {
	font-size:14px;
}
dl.revew01 {
	font-size:14px;
}
dl.revew01 dt {
	width:35%;
}
dl.revew01 dd {
	flex:1;
}
dl.revew01 dd span {
	border-bottom:dotted 1px #ccc;
}
.sizeBox {
	padding:5%;
	background:#fbfbfb;
	border:solid 1px #ccc;
}
.sizeBox ul {
	display:block;
}
.sizeBox > ul > li {
	margin:0 0 15px;
	border-bottom:solid 1px #ccc;
}
.sizeBox ul > li > dl {
	align-items:center;
}
.sizeBox ul > li > dl > dt {
	width:20%;
	font-weight:bold;
}
.sizeBox ul > li > dl > dd {
	width:80%;
}
ul.colorSelect01 {
	display: -webkit-flex;
	display: flex;
}
ul.colorSelect01 li {
	width:30px;
	height:30px;
	margin:0 1%;
}
ul.colorSelect01 li .active {
	border:solid 1px #000;
}
.sizeBox ul li dl dd ul.sizeSelect01 {
	display:block;
	line-height:2.5em;
}
.sizeBox ul li dl dd ul.sizeSelect01 li {
	border:none;
}

.measuringBox {
	position:relative;
	margin:0 0 50px;
	padding:10px;
	font-size:14px;
	border:solid 1px #eee;
}
.measuringBox .sizeInput {
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	bottom:-24px;
}
.measuringBox .sizeInput:after {
	content:url(../img/icon/batu.png);
	position:relative;
	top:2px;
	left:10px;
}
.measuringBox:before {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:-34px;
	width:80%;
	margin:0 auto;
	height:34px;
	background:#eee;
	border-radius:0 0 10px 10px;
}
.measuringBox > dl {
	border-bottom:solid 1px #aaa;
}
.measuringBox dl:last-child {
	border:none;
}
.measuringBox dl dt {
	width:20%;
	font-weight:bold;
	padding:3% 0 0;
}
.measuringBox dl:first-child dt {
	padding:5% 0 0;
}
.measuringBox dl dd {
	width:80%;
	padding:10px 0;
}

.measuringBox dl dd ul {
	display: -webkit-flex;
	display: flex;
}
.measuringBox dl dd ul li {
	width:50%;
}

.measuringBox dl dd ul li dl.railBox02 {
	-webkit-align-items:flex-start;
	align-items:flex-start;
}
.measuringBox > dl:nth-child(6) {
	-webkit-align-items:center;
	align-items:center;
	border:none;
}
.measuringBox dl dd ul li dl.railBox02 dt {
	width:30%;
}
.measuringBox dl dd ul li dl.railBox02 dd {
	width:70%;
	padding:0;
}


.measuringBox dl dd small {
	font-size:0.9em;
}
.measuringBox dl dd p {
	margin:0 0 15px;
}
.railBox01 {
	text-align:center;
}
.railBox01 dl {
	-webkit-align-items:center;
	align-items:center;
}
.railBox01 dl dt {
	width:25%;
	padding:0;
}
.railBox01 input[type="number"] {
	width:80px;
	margin:0 10px 20px 0;
	padding:5px;
	background:#eee;
	border:solid 1px #555;
}
.sizeBox_bg01 {
	width:90%;
	padding:10px;
	background:#ffdfbf;
	line-height:1.2em;
}
.measuringBox .sizeBox_bg01 p {
	margin:0 0 5px;
}
.sizeBox_bg01 aside {
	position:relative;
	padding:0 0 0 18px;
	color:#b20000;
	font-size:12px;
	text-align:left;
}
.sizeBox_bg01 aside:before {
	content:"※";
	position:absolute;
	left:0;
}
.measuringBox .checkBox01 {
	-webkit-align-items:flex-start;
	align-items:flex-start;
}
.measuringBox .checkBox01 dt {
	width:14%;
	padding:5% 0 0;
}
.measuringBox .checkBox01 dd {
	width:86%;
	text-align:left;
}
.measuringBox .checkBox01 dd small {
	font-size:0.8em;
}
.measuringBox ul.checkBox01 {
	-webkit-align-items:center;
	align-items:center;
	margin:0 3%;
}
.measuringBox ul.checkBox01 li {
	padding:4% 0 0;
}
.measuringBox ul.checkBox01 li:first-child {
	width:14%;
}
.measuringBox ul.checkBox01 li:nth-child(2) {
	padding:5% 0 0;
}
.measuringBox ul.checkBox01 li:last-child {
	width:30%;
}

.bgSilver {
	margin:0 0 30px;
	padding:10px;
	font-size:13px;
	background: #eee;
	line-height:1.5em;
}
.bgSilver p {
	margin:0 0 10px;
}
.bgSilver ul {
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
.bgSilver ul li {
	position:relative;
	padding:0 0 0 24px;
	background:#fff;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:2.5em;
}
.bgSilver ul li:after {
	content:url(../img/icon/arrow02.png);
	position:absolute;
	right:3%;
}

.bgSilver ul li span {
	position:absolute;
	top:-2%;
	left:2%;
}
.bgSilver ul li span img {
	vertical-align: middle;
}
.bgSilver ul li:first-child {
	width:37%;
}
.bgSilver ul li:nth-child(2) {
	width:60%;
}
.sizeBox ul.breadcrumb {
	display:-webkit-flex;
	display:flex;
}
.sizeBox ul.breadcrumb li {
	margin:0 20px 0 0;
	border:none;
}
.sizeBox ul.breadcrumb li:after {
	content:url(../img/icon/arrow02.png);
	margin:0 0 0 10px;
}
/*btn
*************************************************/

.radio01{
  display: none;
}
.radio01 + label{
  position:relative;
  margin:0 30px 0 0;
  padding: 3px 0 0 35px;
}
.radio01 + label:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background:#eee;
  border:solid 2px #888;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.radio01:checked + label{
  position:relative;
  color: #2198d3;
}
.radio01:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: 10.3%;
  left: 2.1%;
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.checkNone {
  display: none;
}
.check01{
  padding-left: 20px;
  position:relative;
  margin:0 20px 0 0;
}
.check01:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background:#eee;
  border:solid 2px #999;
  -webkit-border-radius:5px;
  border-radius:5px;
}
.checkNone:checked + .check01{
  color: #2198d3;
}
.checkNone:checked + .check01:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 7px;
  width: 8px;
  height: 15px;
  border-right:solid  3px #b20000;
  border-bottom:solid  3px #b20000;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.selectBox01 {
	overflow: hidden;
	width: 96%;
	margin:0 0 10px;
	text-align: center;
}
.selectBox01 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.selectBox01 select:-ms-expand {
	display: none;
}
.selectBox01.colorSelect {
	position: relative;
	border: 1px solid #bbb;
	border-radius: 2px;
	background: #ffffff;
}
.selectBox01.colorSelect:before {
	position: absolute;
	top: 20%;
	right: 3%;
	padding: 0;
	content:url(../img/icon/arrow05.png);
	pointer-events: none;
}
.selectBox01.colorSelect select {
	padding: 3px 38px 3px 8px;
	color: #666;
	background:#eee;
}


.selectBox02 {
	overflow: hidden;
	width: 96%;
	margin:5px 0;
	text-align: center;
}
.selectBox02 select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.selectBox02 select:-ms-expand {
	display: none;
}
.selectBox02.numberSelect {
	position: relative;
	border: 1px solid #bbb;
	border-radius: 2px;
	background: #fff;
}
.selectBox02.numberSelect:before {
	position: absolute;
	top: 20%;
	right: 12%;
	padding: 0;
	content:url(../img/icon/arrow05.png);
	pointer-events: none;
}
.selectBox02.numberSelect select {
	padding: 5px 38px 5px 8px;
	color: #666;
	background:#fff;
}
/*productDetails
*************************************************************************************************/
.productDetails {
	width:90%;
	margin:0 auto;
	font-size:14px;
}
.productDetails p {
	margin:0 0 30px;
}
.productDetails h2 {
	font-size:18px;
}
.productDetails h3 {
	margin:0 0 50px;
	font-size:28px;
	font-weight:normal;
	text-align:center;
}
.productDetails h3 span {
	position:relative;
	top:10px;
	margin:0 15px 0 0;
}
.productDetails dl {
	display:-webkit-flex;
	display:flex;
	margin:0 0 30px;
}
.productDetails dl dt {
	width:40%;
}
.productDetails dl dt img {
	width:100%;
}
.productDetails dl dd {
	width:60%;
	padding:0 0 0 5%;
	line-height:2em;
}
.productDetails dl dd h4 {
	font-size:28px;
	font-weight:normal;
}
.productDetails dl dd h5 {
	font-size:14px;
	font-weight:normal;
}
.recommend {
	margin:0 0 50px;
	padding:30px;
}
.productsSlide li {
	position:relative;
	margin:0 10px;
}
ul.productsSlide li ul {
	-webkit-justify-content:flex-end;
	justify-content:flex-end;
	margin:5px 0;
}
ul.productsSlide li ul li {
	width:12px;
	height:12px;
	border:solid 1px #ccc;
}
.checkProducts {
	padding:30px;
	background:#f6f6f6;
}
#footerCartBox {
	position:fixed;
	bottom:0;
	background:#eee;
	border:solid 1px #bbb;
	border-bottom:none;
	font-size:14px;
}
#footerCartBox ul {
	display:-webkit-flex;
	display:flex;
	padding:5px;
	align-items:center;
}
#footerCartBox > ul > li:first-child {
	width:27%;
}
#footerCartBox > ul > li:nth-child(2) {
	width:33%;
}
#footerCartBox > ul > li:nth-child(2) dl {
	display:-webkit-flex;
	display:flex;
}
#footerCartBox > ul > li:nth-child(2) dl dt {
	width:20%;
	padding:15px 0 0;
	font-size:16px;
	font-weight:bold;
}
#footerCartBox > ul > li:nth-child(2) dl dd {
	width:80%;
}
.price02 {
	margin:5px 0 0 20px;
	font-size:28px;
}
.price02 small {
	font-size:14px;
}
#footerCartBox > ul > li:nth-child(3) {
	width:40%;
}
#footerCartBox > ul > li:nth-child(3) ul {
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
#footerCartBox > ul > li:nth-child(3) ul li {
	width:49%;
}
.cartBtn01 {
	position:relative;
	background:#ce5633;
}
.cartBtn01 a {
	position:relative;
	display:block;
	width:100%;
	height:72px;
	color:#fff;
	font-size:18px;
	text-align:center;
	-webkit-border-radius:5px;
	border-radius:5px;
	line-height:3.8em;
}
.cartBtn01 a:before {
	content:url(../img/icon/cart_icon.png);
	position:absolute;
	top:5%;
	left:5%;
}
.favoriteBtn01 {
	position:relative;
	background:#fff;
}
.favoriteBtn01 a {
	position:relative;
	display:block;
	width:100%;
	font-size:13px;
	text-align:center;
	border:solid 1px #aaa;
	-webkit-border-radius:3px;
	border-radius:3px;
	line-height:2.5em;
}
.favoriteBtn01 a:before {
	content:url(../img/icon/heart02.png);
	position:absolute;
	top:25%;
	left:5%;
}
.favoriteBtn01:after {
	content:url(../img/icon/arrow03.png);
	position:absolute;
	top:25%;
	right:5%;
}
.consultationBtn01 {
	position:relative;
	background:#90bb47;
}
.consultationBtn01 a {
	position:relative;
	display:block;
	width:100%;
	color:#fff;
	font-size:13px;
	text-align:center;
	-webkit-border-radius:3px;
	border-radius:3px;
	line-height:2.5em;
}
.consultationBtn01 a:before {
	content:url(../img/icon/shop02.png);
	position:absolute;
	top:20%;
	left:5%;
}
.consultationBtn01:after {
	content:url(../img/icon/arrow03b.png);
	position:absolute;
	top:25%;
	right:5%;
}
