<style>
.wideslider {
    width: 100%;
    height: 378px;
    text-align: left;
    position: relative;
    overflow: hidden;
	margin:10px auto;
	padding:0;
}

.wideslider ul,
.wideslider ul li {
    float: left;
    display: inline;
    overflow: hidden;
	margin:0;
	padding:0;
}

.wideslider_base {
/*
    top: 0;
    position: absolute;
*/
	position:relative;
	margin:0;
	padding:0;
}
.wideslider_wrap {
  top: 0;
  position: absolute;
  overflow: hidden;
  margin:0;
  padding:0;
  width: 100%;
}
.slider_prev,
.slider_next {
  top: 0;
  /* overflow: hidden; */
  position: absolute;
  z-index: 100;
  cursor: pointer;
  margin:0;
  padding:0;
  width: 50px;
  height: 50px;
}
.slider_prev {
  /* background: url(/user_data/packages/shinchan/img/slider/slider_arrow.png) no-repeat right center; */
}
.slider_prev .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -22px;
  margin: auto;
  transform: rotate(180deg);
  background-color: #FFF;
  padding: 15px 20px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.slider_next {
  /* background: url(/user_data/packages/shinchan/img/slider/slider_arrow.png) no-repeat left center; */
}
.slider_next .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -33px;
  margin: auto;
  background-color: #FFF;
  padding: 15px 20px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.pagination {
/*
    bottom: 10px;
    left: 0;
    position: absolute;
*/
    width: 100%;
    height: 15px;
    text-align: center;
    z-index: 200;
    margin: 5px auto;
}

.pagination a {
    margin: 0 8px;
    width: 10px;
    height: 10px;
    display: inline-block;
    overflow: hidden;
    background: #ccc;
    border-radius: 50%;
}
.pagination a.active {
  background-image: url(/user_data/packages/shinchan/img/slider/slider_dots_active.png);
  background-color: transparent;
  width: 17px;
  height: 17px;
  vertical-align: -3px;
  opacity: 1 !important;
}

/* =======================================
    ClearFixElements
======================================= */
.wideslider ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.wideslider ul {
    display: inline-block;
    overflow: hidden;
}

ul.usnavi {
    width: 980px;
    list-style: none;
    margin: 10px auto 5px;
    padding: 0;
	text-align: center;
}

ul.usnavi li {
    display: inline-block;
	padding:0;
}

ul.usbanner {
    width: 980px;
    list-style:none;
    margin: 0 auto 5px;
    padding: 0;
	text-align: center;
}

ul.usbanner li {
    display: inline-block;
	margin: 0 3px;
	padding: 0;
}

</style>
