/*
 * Style tweaks
 * --------------------------------------------------
 */

body {
}

footer {
  padding: 30px 0;
}

.list-group {
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-toggle {
  float: left;
  margin-left: 0;
  background: #00c1fc;
  height: 48px;
  width: 48px;
  margin:3px 0 0;
  padding: 10px 0;
  text-align: center;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.navbar-header p.caption {
  font-size: 0.6em;
  color: #FFF;
  padding-top: 2px;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
/*@media screen and (min-width: 813px) {
  .js-hiraku-offcanvas {
    display: block;
    position: static;
    background: none;
  }

  .js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar {
    position: static;
    margin-left: 0;
    width:auto;
  }
}*/

.js-hiraku-offcanvas-body-right .js-hiraku-header-fixed {
  margin-left: -70%;
}

.js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
  margin-left: 70%;
}

.js-hiraku-offcanvas-body-right {
  left:0;
}

.js-hiraku-offcanvas-body-left {
  left:0;
}
