/*
 * Hiraku Ver.1.0.2 (https://www.appleple.com)
 * Copyright appleple | MIT License
 *
 */
.hiraku-offcanvas-body-left
.js-hiraku-offcanvas-active {
	position: fixed;
	z-index: 100001;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
}

.js-hiraku-offcanvas-open {
	display: block;
}

.js-hiraku-offcanvas-body {
	z-index: 0;
	left: 0;
	width: 100%;
	transition: left .3s ease-in-out;
}

.js-hiraku-offcanvas-body-right {
	position: fixed;
	left: -80%;
	overflow-y: hidden;
}

.js-hiraku-offcanvas-body-left {
	position: fixed;
	left: 80%;
	overflow-y: hidden;
}

.js-hiraku-offcanvas-body-moving {
	position: fixed;
	left: 0;
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
	position: fixed;
	z-index: 10002;
	top: 0;
	bottom: 0;
	display: block;
	overflow-y: scroll;
	box-sizing: border-box;
	width: 80%;
	max-width: 100%;
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
	border-right: 2px solid #ccc;
}

.js-hiraku-offcanvas:focus {
	background-color: rgba(255,255,255,.85);
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar-right {
	right: 0;
	left: auto;
	margin-right: -80%;
	transition: margin-right .3s ease-in-out;
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar-left {
	right: auto;
	left: 0;
	margin-left: -80%;
	transition: margin-left .3s ease-in-out;
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar-right.active {
	margin-right: 0;
	transition: margin-right .3s ease-in-out;
}

.js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar-left.active {
	margin-left: 0;
	transition: margin-left .3s ease-in-out;
}

.js-hiraku-header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: margin-left .3s ease-in-out;
}

.js-hiraku-offcanvas-body-right,
.js-hiraku-offcanvas-body-left {
	overflow: hidden;
}

.js-hiraku-offcanvas-body-right .js-hiraku-header-fixed {
	margin-left: -80%;
}

.js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
	margin-left: 80%;
}

.js-hiraku-offcanvas-close-btn {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.hiraku-open-btn {
	padding: 6px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: transparent;
}

.hiraku-open-btn-line {
	position: relative;
	display: block;
	width: 18px;
	height: 2px;
	margin: 6px auto;
	transition: .1s all;
	border-radius: 1px;
	background-color: #fff;
}

.hiraku-open-btn-line:before,
.hiraku-open-btn-line:after {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	content: '';
	transition: .3s all;
	border-radius: 1px;
	background-color: #fff;
}

.hiraku-open-btn-line:before {
	top: -6px;
}

.hiraku-open-btn-line:after {
	bottom: -6px;
}

[aria-expanded='true'] .hiraku-open-btn-line {
	background-color: transparent;
}

[aria-expanded='true'] .hiraku-open-btn-line:before,
[aria-expanded='true'] .hiraku-open-btn-line:after {
	width: 22px;
}

[aria-expanded='true'] .hiraku-open-btn-line:before {
	-ms-transform: translate(-2px, 6px) rotate(45deg);
	transform: translate(-2px, 6px) rotate(45deg);
}

[aria-expanded='true'] .hiraku-open-btn-line:after {
	-ms-transform: translate(-2px, -6px) rotate(-45deg);
	transform: translate(-2px, -6px) rotate(-45deg);
}

/* 追記（メニュー内レイアウト）// */
.js-offcanvas .block_body ul li {
}
.js-offcanvas .block_body ul li p {
}
.js-offcanvas .block_body ul li a {
	display: block;
	font-size: 12px;
	color: #656565;
	border-bottom: 1px solid #ccc;
	background-color: #edfbfe;
	padding: 10px 0 10px 10px;
	line-height: 2;
	height: 32px;
	text-decoration: none;
}
.js-offcanvas .block_body ul li a img {
	width: 29px;
	vertical-align: middle;
	margin-right: 10px;
}
.js-offcanvas .block_body ul:first-child li a {
	background-color: #00c1fc;
	color: #FFF;
}
.js-offcanvas .block_body ul:first-child li a img {
	border-radius: 50%;
}

.js-offcanvas .site_guide {
	background-color: #f5f5f5;
	font-size: 12px;
	color: #555;
	padding: 3%;
}
.js-offcanvas .site_guide ul {
	overflow: hidden;
}
.js-offcanvas .site_guide ul li {
	float: left;
	width: 49%;
	margin-bottom: 8px;
}
.js-offcanvas .site_guide ul li a {
	color: #555;
	text-decoration: none;
}
.js-offcanvas .drawer_sns {
	background-color: #f5f5f5;
	padding-bottom: 5%;
	margin-bottom: 5%;
}
.js-offcanvas .drawer_sns ul {
	overflow: hidden;
	padding: 0 17.5%
}
.js-offcanvas .drawer_sns ul li {
	float: left;
	margin-right: 10%;
}
.js-offcanvas .drawer_sns ul li:last-child {
	margin-right: 0;
}
.js-offcanvas .payment {
	width: 80%;
	margin: 0 auto 5%;
}
.js-offcanvas .payment img {
	width: 100%;
}
.js-offcanvas .memberShip {
	width: 80%;
	margin: 0 auto 5%;
}
.js-offcanvas .memberShip img {
	width: 100%;
}
.js-offcanvas .memberShip {
	text-align: center;
	margin-bottom: 5%;
}
.js-offcanvas .closeBtn button {
	display: block;
	width: 100%;
	color: #00c1fc;
	background: #f5f5f5;
	text-decoration: none;
	padding: 4% 0;
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.js-offcanvas .closeBtn button:hover {
	cursor: pointer;
}
.js-offcanvas .closeBtn button img {
	vertical-align: top;
	margin-right: 5px;
}
/* //追記（メニュー内レイアウト） */
