<!--{*
 * EC-CUBE on Bootstrap3. This file is part of EC-CUBE
 *
 * Copyright(c) 2014 clicktx. All Rights Reserved.
 *
 * http://perl.no-tubo.net/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *}-->

<div id="undercolumn" class="regist-comp">
    <div id="undercolumn_shopping">
       
        <h2 class="title"><!--{$tpl_title|h}--></h2>

        <!-- ▼その他決済情報を表示する場合は表示 -->
        <!--{if $arrOther.title.value}-->
            <p class="alert alert-warning"><strong>■<!--{$arrOther.title.name}-->情報</strong><br />
                <!--{foreach key=key item=item from=$arrOther}-->
                    <!--{if $key != "title"}-->
                        <!--{if $item.name != ""}-->
                            <!--{$item.name}-->：
                        <!--{/if}-->
                            <!--{$item.value|nl2br}--><br />
                    <!--{/if}-->
                <!--{/foreach}-->
            </p>
        <!--{/if}-->
        <!-- ▲コンビに決済の場合には表示 -->

        <div id="complete_area">
            
			
			<div class="logo"><img src="<!--{$TPL_URLPATH}-->img/common/logo_01.png"></div>
			
            <div class="gray-area">
			<div class="big">ご注文完了</div>
				<div class="tyu">ただいま、ご注文の確認メールをお送りさせていただきました。</div>
				<div class="small">万一、ご確認メールが届かない場合は、トラブルの可能性もありますので<br>大変お手数ではございますがもう一度お問い合わせいただくか、<br>お電話にてお問い合わせくださいませ。</div>	
			</div>

        </div>

        <div class="btn_area row">
            <div class="col-md-6 padding-right-none hidden-xs">
                <a href="<!--{$smarty.const.TOP_URL}-->" class="btn btn-default btn-block">トップページへ戻る</a>
            </div>
           
        </div>

    </div>
</div>