<section class="new_item">
	<h2>
        <img src="/shop/user_data/packages/CJoukoku/img/newitem/top_newitem_ttl.png">
    </h2>
    <div class="">
        <ul class="rank">
            <li>
                <a href="#"><img src="/shop/user_data/packages/CJoukoku/img/ranking/top_ranking_curtain_1.png"></a>
                <h4>遮光1級付き厚地オーダーカーテン</h4>
            </li>
            <li>
                <a href="#"><img src="/shop/user_data/packages/CJoukoku/img/ranking/top_ranking_curtain_2.png"></a>
                <h4>遮光1級付き厚地オーダーカーテン</h4>
            </li>
            <li>
                <a href="#"><img src="/shop/user_data/packages/CJoukoku/img/ranking/top_ranking_curtain_3.png"></a>
                <h4>遮光1級付き厚地オーダーカーテン</h4>
            </li>
        </ul>
  </div>
<!--<div class="btn001"><a href="#" target="_top"><i><img src="<!--{$TPL_URLPATH}-->img/icon/crown_icon.png" alt="crown"></i>ランキング商品をもっと見る</a></div>-->
<br>
</section>

