<section class="search">
	<h2><span>SEARCH</span></h2>
    <ul>
		<li>
        	<ul>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?transactionid=78dafc3fec7ec9e305a8f3fed4243566abef80bb&mode=search&name=既製%E3%80%80厚地%E3%80%80カーテン"><img src="<!--{$TPL_URLPATH}-->img/common/search_00.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_00.png" alt="既製厚地カーテン" class="lazy"></a></dt>
                        <dd>既製厚地カーテン</dd>
                     </dl>
                 </li>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?transactionid=78dafc3fec7ec9e305a8f3fed4243566abef80bb&mode=search&name=既製%E3%80%80レース%E3%80%80カーテン"><img src="<!--{$TPL_URLPATH}-->img/common/search_01.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_01.png" alt="既製レースカーテン" class="lazy"></a></dt>
                        <dd>既製レースカーテン</dd>
                     </dl>
                 </li>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?transactionid=78dafc3fec7ec9e305a8f3fed4243566abef80bb&mode=search&name=オーダー%E3%80%80厚地%E3%80%80カーテン"><img src="<!--{$TPL_URLPATH}-->img/common/search_02.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_02.png" alt="オーダー厚地カーテン" class="lazy"></a></dt>
                        <dd>オーダー厚地カーテン</dd>
                     </dl>
                 </li>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?transactionid=78dafc3fec7ec9e305a8f3fed4243566abef80bb&mode=search&name=オーダー%E3%80%80レース%E3%80%80カーテン"><img src="<!--{$TPL_URLPATH}-->img/common/search_03.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_03.png" alt="オーダーレースカーテン" class="lazy"></a></dt>
                        <dd>オーダーレースカーテン</dd>
                     </dl>
                 </li>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?transactionid=78dafc3fec7ec9e305a8f3fed4243566abef80bb&mode=search&name=ホット%E3%80%80カーペット%E3%80%80カバー"><img src="<!--{$TPL_URLPATH}-->img/common/search_04.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_04.png" alt="ホットカーペットカバー" class="lazy"></a></dt>
                        <dd>ホットカーペットカバー</dd>
                     </dl>
                 </li>
                <li>
                     <dl>
                        <dt><a href="<!--{$smarty.const.TOP_URL}-->products/list.php?category_id=1762"><img src="<!--{$TPL_URLPATH}-->img/common/search_05.png" data-original="<!--{$TPL_URLPATH}-->img/common/search_05.png" alt="ファブリック" class="lazy"></a></dt>
                        <dd>ファブリック</dd>
                     </dl>
                 </li>
             </ul>
        </li>
    </ul>
</section>   