<!--{*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2014 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *}-->

<script type="text/javascript">//<![CDATA[
    // 並び順を変更
    function fnChangeOrderby(orderby) {
        eccube.setValue('orderby', orderby);
        eccube.setValue('pageno', 1);
        eccube.submitForm();
    }
    // 表示件数を変更
    function fnChangeDispNumber(dispNumber) {
        eccube.setValue('disp_number', dispNumber);
        eccube.setValue('pageno', 1);
        eccube.submitForm();
    }
//]]></script>

<!--{if $arrSearchData.category_id == search}-->
<h2 class="title"><img src="<!--{$TPL_URLPATH}-->img/feature/productCategory.png" alt=""><span>商品カテゴリから探す</span></h2>

<div class="section">
<h3><img src="<!--{$TPL_URLPATH}-->img/user_data/star_ki.png" alt=""><span>商品カテゴリ</span></h3>
<!--{if $arrSubCatList|@count > 0}-->
<ul>
<!--{foreach from=$arrSubCatList item=category}-->
<li><a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=<!--{$category.category_id|h}-->"><img src="/user_data/img/category_<!--{$category.category_id|h}-->.jpg"><span><!--{$category.category_name|h}--></span></a></li>
<!--{/foreach}-->
</ul>
<!--{/if}-->
</div>
<!-- .section -->

<!--{else}-->

<!--{if $arrSearchData.category_id !== 17}-->
<h2 class="title"><img src="<!--{$TPL_URLPATH}-->img/feature/headingImg<!--{$arrSearchData.category_id|h}-->.png" alt=""><span><!--{$category.category_id|h}--></span></h2>
<!--{else}-->
<h2 class="title"><img src="/user_data/img/feature/heading17.png" alt=""><span>特集から探す</span></h2>
<!--{/if}-->

<!--{if $arrSearchData.category_id == 17}-->

<div class="section">
<h3><img src="<!--{$TPL_URLPATH}-->img/user_data/star_ki.png" alt=""><span>注目の特集</span></h3>
<!--{if $arrSubCatList|@count > 0}-->
<ul>
<!--{foreach from=$arrSubCatList item=category}-->
<li><a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=<!--{$category.category_id}-->"><img src="/user_data/img/feature_<!--{$category.category_id}-->.jpg"><span><!--{$category.category_name|h}--></span></a></li>
<!--{/foreach}-->
</ul>
<!--{/if}-->
</div>
<!-- .section -->


<!--{else}-->

<!--{if $arrSearchData.category_id >= 1700 && $arrSearchData.category_id <= 1799}-->
<!-- ヘッドバナー// -->
<h2 class="titleBnr"><img src="/user_data/img/category_<!--{$arrSearchData.category_id|h}-->.jpg"></h2>
<!--{/if}-->



<section id="product_list">
    <form name="form1" id="form1" method="get" action="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php">
        <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->" />
        <input type="hidden" name="mode" value="<!--{$mode|h}-->" />
        <input type="hidden" name="category_id" value="<!--{$arrSearchData.category_id|h}-->" />
        <input type="hidden" name="maker_id" value="<!--{$arrSearchData.maker_id|h}-->" />
        <input type="hidden" name="name" value="<!--{$arrSearchData.name|h}-->" />
        <input type="hidden" name="orderby" value="<!--{$orderby|h}-->" />
        <input type="hidden" name="disp_number" value="<!--{$disp_number|h}-->" />
        <input type="hidden" name="pageno" value="<!--{$tpl_pageno|h}-->" />
        <input type="hidden" name="rnd" value="<!--{$tpl_rnd|h}-->" />
    </form>


    <h2 class="title"><!--{$tpl_subtitle|h}--></h2>


    <section class="pagenumberarea clearfix">
    <p class="intro clear"><span class="attention"><span id="productscount"><!--{$tpl_linemax}--></span>件</span>の商品がございます。</p>
<dl class="pageNav">
        	<dt>表示順：</dt>
            <dd>
                  <ul>
                    <li>
                      <!--{if $orderby != "date"}-->
                              <a href="javascript:fnChangeOrderby('date');">新着順</a>
                      <!--{else}-->
                          <span class="active">新着順</span>
                      <!--{/if}-->
                    </li>
                    <li>
                      <!--{if $orderby != 'price_h'}-->
                          <a href="javascript:fnChangeOrderby('price_h');">価格の高い順</a>
                      <!--{else}-->
                          <span class="active">価格の高い順</span>
                      <!--{/if}-->
                    </li>
                    <li>
                      <!--{if $orderby != 'price'}-->
                          <a href="javascript:fnChangeOrderby('price');">価格の低い順</a>
                      <!--{else}-->
                          <span class="active">価格の低い順</span>
                      <!--{/if}-->
                    </li>
                  </ul>
            </dd>
            </dl>
            <dl class="display pageNav">
        	<dt>表示方法：</dt>
            <dd>
            	<ul>
                    <li><a href="" class="grid">画像表示</a></li>
                    <li><a href="" class="list">リスト表示</a></li>
                </ul>
            </dd>
            </dl>
            <dl class="disp_num_block pageNav">
            <dt>表示件数</dt>
            <dd>
                <div class="selectWrap">
                <span class="selectBg">
                <select name="disp_number" onchange="javascript:fnChangeDispNumber(this.value);">
                    <!--{foreach from=$arrPRODUCTLISTMAX item="dispnum" key="num"}-->
                        <!--{if $num == $disp_number}-->
                            <option value="<!--{$num}-->" selected="selected" ><!--{$dispnum}--></option>
                        <!--{else}-->
                            <option value="<!--{$num}-->" ><!--{$dispnum}--></option>
                        <!--{/if}-->
                    <!--{/foreach}-->
                </select>
                </span>
                <!-- .selectBg -->
                </div>
                <!-- .selectWrap -->
                <!-- .disp_num_block --></dd>
        </dl>

</section>

       <ul id="productsArea"> 
    <!--{foreach from=$arrProducts item=arrProduct name=arrProducts}-->
        <!--{assign var=id value=$arrProduct.product_id}-->
        <!--{assign var=arrErr value=$arrProduct.arrErr}-->
        <!--▼商品-->
        <li class="list_area">
            <!--★画像★-->
            <p class="listphoto"><img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_list_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /></p>
            <div class="listrightblock">
                <div class="statusArea">
                    <!--▼商品ステータス-->
                    <!--{if count($productStatus[$id]) > 0}-->
                        <ul class="status_icon">
                            <!--{foreach from=$productStatus[$id] item=status}-->
                                <li><!--{$arrSTATUS[$status]}--></li>
                            <!--{/foreach}-->
                        </ul>
                    <!--{/if}-->
                    <!--▲商品ステータス-->
                </div>
                <!--★商品名★-->
                <h3><a rel="external" href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->" name="product<!--{$arrProduct.product_id}-->" class="productName"><!--{$arrProduct.name|h}--></a></h3>

                <!--★商品価格★-->
                <p>
                    <span class="pricebox sale_price"><span class="mini"><!--{$smarty.const.SALE_PRICE_TITLE|h}-->(税込):</span></span>
                    <span class="price">
                        <span id="price02_default_<!--{$id}-->">
                            <!--{if $arrProduct.price02_min_inctax == $arrProduct.price02_max_inctax}-->
                                <!--{$arrProduct.price02_min_inctax|n2s}-->
                            <!--{else}-->
                                <!--{$arrProduct.price02_min_inctax|n2s}-->～<!--{$arrProduct.price02_max_inctax|n2s}-->
                            <!--{/if}-->
                        </span><span id="price02_dynamic_<!--{$id}-->">
                        </span>円
                    </span>
                </p>

                <!--★商品コメント★-->
                <p class="listcomment"><!--{$arrProduct.main_list_comment|h|nl2br}--></p>
            </div>
        </li>

        <!--▲商品-->

    <!--{foreachelse}-->
        <!--{include file="frontparts/search_zero.tpl"}-->
    <!--{/foreach}-->
      </ul>

    <!--{if count($arrProducts) < $tpl_linemax}-->
        <div class="btn_area">
            <p><a rel="external" href="javascript: void(0);" class="btn_more" id="btn_more_product" onClick="getProducts(<!--{$disp_number|h}-->); return false;">もっとみる(＋<!--{$disp_number|h}-->件)</a></p>
        </div>
    <!--{/if}-->
</section>

<!--{include file= 'frontparts/search_area.tpl'}-->

<div class="analogy">
<!--▼関連商品-->
<!--{if $arrRecommend}-->
<h2><img src="<!--{$TPL_URLPATH}-->img/product/infoIcon03.png"><span>この商品をチェックされた方が購入した商品</span></h2>
<!--{foreach from=$arrRecommend item=arrItem name="arrRecommend"}-->
<div class="product_item nth5">
<div class="productImage">
<a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrItem.product_id|u}-->">
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrItem.main_list_image|sfNoImageMainList|h}-->" alt="<!--{$arrItem.name|h}-->" /></a>
</div>
<!--{assign var=price02_min value=`$arrItem.price02_min_inctax`}-->
<!--{assign var=price02_max value=`$arrItem.price02_max_inctax`}-->
<div class="productContents">
<h3><a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrItem.product_id|u}-->"><!--{$arrItem.name|h}--></a></h3>
<p class="sale_price"><!--{$smarty.const.SALE_PRICE_TITLE}-->(税込)：<span class="price">
<!--{if $price02_min == $price02_max}-->
<!--{$price02_min|n2s}-->
<!--{else}-->
<!--{$price02_min|n2s}-->～<!--{$price02_max|n2s}-->
<!--{/if}-->円</span></p>
<p class="mini"><!--{$arrItem.comment|h|nl2br}--></p>
</div>
</div>
<!--{* /.item *}-->
<!--{if $smarty.foreach.arrRecommend.iteration % 2 === 0}-->
<!--{/if}-->
<!--{/foreach}-->
<!--{/if}-->
<!--▲関連商品-->
<div class="clear"></div>
</div>
<!-- .analogy -->

<!--{/if}-->
<!-- //通常カテゴリ -->
<!--{/if}-->
<!-- //すべてではない -->

<script>
    var pageNo = 2;
    var url = "<!--{$smarty.const.P_DETAIL_URLPATH}-->";
    var imagePath = "<!--{$smarty.const.IMAGE_SAVE_URLPATH}-->";
    var statusImagePath = "<!--{$TPL_URLPATH}-->";

    function getProducts(limit) {
        eccube.showLoading();
        var i = limit;
        //送信データを準備
        var postData = {};
        $('#form1').find(':input').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        postData["mode"] = "json";
        postData["pageno"] = pageNo;

        $.ajax({
            type: "POST",
            data: postData,
            url: "<!--{$smarty.const.ROOT_URLPATH}-->products/list.php",
            cache: false,
            dataType: "json",
            error: function(XMLHttpRequest, textStatus, errorThrown){
                alert(textStatus);
                eccube.hideLoading();
            },
            success: function(result){
                var productStatus = result.productStatus;
                for (var product_id in result) {
                    if (isNaN(product_id)) continue;
                    var product = result[product_id];
                    var productHtml = "";
                    var maxCnt = $(".list_area").length - 1;
                    var productEl = $(".list_area").get(maxCnt);
                    productEl = $(productEl).clone(true).insertAfter(productEl);
                    maxCnt++;

                    //商品写真をセット
                    $($(".list_area .listphoto img").get(maxCnt)).attr({
                        src: "<!--{$smarty.const.IMAGE_SAVE_URLPATH}-->" + product.main_list_image,
                        alt: product.name
                    });

                    // 商品ステータスをセット
                    var statusAreaEl = $($(".list_area div.statusArea").get(maxCnt));
                    // 商品ステータスの削除
                    statusAreaEl.empty();

                    if (productStatus[product.product_id] != null) {
                        var statusEl = '<ul class="status_icon">';
                        var statusCnt = productStatus[product.product_id].length;
                        for (var k = 0; k < statusCnt; k++) {
                            var status = productStatus[product.product_id][k];
                            var statusImgEl = '<li>' + status.status_name + '</li>' + "\n";
                            statusEl += statusImgEl;
                        }
                        statusEl += "</ul>";
                        statusAreaEl.append(statusEl);
                    }

                    //商品名をセット
                    $($(".list_area a.productName").get(maxCnt)).text(product.name);
                    $($(".list_area a.productName").get(maxCnt)).attr("href", url + product.product_id);

                    //販売価格をセット
                    var price = $($(".list_area span.price").get(maxCnt));
                    //販売価格をクリア
                    price.empty();
                    var priceVale = "";
                    //販売価格が範囲か判定
                    if (product.price02_min == product.price02_max) {
                        priceVale = product.price02_min_inctax_format + '円';
                    } else {
                        priceVale = product.price02_min_inctax_format + '～' + product.price02_max_inctax_format + '円';
                    }
                    price.append(priceVale);

                    //コメントをセット
                    $($(".list_area .listcomment").get(maxCnt)).text(product.main_list_comment);
                }
                pageNo++;

                //全ての商品を表示したか判定
                if (parseInt($("#productscount").text()) <= $(".list_area").length) {
                    $("#btn_more_product").hide();
                }
                eccube.hideLoading();
            }
        });
    }
</script>
