<!--{*
*
* Plugin Code : ManageCustomerStatus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*
 *}-->

<tr>
    <th>会員ランク</th>
    <td><!--{$arrPlgManageCustomerStatus[$arrForm.plg_managecustomerstatus_status]}--></td>
</tr>
