<!--▼▼▼▼▼▼▼▼ここから新規作成コンテンツ▼▼▼▼▼▼▼▼-->

	
<article class="contents_page product exchange">
	<h1 class="ttl_01">返品・交換について</h1>
	<section class="contents_box">
		<ul>
			<li><a href="#sec01">返品・交換をご希望の場合</a></li>
			<li><a href="#sec02">返品の送料について</a></li>
		</ul>
	</section>
	<!--/.contents_box-->
	
	
	<div class="contents_link_02">
		<div class="contents_link_02_box mb_10em" id="sec01">
			<h2>返品・交換をご希望の場合</h2>
			<p>当サイトでは、手配時に不備があった場合や不良品だった場合を除き、返品・交換は原則お受けしておりませんのであらかじめご了承ください。商品の返品・交換は商品到着後8日以内に、必ず下記問い合わせ先までご連絡ください。お手続きについてご案内させていただきます。ご連絡がないままご返送いただいた場合は、対応出来ませんのでご注意ください。</p>
			<br><br>
			<p>当サイトでは、手配時に不備があった場合や不良品だった場合を除き、返品・交換は原則お受けしておりませんのであらかじめご了承ください。商品の返品・交換は商品到着後8日以内に、必ず下記問い合わせ先までご連絡ください。お手続きについてご案内させていただきます。ご連絡がないままご返送いただいた場合は、対応出来ませんのでご注意くださ</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec02">
			<h2>返品の送料について</h2>
			<p>特に表記のない場合、商品のお届け日は以下の通りとなります。</p>
			<dl class="table_02">
				<dt>クレジットカード決済</dt>
				<dd>ご注文受付後、約3～5日で商品お届け</dd>
				<dt>代金引換決済</dt>
				<dd>ご注文受付後、約3～5日で商品お届け</dd>
				<dt>【先払い】コンビニ決済</dt>
				<dd>ご注文受付後、約3～5日で商品お届け</dd>
			</dl>
			
			<ul class="kome">
				<li>当社休業日を挟む場合はその分お届けが遅くなりますので、あらかじめご了承ください。</li>
				<li>あくまでも目安ですので、お届けが前後する場合がございます。</li>
				<li>オーダーメイド商品の場合は時間を要する場合がございます（2週間～1か月）。<br>その旨ページ上にも表示いたしますので、あらかじめご了承ください。</li>
				<li>ご注文後の売切れやお届けが遅れる場合は、メール、電話などでご連絡いたしますので、あらかじめご了承ください。</li>
				<li>配送先は、ご注文者ご本人、または別の方の住所も可能です。（代金引換決済を除く）</li>
				<li>配送業者の営業所留めでのご注文は受け付けておりません。</li>
				<li>ゴールデンウィークや年末年始等、長期休業時には、お届けまでに上記日数よりもかかる場合がございます。</li>
				<li>一部地域や繁忙期などご希望に添えない場合もございますので、あらかじめご了承ください。</li>
			</ul>
			
			<p class="text_36">※同様に残りの項目もすべて記載します。</p>
		</div>
		<!--/.contents_link_02_box-->
		</div>
	
	
	
	
</article>
<!--/.contents_page-->	
	
	
	
	
	
<!--▲▲▲▲▲▲▲▲ここまで新規作成コンテンツ▼▼▼▼▼▼▼▼-->	
