<!--▼▼▼▼▼▼▼▼ここから新規作成コンテンツ▼▼▼▼▼▼▼▼-->

	
<article class="contents_page product">
	<h1 class="ttl_01">商品について</h1>
	
	<section class="contents_box">
		<ul>
			<li><a href="#sec01">価格表示について</a></li>
			<li><a href="#sec02">商品サイズについて</a></li>
			<li><a href="#sec03">商品画像について</a></li>
			<li><a href="#sec04">品切れの商品について</a></li>
			<li><a href="#sec05">ラッピングについて</a></li>
		</ul>
	</section>
	<!--/.contents_box-->
	
	
	<div class="contents_link_02">
		<div class="contents_link_02_box" id="sec01">
			<h2>価格表示について</h2>
			<p>当ショップの商品価格は「消費税込」で表示しています。（1円未満の消費税は切り捨てとさせていただきます。）</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec02">
			<h2>商品サイズについて</h2>
			<p>当ショップで取り扱う商品のサイズにつきましては、各商品のページでご案内しておりますので、かならずご注文の前にお確かめください。なお、商品が多岐に渡るため、同じような商品でも製造メーカーによって若干サイズが異なる場合がございますので、あらかじめご了承ください。<br>あくまでも一般的なサイズの目安を表しておりますので、あらかじめご了承ください</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec03">
			<h2>商品画像について</h2>
			<p>パソコンやスマートフォン液晶モニターの特性や設定の関係で、商品の色、素材感については若干実物との違いが生じる場合がございます。<br>柄のある商品については、柄の出方が変わることがございます。また、イメージ写真で使われている小物類は商品に含まれません。</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec04">
			<h2>品切れの商品について</h2>
			<p>用意数を売り切ってしまった商品は「品切れ」アイコンがつき、商品をカートにいれることができない状態となります。一度売り切れとなった商品で、在庫が補充された場合は、「再入荷」アイコンがつきます。<br><br><br>会員の方は、品切れている商品の商品ページより再入荷お知らせメールの設定がご利用頂けます。ログインした状態で「再入荷お知らせメール」ボタンでご登録頂くと会員登録頂いたメールアドレス宛てに、ご登録頂いた商品が再入荷され次第メールでお知らせいたします。<br><br>※商品ごとに入荷の時期が異なりますので、都度ページ上でご確認ください。<br>※品切れのまま「販売終了」となる場合もございますので、あらかじめご了承ください。</p>
		</div>
		<!--/.contents_link_02_box-->
		<div class="contents_link_02_box" id="sec05">
			<h2>ラッピングについて</h2>
			<p>ラッピングをご希望の場合、有料432円（税込）にて申し受けております。ラッピングをご希望の場合は、ご注文手続きで設定が可能です。ショッピングカート内のラッピングの設定で、「ラッピングを希望する」を選択してください。</p>
			<p class="text_red">※購入品の中にギフト包装対象外商品を含む場合は、ラッピングの設定がお選びいただけません。<br>(ご注文手続きに出てこない仕様となっております。)</p>
			
			<p class="text_36">※ラッピング方法や注意事項など記載する</p>
		</div>
		<!--/.contents_link_02_box-->
	</div>
	
	
	
	
</article>
<!--/.contents_page-->	
	
	
	
	
	
<!--▲▲▲▲▲▲▲▲ここまで新規作成コンテンツ▼▼▼▼▼▼▼▼-->	
