<!--▼▼▼▼▼▼▼▼ここから新規作成コンテンツ▼▼▼▼▼▼▼▼-->

	
<article class="contents_page product delivery review_agreement">
	<h1 class="ttl_01">レビュー利用規約</h1>
	
	
	<div class="contents_link_02">
		<div class="contents_link_02_box">
			<h2>第1条</h2>
			<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
		</div>
		<!--/.contents_link_02_box-->
	</div>
	<!--/.contents_link_02-->

</article>
<!--/.contents_page-->	
	
	
	
	
	
<!--▲▲▲▲▲▲▲▲ここまで新規作成コンテンツ▼▼▼▼▼▼▼▼-->	
