<!--▼▼▼▼▼▼▼▼ここから新規作成コンテンツ▼▼▼▼▼▼▼▼-->


<article class="contents_page product review_write">
	<h1 class="ttl_01">レビューの書き方</h1>


	<div class="contents_review_write">
		<div class="contents_review_write_box clearfix clear">
			<h2><img src="<!--{$TPL_URLPATH}-->img/review_write/icon_review_01.png" alt="1">会員登録をする</h2>
			<div class="review_write_img">
				<img src="<!--{$TPL_URLPATH}-->img/review_write/dmy.png" alt="キャプチャ">
			</div>
			<p>説明がはいります。説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。</p>
		</div>
		<!--/.contents_review_write_box-->

		<div class="contents_review_write_box clearfix clear">
			<h2><img src="<!--{$TPL_URLPATH}-->img/review_write/icon_review_02.png" alt="2">商品を探して購入する</h2>
			<div class="review_write_img">
				<img src="<!--{$TPL_URLPATH}-->img/review_write/dmy.png" alt="キャプチャ">
			</div>
			<p>説明がはいります。説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。</p>
		</div>
		<!--/.contents_review_write_box-->

		<div class="contents_review_write_box clearfix clear">
			<h2><img src="<!--{$TPL_URLPATH}-->img/review_write/icon_review_03.png" alt="3">タイトルがはいります</h2>
			<div class="review_write_img">
				<img src="<!--{$TPL_URLPATH}-->img/review_write/dmy.png" alt="キャプチャ">
			</div>
			<p>説明がはいります。説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。<br>
説明がはいります。説明がはいります。</p>
		</div>
		<!--/.contents_review_write_box-->
	</div>

</article>
<!--/.contents_page-->





<!--▲▲▲▲▲▲▲▲ここまで新規作成コンテンツ▼▼▼▼▼▼▼▼-->
