<!--{*
/*
 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2014 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */
*}-->

<ul class="level1">
<li<!--{if $tpl_subno == 'affiliateid'}--> class="on"<!--{/if}--> id="navi-affiliate-affiliateid"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->affiliate/affiliateid.php"><span>アフィリエイトID管理</span></a></li>
<li<!--{if $tpl_subno == 'spreadsheet'}--> class="on"<!--{/if}--> id="navi-affiliate-spreadsheet"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->affiliate/spreadsheet.php"><span>集計表</span></a></li>
<li<!--{if $tpl_subno == 'log'}--> class="on"<!--{/if}--> id="navi-affiliate-log"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->affiliate/log.php"><span>ログリスト</span></a></li>
<li<!--{if $tpl_subno == 'productcsv'}--> class="on"<!--{/if}--> id="navi-affiliate-productcsv"><a href="<!--{$smarty.const.ROOT_URLPATH}--><!--{$smarty.const.ADMIN_DIR}-->affiliate/productcsv.php"><span>商品リストCSV</span></a></li>
</ul>
