<!--{*
*
* Plugin Code : ManageCustomerStatus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*
 *}-->

<!--{strip}-->
<!--★商品画像★-->
<!--{if $smarty.get.image != ''}-->
<!--{assign var=key value="`$smarty.get.image`"}-->
<!--{else}-->
<!--{assign var=key value="main_image"}-->
<!--{/if}-->
<center><img src="<!--{$arrFile[$key].filepath}-->"></center>

<!--★商品サブ画像★-->
<center>
    <!--{if $subImageFlag == true}-->
    <br>画像
    <!--{if ($smarty.get.image == "" || $smarty.get.image == "main_image")}-->
    [1]
    <!--{else}-->
    [<a href="?product_id=<!--{$smarty.get.product_id}-->&amp;image=main_image">1</a>]
    <!--{/if}-->

    <!--{assign var=num value="2"}-->
    <!--{section name=cnt loop=$smarty.const.PRODUCTSUB_MAX}-->
    <!--{assign var=key value="sub_image`$smarty.section.cnt.iteration`"}-->
    <!--{if $arrFile[$key].filepath != ""}-->
    <!--{if $key == $smarty.get.image}-->
    [<!--{$num}-->]
    <!--{else}-->
    [<a href="?product_id=<!--{$smarty.get.product_id}-->&amp;image=<!--{$key}-->"><!--{$num}--></a>]
    <!--{/if}-->
    <!--{assign var=num value="`$num+1`"}-->
    <!--{/if}-->
    <!--{/section}-->
    <br>
    <!--{/if}-->
    <br>
</center>

<!--{* オペビルダー用 *}-->
<!--{if "sfViewDetailOpe"|function_exists === TRUE}-->
<!--{include file=`$smarty.const.MODULE_REALDIR`mdl_opebuilder/detail_ope_mb_view.tpl}-->
<!--{/if}-->

<!--★詳細メインコメント★-->
[emoji:76]<!--{$arrProduct.main_comment|nl2br_html}--><br>
<br>

<!--★商品コード★-->
商品コード：
<!--{if $arrProduct.product_code_min == $arrProduct.product_code_max}-->
<!--{$arrProduct.product_code_min|h}-->
<!--{else}-->
<!--{$arrProduct.product_code_min|h}-->～<!--{$arrProduct.product_code_max|h}-->
<!--{/if}-->
<br>

<!--{if strlen($arrProduct.plg_managecustomerstatus_price_min) > 0 && (($smarty.session.customer.customer_id && $smarty.const.PLG_MANAGECUSTOMER_LOGIN_DISP == 1) || $smarty.const.PLG_MANAGECUSTOMER_LOGIN_DISP == 0)}-->
<!--★会員価格★-->
<font color="#0000FF"><!--{if $smarty.const.MEMBER_RANK_PRICE_TITLE_MODE == 1}--><!--{$arrCustomerRank[$customer_rank_id]}--><!--{/if}--><!--{$smarty.const.MEMBER_RANK_PRICE_TITLE}-->(税込)：
<!--{if $arrProduct.plg_managecustomerstatus_price_min_inctax == $arrProduct.plg_managecustomerstatus_price_max_inctax}-->
<!--{$arrProduct.plg_managecustomerstatus_price_min_inctax|n2s}-->
<!--{else}-->
<!--{$arrProduct.plg_managecustomerstatus_price_min_inctax|n2s}-->～<!--{$arrProduct.plg_managecustomerstatus_price_max_inctax|n2s}-->
<!--{/if}-->
円</font>
<br>
<!--{/if}-->    

<!--★販売価格★-->
<font color="#FF0000"><!--{$smarty.const.SALE_PRICE_TITLE}-->(税込)：
<!--{if $arrProduct.price02_min_inctax == $arrProduct.price02_max_inctax}-->
<!--{$arrProduct.price02_min_inctax|n2s}-->
<!--{else}-->
<!--{$arrProduct.price02_min_inctax|n2s}-->～<!--{$arrProduct.price02_max_inctax|n2s}-->
<!--{/if}-->
円</font>
<br>

<!--{if $arrProduct.price01_max_inctax > 0}-->
<!--★通常価格★-->
<font color="#FF0000"><!--{$smarty.const.NORMAL_PRICE_TITLE}-->(税込)：
<!--{if $arrProduct.price01_min_inctax == $arrProduct.price01_max_inctax}-->
<!--{$arrProduct.price01_min_inctax|n2s}-->
<!--{else}-->
<!--{$arrProduct.price01_min_inctax|n2s}-->～<!--{$arrProduct.price01_max_inctax|n2s}-->
<!--{/if}-->
円</font>
<br>
<!--{/if}-->

<!--★ポイント★-->
<!--{if $smarty.const.USE_POINT !== false}-->
ポイント：
<!--{if $arrProduct.plg_managecustomerstatus_price_min > 0 && (($smarty.session.customer && $smarty.const.PLG_MEMBER_PRICE_LOGIN_DISP == 1) || $smarty.const.PLG_MEMBER_PRICE_LOGIN_DISP == 0)}-->
<!--{if $arrProduct.plg_managecustomerstatus_price_min == $arrProduct.plg_managecustomerstatus_price_max}-->
<!--{$arrProduct.plg_managecustomerstatus_price_min|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id|n2s}-->
<!--{else}-->
<!--{if $arrProduct.plg_managecustomerstatus_price_min|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id == $arrProduct.plg_managecustomerstatus_price_max|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id}-->
<!--{$arrProduct.plg_managecustomerstatus_price_min|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id|n2s}-->
<!--{else}-->                  <!--{$arrProduct.plg_managecustomerstatus_price_min|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id|n2s}-->～<!--{$arrProduct.plg_managecustomerstatus_price_max|sfPrePoint:$arrProduct.point_rate:$smarty.const.POINT_RULE:$arrProduct.product_id|n2s}-->
<!--{/if}-->
<!--{/if}-->
<!--{else}-->        
<!--{if $arrProduct.price02_min == $arrProduct.price02_max}-->
<!--{$arrProduct.price02_min|sfPrePoint:$arrProduct.point_rate|n2s}-->
<!--{else}-->
<!--{if $arrProduct.price02_min|sfPrePoint:$arrProduct.point_rate == $arrProduct.price02_max|sfPrePoint:$arrProduct.point_rate}-->
<!--{$arrProduct.price02_min|sfPrePoint:$arrProduct.point_rate|n2s}-->
<!--{else}-->
<!--{$arrProduct.price02_min|sfPrePoint:$arrProduct.point_rate|n2s}-->～<!--{$arrProduct.price02_max|sfPrePoint:$arrProduct.point_rate|n2s}-->
<!--{/if}-->
<!--{/if}-->
<!--{/if}-->
Pt<br>
<!--{/if}-->
<br>

<!--★関連カテゴリ★-->
関連カテゴリ：<br>
<!--{section name=r loop=$arrRelativeCat}-->
<!--{section name=s loop=$arrRelativeCat[r]}-->
<a href="<!--{$smarty.const.ROOT_URLPATH}-->products/list.php?category_id=<!--{$arrRelativeCat[r][s].category_id}-->"><!--{$arrRelativeCat[r][s].category_name}--></a>
<!--{if !$smarty.section.s.last}--><!--{$smarty.const.SEPA_CATNAVI}--><!--{/if}-->
<!--{/section}-->
<br>
<!--{/section}-->
<br>

<form name="form1" method="post" action="?">
    <input type="hidden" name="mode" value="select">
    <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->">

    <input type="hidden" name="product_id" value="<!--{$tpl_product_id}-->">
    <!--{if $tpl_stock_find}-->
    <!--★商品を選ぶ★-->
    <!--{if $arrProduct.plg_managecustomerstatus_hidden_flg > 0}-->
    <font color="#FF0000">
    <!--{if $arrProduct.plg_managecustomerstatus_hidden_flg == 2}-->
    この商品はランクによる購入制限がかかっております。<br>
    ログイン後にもう1度ご確認下さい。
    <!--{else}-->
    この商品は現在のランクではご購入頂けません。
    <!--{/if}-->
    </font>
    <!--{else}-->
    <center><input type="submit" name="select" id="cart" value="この商品を選ぶ"></center>
    <!--{/if}-->
    <!--{else}-->
    <font color="#FF0000">申し訳ございませんが､只今品切れ中です｡</font>
    <!--{/if}-->
</form>
<!--{/strip}-->