@charset "Utf-8";

/* =========================================================

	Title:"http://www.oukoku.co.jp" stylesheet
  
	TOC
	
  [1]:Common
	[2]:Layout
	[3]:Header
  [4]:Footer 
  [6]:Extend plugin menu
  [7]:Exist style
  [8]:Lineup
  [9]:Shop
	
========================================================= */

/*	Common
========================================================= */

.imgHover:hover {
  opacity: .85;
  filter: alpha(opacity=85);
}


/*	Layout
========================================================= */

body { min-width: 980px; }

#areaWrapper1 {
  width: 980px;
  margin: 0 auto;
}


/*	Header
========================================================= */

.pbHeaderArea .pbNestedWrapper { overflow: visible; }

.pbHeaderArea .cjInner {
  position: relative;
  width: 980px;
  margin: 0 auto;
  z-index: 1;
}

/* Logo */
.cjLogo {
  position: absolute;
  left: -6px;
  z-index: 10;
}

/* Menu */
.cjHeaderMenu { float: right; }

.cjHeaderMenu a {
  display: block;
  float: left;
  padding: 0 18px 0 17px;
  background: url(/library/new/image/common/header/bg_glue_header_menu.gif) no-repeat;
}

/* Search */
.cjSearchBox input[type="image"] { vertical-align: top; }

.cjSearchBox input[type="text"] {
  width: 197px;
  height: 25px;
  border: none;
  background: url(/library/new/image/common/header/bg_search_text.gif) no-repeat transparent;
}

/* Global menu */
.cjGMenuBox { position: relative; }

.cjGMenu { width: 980px; }

.cjGMenu ul {
  margin: 0 0 0 184px;
  padding: 0;
}

.cjGMenu li {
  float: left;
  margin: 0;
  padding: 0;
}

.cjGMenu a {
  display: block;
  height: 51px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url(/library/new/image/common/header/gmenu_light.png);
  background-repeat: no-repeat;
}

.home a {
  width: 162px;
  background-position: 0 0;
}

.shop a {
  width: 160px;
  background-position: -162px 0;
}

.lineup a {
  width: 162px;
  background-position: -322px 0;
}

.support a {
  width: 162px;
  background-position: -484px 0;
}

.question a {
  width: 150px;
  background-position: -646px 0;
}

.home a:hover,
.home.current a { background-position: 0 -51px; }

.shop a:hover,
.shop.current a { background-position: -162px -51px; }

.lineup a:hover,
.lineup.current a { background-position: -322px -51px; }

.support a:hover,
.support.current a { background-position: -484px -51px; }

.question a:hover,
.question.current a { background-position: -646px -51px; }

/* Topic path */
.cjTopicPath { width: 980px; }


/*	Footer
========================================================= */

/* Page navigation */
.cjFooterPageTop { width: 980px; }

/* Footer menu */
.cjFooterMenu a {
  padding: 6px 17px;
  background: url(/library/new/image/common/footer/bg_glue_footer_menu.gif) no-repeat 0 center;
}


/*	Extend plugin menu
========================================================= */

.pbBlockExtMenu a,
.pbBlockExtMenu a span,
.cjCurtainSmenu2 a { display: block; }

.pbBlockExtMenuLv1 {
  margin-top: 4px;
  background-position: 9px 50%;
}

.cjCurtainSmenu1 {
  margin-top: 4px;
  padding: 10px 5px 7px 32px;
  background-position: 9px 50%;
}

.cjCurtainSmenu1:hover {
  cursor: pointer;
  background-image: url(/library/new/image/common/leftarea/ic_menu_lv1a.gif);
  background-repeat: no-repeat;
  background-color: #DDD6C1;
}

.pbBlockExtMenuLv1 span { padding: 10px 5px 7px 32px; }

.pbBlockExtMenuLv2,
.cjCurtainSmenu2 { background-position: 9px 50%; }

.pbBlockExtMenuLv2 span,
.cjCurtainSmenu2 a { padding: 5px 5px 4px 23px; }

.cjCurtainSmenu2:hover {
  background-image:url(/library/new/image/common/leftarea/ic_menu_lv2.gif);
  background-repeat: no-repeat;
  background-color: #F7F5F1;
}

.cjCurtainS {	width: 228px; }

/*	Exist style
========================================================= */

/* common.css */
.common_subtitle{
	margin: 20px 0px 0px 0; 
	vertical-align: top;
	text-align: left;
}

.common_subtitle2{
	margin: 20px 0px 0px 0;
	vertical-align: top;
	text-align: left;
}

.common_sentence{
	padding: 20px 20px 0px 0;
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: black;
}

.common_sentence2{
	padding: 20px 20px 0px 0;
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: #669966;
	font-weight: bold;
}

.common_sentence3{
	padding: 20px 20px 0px 0;
	text-align: left;
	vertical-align: top;
	line-height: 150%;
	color: black;
}

.common_table_sentence{
	padding: 15px 20px 0px 0;
	/padding: 15px 20px 0px 0;
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: black;
}

.common_table_sentence2{
	padding: 15px 20px 0px 0;
	text-align: left;
	vertical-align: top;
	line-height: 150%;
	color: black;
}

.common_form_th{
	height: 40px;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
	font-weight: bold;
	background-color: #FCE7E7;
}

.common_form_td{
	height: 40px;
	padding: 10px 10px 10px 15px;
	vertical-align: middle;
	text-align: left;
	background-color: #FFF;
}

#form_table input,
#form_table select,
#form_table option{
	padding: 1px;
	line-height: 1em;
}

#form_table p{
	display: inline-block;
	/display: inline;
	/zoom: 1;
	display/**/: inline;
	zoom/**/: 1;
	padding: 3px 5px 2px 0px;
}

#form_table label {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	display/**/: inline;
	zoom/**/: 1;
	padding: 3px 5px 2px 0px;
}

/* common.css end */

/* pagestyle.css */
.sentence1 {
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: #669966;
	font-weight: bold;
}

.sentence2 {
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: black;
}

.subtitle1 {
	margin-left: 0px;
	line-height: 150%;
	text-align: left;
	vertical-align: top;
	color: #FF6666;
	font-weight: bold;
}

#care10 th {
	width: 120px;
	line-height: 150%;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-weight: bold;
  font-size: 92.3%;
	border: 1px #aaaaaa solid;
	background-color: #e1e1e1;
}

#care10 td {
	padding: 10px;
	line-height: 130%;
	letter-spacing: 1px;
	text-align: left;
	vertical-align: middle;
	color: black;
  font-size: 92.3%;
	border: 1px #aaaaaa solid;
}
/* pagestyle.css end */

/* Shop list */

table#shoplist .pre1 {
  width: 100%;
  height: 27px;
  padding: 4px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid black;
  border-color: #CCC;
  font-weight: bold;
  font-size: 107%;
}

table#shoplist .pre2 {
  width: 660px;
  height: 38px;
  padding: 4px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid black;
  border-color: #CCC;
  font-weight: bold;
  font-size: 107%;
}

table#shoplist .list .box1 {
  float: left;
  width: 222px;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-color: #CCC;
  color: #333;
}

table#shoplist .list .box2 {
  width: 221px;
  float: left;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  margin-left: -1px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-color: #CCC;
  color: #333;
}

table#shoplist .list .box3 {
  float: left;
  width: 221px;
  margin-left: -1px;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-color: #CCC;
  color: #333;
}

table#shoplist .shop_name {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  vertical-align: middle;
}

table#shoplist .type {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

table#shoplist .address {
  clear: both;
  margin-left: 20px;
  margin-right: 10px;
  text-align: left;
  vertical-align: middle;
  color: #999;
  font-size: 92.3%;
}
/* style.css end */


/*	Lineup
========================================================= */

.cjLineupListCurtain a,
.cjLineupListCarpet a,
.cjLineupListOther a {
  display: block;
  padding-bottom: 12px;
  zoom: 1;
}

.cjLineupCurtainTaste a {
  display: block;
  padding-bottom: 4px;
  zoom: 1;
}

.cjLineupListCurtain2 a,
.cjLineupListCarpet2 a,
.cjLineupListOther2 a {
  display: block;
  padding-bottom: 4px;
  zoom: 1;
}

.cjLineupListCurtain a:hover,
.cjLineupListCurtain2 a:hover,
.cjLineupListCarpet a:hover,
.cjLineupListCarpet2 a:hover,
.cjLineupListOther a:hover,
.cjLineupListOther2 a:hover,
.cjLineupCurtainTaste a:hover {
  opacity: .85;
  filter: alpha(opacity=85);
}

.cjLineupListCurtain img,
.cjLineupListCurtain2 img,
.cjLineupListCarpet img,
.cjLineupListCarpet2 img,
.cjLineupListOther img,
.cjLineupListOther2 img,
.cjLineupCurtainTaste img { display:block; }

.cjLineupListCurtain img[src*='jpg'],
.cjLineupListCarpet img[src*='jpg'],
.cjLineupListOther img[src*='jpg'] { margin-bottom: 17px;}

.cjLineupListCurtain2 img[src*='jpg'],
.cjLineupListCarpet2 img[src*='jpg'],
.cjLineupListOther2 img[src*='jpg'] { margin-bottom: 10px;}

.cjLineupCurtainTaste img[src*='jpg'] { margin-bottom: 6px; }

.cjLineupListCurtain img[src*='gif'],
.cjLineupListCarpet img[src*='gif'],
.cjLineupListOther img[src*='gif'] {
  float: left;
  margin-left: 4px;
  margin-top:5px;
  border: none;
}

.cjLineupListCurtain2 img[src*='gif'],
.cjLineupListCarpet2 img[src*='gif'],
.cjLineupListOther2 img[src*='gif'] {
  float: left;
  margin-top: 12px;
  margin-left: 4px;
  border: none;
}

.cjLineupCurtainTaste img[src*='gif'] {
  float: left;
  margin-left: 5px;
  border: none;
}

.cjLineupSearchLink ul,
.cjLineupSearchLink li {
  margin: 0;
  padding: 0;
}

.cjLineupSearchLink li {
  padding-left: 14px;
  padding-right: 5px;
  background: url(/library/new/image/common/icon/ic_arrow_orange.png) no-repeat 3px 2px;
}


/*	Shop
========================================================= */

.cjShopAreaBtL:hover,
.cjShopAreaBtC:hover,
.cjShopAreaBtR:hover,
.cjCompanyBtn:hover {
  opacity: .85;
  filter: alpha(opacity=85);
	zoom: 1;
}

.cjShopAreaBtL a {
	display: block;
	padding-right: 24px;
}

.cjShopAreaBtC a {
	display: block;
	padding-right: 20px;
}

.cjShopAreaBtR a {
	display: block;
	padding-right: 12px;
}

.cjShopCateDate { display: none; }

.cjShopCateTxt img {
	float: right;
	margin-left: 10px;
}
/*	Checked Item
========================================================= */
.headerLink {
	margin:0;
	padding:0;
}
.headerLink ul {
	margin:0;
	padding:0;
	list-style:none;
}
.headerLink ul li {
	margin:0 0 1em 0;
	padding:0.5em;
	border-top:1px dotted #6D2C06;
	border-bottom:1px dotted #6D2C06;
	overflow:hidden;
	background:#F9F8F4;
}
.headerLink ul li a {
	margin:0.5em 0;
	padding:0 20px 0 0;
	display:inline-block;
	text-align:right;
	background:url(/library/new/image/common/icon/sp/ic_arrow_01.png) no-repeat right center;
	background-size:contain;
	float:right;
}