.cjMB10{
 margin-bottom:10px;
}

#infoArea2{
 clear: both;
}

.LineUpH li{
 float:left;
}

.LineUpH{
 border-bottom: 3px #713912 solid;
 margin-bottom:20px;
}

.LineUpH h1{
 margin-bottom:0;
 border-bottom:0;
 line-height:20px;
 padding-top:13px;
}

.LineUpH li.first{
 width:47%;
}

.LineUpH li.check_text{
 width:38%;
 margin-right:5px;
 font-size:10px;
 line-height: 1em;
 padding-top: 6px;
}

.LineUpH li.check_btn{
 padding-bottom:10px;
}

.back{
 margin-bottom:11px;
 clear:both;
}

.btn{
 clear:both;
}