#mce-code-editor-wrapper {
  z-index : 10;
}
.cjHeadSpTop img,
.cjSPSyousaiPage .back img {
  border : 0;
}

.header-container * {
  font-size : 12px;
  margin : 0;
  padding : 0;
}
.header-container {
  width : 980px;
  margin : 10px auto 0;
}
.header-menu_min {
  overflow : hidden;
  line-height : 1;
}
.header-menu_min > ul {
  margin : 10px 0 0;
}
.header-menu_min > ul > li {
  list-style : none;
  float : left;
  border-right : 1px solid #ccc;
  padding : 0 10px;
}
.header-menu_min > ul > li:last-child {
  border-right : none;
}
.header-menu_min > ul > li > a {
  color : #aaa !important;
  text-decoration : none !important;
}
.header-menu_min > ul > li > a:hover {
  opacity : 0.8;
  text-decoration : underline;
}
.header-wrap {
}
.header-wrap .header-left {
  display : inline-block;
  vertical-align : bottom;
}
.header-wrap .header-left > p {
  width : 160px;
}
.header-wrap .header-left > p > a > img {
  width : 100%;
}
.header-wrap .header-right {
  display : inline-block;
  vertical-align : bottom;
  width : 805px;
  margin : 0 0 0 10px;
}
.header-right .block-aboveArea {
}
.header-right .block-aboveArea .fair50th {
  display : inline-block;
  vertical-align : bottom;
  width : 380px;
}
.header-right .block-aboveArea .fair50th > img {
  display : block;
  width : 100%;
}
.header-right .block-aboveArea .header-spBtn {
  display : inline-block;
  vertical-align : bottom;
  margin : 0 8px 0 12px;
}
.header-right .block-aboveArea .header-spBtn > a {
  display : block;
  font-size : 14px;
  font-weight : bold;
  color : #FFF;
  background-color : #bbb;
  text-decoration : none;
  padding : 2px 8px;
}
.header-right .block-aboveArea .header-spBtn > a:hover {
  opacity : 0.8;
}
.header-right .block-aboveArea .search_area_ {
  display : inline-block;
  vertical-align : bottom;
}
.block-bottomArea {
  margin : 0 auto;
}
.block-bottomArea > ul {
  overflow : hidden;
  margin : 12px 0;
}
.block-bottomArea > ul > li {
  float : left;
  list-style : none;
  margin : 0 24px;
}
.block-bottomArea > ul > li > a {
  color : #333;
  text-decoration : none !important;
  font-size : 15px;
  font-weight : bold;
}
.block-bottomArea > ul > li > a:hover {
  text-decoration : underline !important;
}
.nw_gnav_ {
  margin : 2px 0 6px;
}
.nw_gnav_ ul {
  margin : 0;
  padding : 0;
  text-align : center;
}
.nw_gnav_ ul li {
  list-style : none;
  display : inline-block;
  vertical-align : bottom;
  background-color : #eee;
  padding : 2px 10px;
}
.nw_gnav_ ul li a {
  text-decoration : none !important;
  font-size : 15px;
  font-weight : bold;
}
.nw_gnav_ ul li a:hover {
  text-decoration : underline !important;
}
.nw_gnav_ ul li a.large {
  padding-right : 7px;
  border-right : 1px solid #333;
}
.nw_gnav_ ul li a.sec,
.nw_gnav_ ul li a.last {
  font-size : 0.7em;
}
.nw_gnav_ ul li a.sec {
  padding-left : 6px;
  padding-right : 10px;
  border-right : 1px solid #333;
}
.nw_gnav_ ul li a.last {
  padding-left : 7px;
}
.form_estimation {
  background-color : #f1f2ec;
}
.form_estimation > a {
  display : block;
  width : 980px;
  margin : 2px auto;
}
.form_estimation > a > img {
  display : block;
  padding : 2px 0;
}
