<!--{*
*
* Plugin Code : ManageCustomerStatus
*
* Copyright (C) 2016 BraTech Co., Ltd. All Rights Reserved.
* http://www.bratech.co.jp/
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*
 *}-->

<p><a rel="external" href="javascript: void(0);" class="btn_more" id="btn_more_product" onClick="getProducts2( <!--{$disp_number|h}--> ); return false;">もっとみる(＋<!--{$disp_number|h}-->件)</a></p>