/* CSS Document */

/*アイコン*/
.colorSelect01 li {
	cursor:pointer;
}
.colorSelect01 li.selected {
	border:2px red solid;
}


/*商品カラー*/

.color_red {
	background:#F00;
}
.color_blue {
	background:#00F;
}
.color_green {
	background:#0F0;
}
.color_img {
	content: url(/shop/user_data/packages/CJoukoku/img/icon/curtain.png);
}
.color_img01 {
	content: url(/shop/user_data/packages/CJoukoku/img/icon/curtain.png);
}

.color001 {
	background:#000;
}
.color002 {
	background:#fff;
	border:solid 2px #ccc;
}
.color003 {
	background:#f00;
}
.color004 {
	background:#ff0;
}
