@charset "UTF-8";

/* ステータス */
.status_icon li {
  position: relative;
  height: 27px;
  width: 56px !important;
}
.status_icon span {
  border: 1px solid #ccc;
  color: #FFF;
  font-size: 11px !important;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 3px 1px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  text-align: center;
  height: 33px; /*27px*/
  width: 56px; /*41px*/
}
.status_icon {
  font-size: 11px !important;
  padding: 0;
}
.status_icon .icon1 {
  background: #31C0DA;
  border-color: #31C0DA;
}
.status_icon .icon2 {
  background: #4DA3AE;
  border-color: #4DA3AE;
}
.status_icon .icon3 {
  background: #FFAC5C;
  border-color: #FFAC5C;
}
.status_icon .icon4 {
  background: #FFDD86;
  border-color: #FFDD86;
}
.status_icon .icon5 {
  background: #999;
  border-color: #999;
}
.status_icon .icon6 {
  background: #FF4F81;
  border-color: #FF4F81;
}
.status_icon .icon7 {
  background: #FB6A3D;
  border-color: #FB6A3D;
  line-height: 22px;
}
.status_icon .icon8 {
  background: #A7D76A;
  border-color: #A7D76A;
}
.status_icon .icon9 {
  background: #28A259;
  border-color: #28A259;
}
.measuringBox .sizeInput.open:after {
  position: absolute;
  top: 0;
  right: 14%;
  padding: 0;
  content: url(../img/icon/arrow05.png);
  pointer-events: none;
  text-align: right;
  transform: rotate(0);
}
.measuringBox .sizeInput:after {
  position: absolute;
  top: 0;
  right: 14%;
  padding: 0;
  content: url(../img/icon/arrow05.png);
  pointer-events: none;
  transform: rotate(180deg);
  text-align: left;
}

/* 商品詳細 */
.railBox02 {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.railBox02 .left, .railBox02 .right{
  display: inline-block;
  vertical-align: middle;
}
.railBox02 .left {
  width: 15%;
}
.railBox02 .right {
  margin: 0 0 0 5%;
  text-align: center;
  width: 60%;
}
.radio01 + span {
  position: relative;
}
.radio01 + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background: #eee;
  border: 2px solid #aaa;
  border-radius: 50%;
  box-sizing: border-box;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.3) inset; */
}
.radio01:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14%;
  right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  background: #999;
  border-radius: 50%;
}

header > nav > ul > li .navContents ul li {
    width: 13%;
}
.favoriteBtn02 {
    position: relative;
    background: #fff;
}
.bgSilver ul li:first-child {
    width: 55%;
}
@media screen and (max-width: 960px) {
  .measuringBox .sizeInput.open {
    font-size: 12px;
  }
  .classlist ul li {
    width: 100%;
  }
  .radio01:checked + span::after {
    left: 5px;
  }
}
