@charset "UTF-8";
.wideBnr {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}
 
.wideBnr ul,
.wideBnr ul li {
    float: left;
    display: inline;
    overflow: hidden;
}
 
.wideBnr ul li img {
    width: 100%;
    display: none;
}
 
.wideBnr_base {
    top: 0;
    position: absolute;
}
.wideBnr_wrap {
    top: 0;
    position: absolute;
    overflow: hidden;
 
}
.Bnr_prev,
.Bnr_next {
    top: 0;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.Bnr_prev {background: #fff url(../img/prev.jpg) no-repeat right center;}
.Bnr_next {background: #fff url(../img/next.jpg) no-repeat left center;}
 
.pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 15px;
    text-align: center;
    position: absolute;
    z-index: 200;
}
 
.pagination a {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    background: #333;
}
.pagination a.active {
    filter:alpha(opacity=100)!important;
    -moz-opacity: 1!important;
    opacity: 1!important;
}
 
 
/* =======================================
    ClearFixElements
======================================= */
.wideBnr ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
 
.wideBnr ul {
    display: inline-block;
    overflow: hidden;
}
