@charset "Utf-8";

/* =========================================================

	Title:"http://www.oukoku.co.jp"  Lineup stylesheet
  
	TOC
	
  [1]:Common
  [2]:Layout
  [3]:Heading
  [4]:Images
  [5]:infoArea
    		Function
    		Color
  [6]:Feature
  [7]:PageBack
  [8]:Item List
	
========================================================= */

/*	Common
========================================================= */

.pbMainArea ul,
.pbMainArea li {
  margin: 0;
  padding: 0;
}

.pbMainArea ul {
  width: auto;
  overflow: hidden;
}

.pbMainArea li { list-style-type: none; }

.cjLineupSearchLink li {
  padding-left: 14px;
  padding-right: 5px;
  background: url(/library/new/image/common/icon/ic_arrow_orange.png) no-repeat 3px 2px;
}

.pbMainArea img { vertical-align: top; }


/*	Layout
========================================================= */

#imageArea {
  float: left;
  width: 360px;
}

#infoArea {
  float: right;
  width: 320px;
}

.content {
  clear: left;
  margin-bottom: 15px;
}


/*	Heading
========================================================= */

.cjMainContentsTtlBox {
  margin-bottom: 6px;
  padding: 0 0 10px;
  background: url(/library/new/image/common/main/bg_contents_ttl_border.png) repeat-x left bottom;
}

.cjMainContentsTtlBox h2 {
  padding: 0 10px 0 22px;
  color: #40220F;
  font-weight: bold;
  font-size: 128.5%;
  background: url(/library/new/image/common/main/bg_contents_ttl.gif) no-repeat 2px 6px;
}


/*	Images
========================================================= */

#imageArea {
  line-height: 1.2;
  font-size: 85.7%;
}

#imageArea p { margin: 5px 0; }

#imageArea li {
  float: left;
  margin-right: 10px;
}

#imageArea img { border: 1px solid #A18878; }

#imageArea li img { width: 108px; }

#imageArea li img:hover {
  opacity: .85;
  filter: alpha(opacity=85);
  cursor: pointer;
}

/*	Function
========================================================= */

.function li {
  float: left;
  width: 39px;
  margin-right: 9px; 
}


/*	Color
========================================================= */

.color { line-height: 1.2; }

.color li {
  float: left; 
  margin-right: 6px;
  text-align:center;
  font-size: 85.7%;
}


/*	Feature
========================================================= */

#feature {
  clear:both;
  margin-bottom: 25px;
  padding-top: 15px;
}


/*	PageBack
========================================================= */

#pageBack { text-align: right; }

#pageBack img:hover {
  opacity: .85;
  filter: alpha(opacity=85);
  cursor: pointer;
}


/*	Item List
========================================================= */

#itemList .item {
  clear: left;
  width: 100%;
  overflow: auto;
  margin-bottom: 8px;
  *margin-bottom: 4px; /* for IE7, 8 */
  padding-bottom: 8px;
  border-bottom: 1px dotted #868686;
}

.itemImg {
  float: left;
  width: 119px;
  margin-right: 8px;
  border: 1px solid #A28978;
}

.itemImg img { width: 119px; border:0px;}

.itemData {
  float: left;
  width: 558px;
  height: 121px;
  line-height: 1.2;
  border-collapse: collapse;
  border: 1px solid #C6BA99;
}

.itemData th { padding: 4px 3px; }

.itemData th {
  width: 54px;
  text-align: center;
  font-size: 85.7%;
  background-color: #EEEAE0;
}

.itemData td {
  padding: 4px 3px 4px 10px;
  font-size: 92.9%;
}

.itemColor {
  border-top: 1px dotted #C6BA99;
  border-bottom: 1px dotted #C6BA99;
}

td.itemColor { padding-top: 7px; }

.itemData ul { margin-bottom: 1px; }

.itemData li { font-size: 92.3%; }

.itemData p {
  color: #A28978;
  font-size: 92.3%;
}

.itemData li {
  float: left;
  margin-right: 6px;
  text-align: center;
}

.itemData p { clear: left; }

.itemFunction {
  width: 292px;
  vertical-align: top;
  border-left: 1px solid #C6BA99;
}

.itemFunction ul {
  margin-top: 3px;
  margin-left: 4px;
}

.itemFunction li {
  float: left;
  width: 39px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.itemFunction p {
  clear: left;
  font-size: 92.9%;
}