.cjGMenu .header-container * {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.cjGMenu .header-container {
    width: 980px;
    margin: 10px auto 0;
}
.cjGMenu .header-menu_min {
    overflow: hidden;
    line-height: 1;
}
.cjGMenu .header-menu_min > ul {
    margin: 10px 0 0;
    float: right;
}
.cjGMenu .header-menu_min > ul > li {
    list-style: none;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 10px;
}
.cjGMenu .header-menu_min > ul > li:last-child {
    border-right: none;
}
.cjGMenu .header-menu_min > ul > li > a {
    color: #aaa !important;
    text-decoration: none !important;
}
.cjGMenu .header-menu_min > ul > li > a:hover {
    opacity: 0.8;
    text-decoration: underline;
}
.cjGMenu .header-wrap {
}
.cjGMenu .header-wrap .header-left {
    display: inline-block;
    vertical-align: bottom;
}
.cjGMenu .header-wrap .header-left > p {
    width: 160px;
}
.cjGMenu .header-wrap .header-left > p > a > img {
    width: 100%;
}
.cjGMenu .header-wrap .header-right {
    display: inline-block;
    vertical-align: bottom;
    width: 805px;
    margin: 0 0 0 10px;
}
.cjGMenu .header-right .block-aboveArea {

}
.cjGMenu .header-right .block-aboveArea .fair50th {
    display: inline-block;
    vertical-align: bottom;
    width: 380px;
}
.cjGMenu .header-right .block-aboveArea .fair50th > img {
    display: block;
    width: 100%;
}
.cjGMenu .header-right .block-aboveArea .header-spBtn {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 8px 0 12px;
}
.cjGMenu .header-right .block-aboveArea .header-spBtn > a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #bbb;
    text-decoration: none;
    padding: 2px 8px;
}
.cjGMenu .header-right .block-aboveArea .header-spBtn > a:hover {
    opacity: 0.8;
}
.cjGMenu .header-right .block-aboveArea .search_area_ {
    display: inline-block;
    vertical-align: bottom;
}
.cjGMenu .block-bottomArea {
    margin: 0 auto;
}
.cjGMenu .block-bottomArea > ul {
    overflow: hidden;
    margin: 12px 0;
}
.cjGMenu .block-bottomArea > ul > li {
    float: left;
    list-style: none;
    margin: 0 24px;
}
.cjGMenu .block-bottomArea > ul > li > a {
    color: #333;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: bold;
}
.cjGMenu .block-bottomArea > ul > li > a:hover {
    text-decoration: underline !important;
}
.cjGMenu .nw_gnav_ {
    margin: 2px 0 6px;
}
.cjGMenu .nw_gnav_ ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.cjGMenu .nw_gnav_ ul li {
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
    background-color: #eee;
    padding: 2px 10px;
}
.cjGMenu .nw_gnav_ ul li a {
    text-decoration: none !important;
    font-size: 15px;
    font-weight: bold;
}
.cjGMenu .nw_gnav_ ul li a:hover {
    text-decoration: underline !important;
}
.cjGMenu .nw_gnav_ ul li a.large {
    padding-right: 7px;
    border-right: 1px solid #333;
}
.cjGMenu .nw_gnav_ ul li a.sec,
.cjGMenu .nw_gnav_ ul li a.last {
    font-size: 0.7em;
}
.cjGMenu .nw_gnav_ ul li a.sec {
    padding-left: 6px;
    padding-right: 10px;
    border-right: 1px solid #333;
}
.cjGMenu .nw_gnav_ ul li a.last {
    padding-left: 7px;
}
.cjGMenu .form_estimation {
    background-color: #f1f2ec;
}
.cjGMenu .form_estimation > a {
    display: block;
    width: 980px;
    margin: 2px auto;
}
.cjGMenu .form_estimation > a > img {
    display: block;
    padding: 2px 0;
}

.header-right .block-aboveArea .fair50th a {width:380px;}
.header-right .block-aboveArea .fair50th a img {width:380px;}
/* ãã­ã¼ã?£ã³ã°ããã¼*/
.bottomcpn { width: 980px;height: 82px; margin: 0 auto; position: fixed; bottom:0; left: 0; right:0;z-index: 10000}
.bottomcpnsp { display:none;}
@media screen and (max-width: 769px) {
.pc_btlink {display:none;}
.bottomcpnsp {display:block; width: 100%;margin: 0 auto; position: fixed; bottom:0; left: 0; right:0;z-index: 10000}
.bottomcpnsp ul { width: 100%;margin:0;list-style:none;padding:0;}
.bottomcpnsp ul .bottomcpnsp_l {float:left;width:50%;}
.bottomcpnsp ul .bottomcpnsp_r {float:right;width:50%;}
	}
/*ã¹ãã?NEWãããã¼*/
.top_text_spnew {width:100%;height:22px;background:#f2f2f2;}
.top_text_spnew p {font-size:13px;line-height:22px;text-align:center;color:#4d4d4d;}
.top_logo_spnew {width:100%;height:50px;padding-top:8px;text-align:center;box-sizing:border-box;}
.top_logo_spnew img {width:180px;margin:0 auto;}
.headerNavi_spnew {width:100%;margin:0 auto;}
.headerNavi_spnew ul {width:100%;margin:0 auto;padding:0;list-style:none;overflow:hidden;}
.headerNavi_spnew li {float:left;width:20%;height:70px;background:#000;}
.headerNavi_spnew a {display:block;width:100%;height:70px;padding-top:45px;box-sizing:border-box;color:#fff;text-decoration:none;text-align:center;font-size:10px;background:no-repeat center 12px;}
.headerNavi_spnew a.headerNavi_new_01 {background:url(/library/common/header-img/navicon_01.png) no-repeat center 15px;background-size:25px;}
.headerNavi_spnew a.headerNavi_new_02 {background:url(/library/common/header-img/navicon_02.png) no-repeat center 15px;background-size:25px;}
.headerNavi_spnew a.headerNavi_new_03 {background:url(/library/common/header-img/navicon_03.png) no-repeat center 15px;background-size:25px;}
.headerNavi_spnew a.headerNavi_new_04 {background:url(/library/common/header-img/navicon_04.png) no-repeat center 15px;background-size:25px;}
.headerNavi_spnew a.headerNavi_new_05 {background:url(/library/common/header-img/navicon_05.png) no-repeat center 15px;background-size:25px;}
.cjSPHeaderNavi {border-top:none;padding-top:0;}
.sl_bottomtext {display:block;width:95%;height:20p; margin:3px auto 0;font-size:12px;line-height:1.2em;}
.top_relink_01 {margin:15px auto;}
.top_relink_01 a {color:#392212;}
.top_relink_01 span {display:block;width:95%;margin:5px auto;text-align:center;font-size:18px;line-height:1.2em;}
.h2_spnew {width:100%;height:50px;line-height:50px;margin:0;padding:0;text-align:center;font-size:15px;color:#fff;background:#c7b299;}
.cat_link_spnew {width:80%;margin:20px auto;}
.cat_link_spnew a {display:block;width:100%;height:60px;font-size:15px;color:#392212;line-height:60px;text-align:center;text-decoration:none;border:1px solid #392212;box-sizing:border-box;border-radius:5px;}
.cabox_spnew {width:100%;}
.cabox_spnew img {width:100%;margin-bottom:10px;}
.fixed_spnew {
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
}
.fixed_fix {
    margin-bottom:70px;
}

/* äºç´??ã¿ã³ã¹ãã?ç¨*/
@media screen and (min-width: 769px) {
.cjEstimationBtn img {width:173px;}
}

/*ã¹ãã?formcss*/
input.cjformReserveButton2[type="submit"],
input.cjformReserveButton2[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px auto;
}
input.cjformReserveButton2[type="submit"]::-webkit-search-decoration,
input.cjformReserveButton2[type="button"]::-webkit-search-decoration {
  display: none;
}
input.cjformReserveButton2[type="submit"]::focus,
input.cjformReserveButton2[type="button"]::focus {
  outline-offset: -2px;
}
input.cjformReserveButton2 {display:block;width:250px;height:50px;background-color:#369F00;font-size:17px;color:#fff;}

/* é»è©±ãªã¹ãã?ã¼ã¸ */
#tel_info {top: -100px;
    position: absolute;
    width: 100%;height: auto;
    z-index: 10000;}

#tel_info.fixed {
	position:fixed;
    margin-top: 69px;
    top: 0;
    transition: top 0.65s ease-in;
    -webkit-transition: top 0.65s ease-in;
    -moz-transition: top 0.65s ease-in;
}