@charset "UTF-8";

body {
  overflow: hidden;
}
button:hover {
  cursor: pointer;
}
/* URL変更後・トップページ */
/* 暫定処理の為、後日修正_20181011 */
/* TOP SEARCH */


/* お客様の声 */
.voiceLeft {
  background-size: 100%;
  width: 64%;
}
.voiceLeft p,
.voiceLeft ol li  {
  font-size: 11px;
}
.voiceRight ul {
  margin: 0 0 5%;
}
.voiceRight ul li {
  margin: 0 0 4%;
  padding: 0 0 4%;
}
.voiceRight ul li:last-child {
  border-bottom: none;
}
.voiceRight ul li dl dd h3 {
  font-size: 15px;
}
.voiceRight .voiceComent {
  font-size: 11px;
}
#side-area { position: fixed; left: 20px; top: 20%; z-index: 9999; background:rgba(255,255,255,1);border-radius:3px;padding:0 10px;}
#side-area ul li {padding:10px 0;}
#side-area ul li + li{border-top:1px solid #ccc;}
#side-area ul li img {}
.totop { position: fixed; bottom: 20px; right: 20px;}

div#customervoice_area h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 1%;
}
#customervoice_area li {
  margin: 0 0 2%;
}
#customervoice_area li p {
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 2% 3%;
}
#customervoice_area li p.voicetitle {
  border: none;
  font-size: 16px;
}
#customervoice_area li p:last-child {
  border-top: none;
}
@media screen and (max-width: 960px) {
  .voiceLeft {
    width: 100%;
  }
  .voiceLeft p, .voiceLeft ol li {
    font-size: 14px;
  }
  .voiceRight ul li dl dd h3 {
    font-size: 16px;
  }
  .voiceRight ul li dl dd h4 {
    font-size: 14px;
  }
  .voiceRight .voiceComent {
    font-size: 14px;
  }
  #side-area {
    display: none;
  }
  div#customervoice_area {
    margin: 0 5%;
  }
  .osusumeLv {
    display: block;
    margin: 2% 0 0;
  }
}

/* マイページ */
.favorite-area {
  overflow: hidden;
}

.reOrder {
  margin: 0 0 2%;
}
.reOrderBtn {
  border: 2px solid #aaa;
  border-radius: 3px;
  background: none;
  background: #eee;
  font-size: 14px;
  margin: 0 0 8%;
  padding: 2% 10%;
  position: relative;
}
.reOrderBtn:hover {
  cursor: pointer;
}
.reOrderBtn::before {
  content: "";
  border-left: 8px solid #aaa;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.reOrderBtn::after {
  content: "";
  border-left: 8px solid #eee;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
}
.review_btn a {
  border: 2px solid #ccc;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  margin: 0 0 6%;
  text-align: center;
  padding: 2% 0;
}
@media screen and (min-width: 961px) {
  .reOrderBtn {
    margin: 1% 0;
    padding: 1% 10%;
  }
  .reOrderBtn:hover {
    cursor: pointer;
  }
  .review_btn a {
    margin: 4% 0;
    padding: 1% 0;
    width: 50%;
  }
}
/* 新規会員登録 */
.heading-paragraph {
  font-size: 14px;
  margin: 0 0 1% 1%;
}
.kiyakuBox {
  border: 1px solid #ccc;
  height: 500px;
  overflow-y: auto;
  padding: 1% 4%;
  -webkit-overflow-scrolling: touch;
}
.kiyakuBox .term {
  font-size: 18px;
}
.term {
  border-bottom: none;
  margin: 0 0 1% 1%;
}
.btn_area {
  margin-top: 3%;
}
.btn_area {
  display: flex;
  justify-content: space-between;
  margin: 5% 0 0;
  width: 85%;
}
.btn_area .return a {
  background: none;
  border: none;
  display: block;
  font-size: 13px;
  margin: 0;
  position: relative;
  width: auto;
}
.btn_area .return a {
  padding: 20px 0 20px 25px;
}
.btn_area .return a::before {
  content: "";
  border-right: 8px solid #aaa;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.btn_area .return a::after {
  content: "";
  border-right: 8px solid #FFF;
  border-left: 8px solid transparent;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3px;
  margin: auto;
}
.btn_area .member-confirm {
  width: 60%;
}
.btn_area .member-confirm button {
  background: none;
  background: #8CA160;
  border: none;
  border-radius: 6px;
  color: #FFF;
  display: block;
  font-size: 20px;
  line-height: 1;
  padding: 15px 0;
  position: relative;
  width: 100%;
}
.btn_area .member-confirm button:hover {
  cursor: pointer;
}
.btn_area .member-confirm button::before {
  content: "";
  border-left: 12px solid #FFF;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
}
.btn_area .member-confirm button::after {
  content: "";
  border-left: 12px solid #8CA160;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  margin: auto;
}
@media screen and (max-width: 960px) {
  .btn_area {
    display: block;
    text-align: center;
    width: 100%;
  }
  .btn_area .return {
    margin: 0 auto 5%;
    width: 50%;
  }
  .btn_area .return a {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6% 0;
  }
  .btn_area .member-confirm {
    width: 80%;
  }
}


#headerGuide {
  margin: 0 0 4px;
}
.pageBottom .bnr {
  margin: 0.5% auto 0;
  max-width: 900px;
  width: 90%;
}
.pageBottom .bnr img {
}
/* ステータス */
.status_icon li {
  position: relative;
  height: 27px;
}
.status_icon span {
  border: 1px solid #ccc;
  color: #FFF;
  font-size: 11px !important;
  letter-spacing: 2px;
  line-height: 1.2;
  padding: 3px 1px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  text-align: center;
  width: 100%;
}
.status_icon {
  font-size: 11px !important;
  padding: 0;
}
.status_icon .icon1 {
  background: #31C0DA;
  border-color: #31C0DA;
}
.status_icon .icon2 {
  background: #4DA3AE;
  border-color: #4DA3AE;
}
.status_icon .icon3 {
  background: #FFAC5C;
  border-color: #FFAC5C;
}
.status_icon .icon4 {
  background: #FFDD86;
  border-color: #FFDD86;
}
.status_icon .icon5 {
  background: #999;
  border-color: #999;
}
.status_icon .icon6 {
  background: #FF4F81;
  border-color: #FF4F81;
}
.status_icon .icon7 {
  background: #FB6A3D;
  border-color: #FB6A3D;
  line-height: 22px;
}
.status_icon .icon8 {
  background: #A7D76A;
  border-color: #A7D76A;
}
.status_icon .icon9 {
  background: #28A259;
  border-color: #28A259;
}
.measuringBox .sizeInput.open:after {
  position: absolute;
  top: 0;
  right: 14%;
  padding: 0;
  content: url(../img/icon/arrow05.png);
  pointer-events: none;
  text-align: right;
  transform: rotate(0);
}
.measuringBox .sizeInput:after {
  position: absolute;
  top: 0;
  right: 14%;
  padding: 0;
  content: url(../img/icon/arrow05.png);
  pointer-events: none;
  transform: rotate(180deg);
  text-align: left;
}

/* 商品詳細 */
.LC_Page_Products_List #container,
.LC_Page_Products_Detail #container,
.LC_Page_Entry #container {
  max-width: 1200px;
}
.LC_Page_Products_List .list_area {
  margin: 0 0 5.5%;
  width: 32.1%;
}
.LC_Page_Products_List .list_area:nth-child(3n-3) {
  margin-right: 0;
}
.LC_Page_Products_List ul.status_icon {
  margin: 0;
}
.LC_Page_Products_List ul.status_icon li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5% 2% 0;
  width: 57px !important;
}
.LC_Page_Products_List ul.status_icon li:nth-child(5n-5) {
  margin: 0 0 10px 0;
}
.LC_Page_Products_List ul.status_icon li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 611px) {
  .LC_Page_Products_List ul.status_icon {
    text-align: center;
  }
  .LC_Page_Products_List ul.status_icon li {
    margin: auto;
    padding: 6% 0;
    width: 95% !important;
  }
  .LC_Page_Products_List ul.status_icon li span {
    height: auto;
  }
  .LC_Page_Products_List ul.status_icon li br {
    display: none;
  }
}
.LC_Page_Products_Detail .status_icon {
  display: block;
}
/*
.LC_Page_Products_Detail .classlist {
  margin: 0 0 5%;
  padding: 6% 0%;
}
*/
.LC_Page_Products_Detail .measuringBox_single {
  padding: 0 2%;
}
.sizeBox ul > li > dl > dt {
  text-align: center;
  width: 24%;
}
/*
@media screen and (min-width: 961px) {
  .LC_Page_Products_List #main_column,
  .LC_Page_Products_Detail #main_column,
  .LC_Page_Entry #main_column {
    max-width: 960px;
    width: 78%;
  }
}
*/
.mainPleft > dl > dt img {
  max-width: 517px;
}
.railBox02 {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
}
.railBox02 .left, .railBox02 .right{
  display: inline-block;
  vertical-align: middle;
}
.railBox02 .left {
  width: 15%;
}
.railBox02 .right {
  margin: 0 0 0 5%;
  text-align: center;
  width: 60%;
}
.radio01 + span {
  position: relative;
}
.radio01 + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background: #eee;
  border: 2px solid #aaa;
  border-radius: 50%;
  box-sizing: border-box;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.3) inset; */
}
.radio01:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 14%;
  right: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  background: #999;
  border-radius: 50%;
}

header > nav > ul > li .navContents ul li {
    width: 13%;
}
.favoriteBtn02 {
    position: relative;
    background: #fff;
}
.bgSilver ul li:first-child {
    width: 55%;
}
/* ie */
select::-ms-expand {
    display: none;
}
@media screen and (max-width: 960px) {
  .measuringBox .sizeInput.open {
    font-size: 12px;
  }
  .classlist ul li {
    width: 48%;
  }
  .radio01:checked + span::after {
    left: 5px;
  }
}

/* キャンペーン セール */
.tenpo-campaign-sale a:hover {opacity: 0.7;}
.tenpo-campaign-sale  { padding: 25px 0; width: 970px; margin: 0 auto;}
.tenpo-campaign-sale .eyecatch  {font-size:13px;line-height: 20px;margin-bottom:15px;}
.tenpo-campaign-sale .targetItem h3 {background-color: #d90000;color:#fff;text-align: center;font-size:30px;padding:6px 0;margin-bottom:25px;}
.tenpo-campaign-sale .targetItem ul {text-align: center;font-size:0;}
.tenpo-campaign-sale .targetItem li {font-size:15px;display: inline-block;;vertical-align:top;width:300px;margin-right:35px;margin-bottom:40px;}
.tenpo-campaign-sale .targetItem li:nth-child(3n) {margin-right:0;}
.tenpo-campaign-sale .targetItem li h4{text-align: left;padding-bottom:14px;}
.tenpo-campaign-sale .targetItem li div {text-align: left;}
.tenpo-campaign-sale .targetItem li .detaTxt {padding:12px 0;border-top:1px solid #ccc;}
.tenpo-campaign-sale .targetItem li .deta {position: relative;}
.tenpo-campaign-sale .targetItem li .deta p:first-child {padding:16px 0;}
.tenpo-campaign-sale .targetItem li .deta .value {font-size:30px;padding:12px 0;}
.tenpo-campaign-sale .targetItem li .deta .value span {font-size:13px;}
.tenpo-campaign-sale .targetItem li .deta img {position: absolute;top:10px;right: 0px;}
.tenpo-campaign-sale .targetItem li .detaBtn {position: relative;text-align: center;border: 1px solid #ccc;}
.tenpo-campaign-sale .targetItem li .detaBtn a {display: block;padding:12px 0;color:#333;}
.tenpo-campaign-sale .targetItem li .detaBtn  i { position: absolute;right:5%;}
.tenpo-campaign-sale .targetItem li .detaBtn  i:after { content: url("./images/icon-cursor-right.png");}
.tenpo-campaign-sale .checkItem {background-color:#f6f6f6;padding:40px 50px;margin-bottom:60px;}
.tenpo-campaign-sale .checkItem h3 {width:580px;margin:0 auto;margin-bottom:36px;}
.tenpo-campaign-sale .checkItem ul {text-align: center;}
.tenpo-campaign-sale .checkItem li {display: inline-block;width:200px;margin-right:15px;}
.tenpo-campaign-sale .checkItem li:last-child {margin-right:0px;}
.tenpo-campaign-sale .checkItem li p:nth-child(2) {text-align: left;font-size:13px;padding:8px 0 10px;}
.tenpo-campaign-sale .checkItem li p:nth-child(3) {text-align: right;font-size:13px;color:#b22d00;}
.tenpo-campaign-sale .search {padding-bottom:70px;}
.tenpo-campaign-sale .search h3 {width:580px;margin:0 auto;margin-bottom:36px;}
.tenpo-campaign-sale .search h4 { margin-bottom:15px; border-bottom: solid 1px #D5D5D5; padding-bottom: 10px; font-size: 14px; font-weight: bold;}
.tenpo-campaign-sale .search ul {font-size:0;text-align: left;}
.tenpo-campaign-sale .search li {font-size:12px;display: inline-block;width:25%;margin-bottom:7px;}
.tenpo-campaign-sale .search img {vertical-align: middle;padding-right:5px;}
.tenpo-campaign-sale .search p {display: inline-block;vertical-align: middle;}
.tenpo-campaign-sale .search a {color:#333;}
.tenpo-campaign-sale .search .catCurtain {width:100%;text-align:center;margin-bottom:70px;}
.tenpo-campaign-sale .search .catOrder {width:24%;text-align:center;float:left;}
.tenpo-campaign-sale .search .catOrder li {width:100%;}
.tenpo-campaign-sale .search .catCarpet {width:75%;text-align:center;float:right;}
.tenpo-campaign-sale .search .catCarpet li {width:33.3%;}

@media screen and (max-width:960px) {
  /* キャンペーン セール */
  .tenpo-campaign-sale a:hover {opacity: 0.7;}
  .tenpo-campaign-sale  { padding: 25px 0; width: 95%; margin: 0 auto;}
  .tenpo-campaign-sale .eyecatch  {font-size:13px;line-height: 20px;margin-bottom:15px;}
  .tenpo-campaign-sale .eyecatch img { width: 100%; height: auto;}
  .tenpo-campaign-sale .targetItem h3 {background-color: #d90000;color:#fff;text-align: center;font-size:30px;padding:6px 0;margin-bottom:25px;}
  .tenpo-campaign-sale .targetItem ul {text-align: left;font-size:0;}
  .tenpo-campaign-sale .targetItem li {font-size:15px; vertical-align:top;width:47%;margin-bottom:40px; margin: 0 1.5% 30px;}
  .tenpo-campaign-sale .targetItem img { max-width: 100%; height: auto;}
  .tenpo-campaign-sale .targetItem li:nth-child(2n) {padding-right:0;}
  .tenpo-campaign-sale .targetItem li h4{text-align: left;padding-bottom:14px;}
  .tenpo-campaign-sale .targetItem li div {text-align: left;}
  .tenpo-campaign-sale .targetItem li .detaTxt {padding:12px 0;border-top:1px solid #ccc; font-size: 12px; line-height: 1.6;}
  .tenpo-campaign-sale .targetItem li .deta {position: relative;}
  .tenpo-campaign-sale .targetItem li .deta p { width: 77%; font-size: 12px; line-height: 1.4;}
  .tenpo-campaign-sale .targetItem li .deta p:first-child {padding:16px 0;}
  .tenpo-campaign-sale .targetItem li .deta p:nth-child(3) {font-size:20px;padding:12px 0;}
  .tenpo-campaign-sale .targetItem li .deta p:nth-child(3) span {font-size:13px;}
  .tenpo-campaign-sale .targetItem li .deta img {position: absolute;top:10px;right: 0px; width: 20%; height: auto;}
  .tenpo-campaign-sale .targetItem li .detaBtn {position: relative;text-align: center;border: 1px solid #ccc;}
  .tenpo-campaign-sale .targetItem li .detaBtn a {display: block;padding:12px 0;color:#333;}
  .tenpo-campaign-sale .targetItem li .detaBtn  i { position: absolute;right:5%;}
  .tenpo-campaign-sale .targetItem li .detaBtn  i:after { content: url("./images/icon-cursor-right.png");}
  .tenpo-campaign-sale .checkItem {background-color:#f6f6f6;padding:40px 50px;margin-bottom:60px;}
  .tenpo-campaign-sale .checkItem h3 {margin:0 auto;margin-bottom:36px; text-align: center;}
  .tenpo-campaign-sale .checkItem ul {text-align: center;}
  .tenpo-campaign-sale .checkItem li {display: inline-block;width:48%;margin-right:15px;}
  .tenpo-campaign-sale .checkItem li:last-child {margin-right:0px;}
  .tenpo-campaign-sale .checkItem li p:nth-child(2) {text-align: left;font-size:13px;padding:8px 0 10px;}
  .tenpo-campaign-sale .checkItem li p:nth-child(3) {text-align: right;font-size:13px;color:#b22d00;}
  .tenpo-campaign-sale .search {padding-bottom:70px;}
  .tenpo-campaign-sale .search h3 {;margin:0 auto;margin-bottom:36px; text-align: center;}
  .tenpo-campaign-sale .search h4 { margin-bottom:15px; border-bottom: solid 1px #D5D5D5; padding-bottom: 10px; font-size: 14px; font-weight: bold;}
  .tenpo-campaign-sale .search ul {font-size:0;text-align: left;}
  .tenpo-campaign-sale .search li {font-size:12px;display: inline-block;width:25%;margin-bottom:7px;}
  .tenpo-campaign-sale .search img {vertical-align: middle;padding-right:5px;}
  .tenpo-campaign-sale .search p {display: inline-block;vertical-align: middle;}
  .tenpo-campaign-sale .search a {color:#333;}
  .tenpo-campaign-sale .search .catCurtain {width:100%;text-align:center;margin-bottom:70px;}
  .tenpo-campaign-sale .search .catOrder {width:24%;text-align:center;float:left;}
  .tenpo-campaign-sale .search .catOrder li {width:100%;}
  .tenpo-campaign-sale .search .catCarpet {width:75%;text-align:center;float:right;}
  .tenpo-campaign-sale .search .catCarpet li {width:33.3%;}
}


.tenpo-campaign-sale .eyecatch .heading {
  font-size: 49px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 3%;
}
.tenpo-campaign-sale .eyecatch .paragraph {
  font-size: 13px;
  line-height: 1.8;
  margin: 2% 0 2% 2%;
}
.tenpo-campaign-sale .targetItem .campaign-sale-persent {
  background: #D90000;
  color: #FFF;
  font-family: arial;
  font-size: 28px;
  font-weight: bold;
  padding: 7px;
  position: absolute;
  top: 10px;
  right: 0;
}
.tenpo-campaign-sale .targetList img {
  width: 100%;
}

@media screen and (min-width: 961px) {
 .tenpo-detail-page .anchor-area ul {
    text-align: center;
  }
  .tenpo-detail-page .anchor-area ul li {
    width: 18%;
    margin-right: 2.5%;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .tenpo-campaign-sale .targetItem ul {
    text-align: left;
  }
  .tenpo-campaign-sale .eyecatch {
    line-height: 1;
  }
}

@media screen and (max-width: 767px) {
  .tenpo-campaign-sale .eyecatch .heading {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 520px) {
  .tenpo-campaign-sale .targetItem .campaign-sale-persent {
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 5px;
  }
}


/* 会員登録パンくず */
.contact-page table.step,.confirm-page table.step { font-size: 14px; margin-bottom: 30px; width: 100%;}
.contact-page table.step th,.confirm-page table.step th { background: url(../img/common/e8_bg_01.png) no-repeat right !important; background-size: cover; vertical-align: top; padding: 10px 20px; line-height: 1.1em; text-align: left; width: 25%; font-size: 20px; font-weight: normal; color: #BCBCBC;}
.contact-page table.step .orange,.confirm-page table.step .orange { color: #ff9019;}
.contact-page table.step span,.confirm-page table.step span { font-size: 12px;}
.contact-page table.step th .mini,.confirm-page table.step th .mini { font-size: 10px;}
.contact-page table.step td,.confirm-page table.step td { padding: 10px 0; font-size: 12px; line-height: 1.5;}
.contact-page th.s04,.confirm-page th.s04 { background: #f6f6f6 !important;}
.contact-page .logo,.confirm-page .logo { text-align: center; border-bottom: dotted 1px #9C9C9C; padding-bottom: 30px; margin-bottom: 20px;}
.contact-page .gray-area,.confirm-page .gray-area { text-align: center; padding: 50px 0; background: #f7f5f1;}
.contact-page .gray-area .big,.confirm-page .gray-area .big { font-size: 36px; margin-bottom: 20px; color: #e1837b;}
.contact-page .gray-area .tyu,.confirm-page .gray-area .tyu { font-size: 26px; margin-bottom: 3px;}
.contact-page .gray-area .small,.confirm-page .gray-area .small { font-size: 14px;}
.contact-page .btn_area,.confirm-page .btn_area { text-align: center;}
.contact-page .btn_area a,.confirm-page .btn_area a { background: url(../img/common/c_contact_arrow_03.png) no-repeat #FFFFFF; display: inline-block; border: solid 2px #B8B8B8; font-size: 20px; text-align: center; width: 255px; padding: 20px 0 15px;   border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */ background-position: 80% 50%; margin-bottom: 10px; color: #6C6C6C;}


.table-bordered th {
  width: 40%;
}
.table-bordered td {
  width: 59%;
}
@media screen and (max-width: 768px) {
  .table-bordered th,
  .table-bordered td {
    display: block;
    width: 100%;
  }
}

/* フッター固定カート */
#footerCartBox {
  width: 1050px;
  display:none;
}
#footerCartBox ul {
  padding: 2px;
}
#footerCartBox ul li {
  display: inline-block;
  vertical-align: middle;
}
#footerCartBox > ul > li:first-child {
  font-size: 13px;
  line-height: 1.5;
  padding: 0 1%;
  width: 23%;
}
#footerCartBox > ul > li:nth-child(2) {
  padding: 0 1%;
  width: 38%;
}
#footerCartBox > ul > li:nth-child(2) dl {
  display: block;
}
#footerCartBox > ul > li:nth-child(2) dl dt {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding: 0;
  width: 20%;
}
#footerCartBox > ul > li:nth-child(2) dl dd {
  display: inline-block;
  vertical-align: middle;
  width: 77%;
}
.price02 {
  font-size: 25px;
  margin: 0 0 0 4%;
}
.price02 small {
  font-size: 13px;
}
#footerCartBox > ul > li:nth-child(3) {
  width: 41%;
}
#footerCartBox > ul > li:nth-child(3) ul li:first-child {
  width: 46%;
}
#footerCartBox > ul > li:nth-child(3) ul li:nth-child(2) {
  width: 53%;
}
.cartBtn01 {
  background: none;
}
.cartBtn01 a {
  background: #ce5633;
  border-radius: 3px;
  font-size: 16px;
  height: auto;
  padding: 1% 0 1% 10%;
  position: static;
}
.cartBtn01 a:before {
  top: 7%;
  left: 7%;
}
.favoriteBtn02 {
  background: none;
}
.favoriteBtn02 a {
  display: block;
  background: #FFF;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 11px;
  padding: 4% 0;
  text-align: center;
}
.favoriteBtn02 a:before {
    content: url(../img/icon/heart02.png);
    position: absolute;
    top: 20%;
    left: 5%;
}
.consultationBtn01 {
  background: none;
}
.consultationBtn01 a {
  display: block;
  background: #90bb47;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 11px;
  padding: 0;
  text-align: center;
}
.measuringBox_single {
  background: #FFF;
  margin: 0 0 6%;
}
.measuringBox_single:before {
  display: none;
}
@media screen and (max-width: 960px) {
#footerCartBox,
#footerCartBox > ul > li:first-child,
#footerCartBox > ul > li:nth-child(2) {
  width: 100%;
}
#footerCartBox > ul > li:nth-child(3) {
  display: block;
  width: 100%;
}
#footerCartBox > ul > li:nth-child(3) ul li {
  display: inline-block;
  vertical-align: middle;
  width: 48.5% !important;
}
.selectBox02.numberSelect {
  position: relative;
}
.selectBox02.numberSelect:before {
  content: url(../img/icon/arrow05.png);
  position: absolute;
  top: 20%;
  right: 12%;
  padding: 0;
  pointer-events: none;
}
.cartBtn01 a:before,.favoriteBtn01 a:before,.consultationBtn01 a:before {
  display: none;
}
.cartBtn01 a {
  margin: 0;
  padding: 8% 0;
}
}


#main_column > main > section > div.mainPleft > div > p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 50px;
}

/* 住所ボタンなど */
.form-group .btn {
  border: 2px solid #ddd;
  border-radius: 3px;
  color: #666;
  display: block;
  font-size: 12px;
  padding: 6px 0;
  text-align: center;
  max-width: 170px;
}

/* 特集・生地サンプル無料ページ */
/* cloth-sample */

/* reset */
#container main {
  margin: auto;
  max-width: inherit;
}
.cloth-sample {
  width: 100%;
}
.cloth-sample .view {
  background: url(/shop/user_data/packages/CJoukoku/img/cloth-sample/bg.jpg);
  margin: 0 0 5%;
  text-align: center;
}
.cloth-sample .view h2 {
  margin: 0;
}
.cloth-sample .view img {
  display: block;
  margin: auto;
}
.cloth-sample .inner {
  margin: auto;
  width: 962px;
}
.cloth-sample .inner p {
  line-height: 1.8;
}
.cloth-sample .color {
  color: #D05432;
}
.cloth-sample .inner .paragraph p {
  margin: auto;
  width: 95%;
}
.cloth-sample .first {
  padding: 3% 0 5%;
}
.cloth-sample .first .inner {
  position: relative;
}
.cloth-sample .first .bg-line {
  border-bottom: 1px solid #333;
  margin: auto;
  padding: 10px 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 70%;
}
.cloth-sample .first h3 {
  background: #FFF;
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 55%;
}
.cloth-sample .step01 {
  margin: 0 0 4%;
}
.cloth-sample .step01 .content {
  background: #F6F6F6;
  border-bottom: 1px solid #333;
  padding: 4% 3%;
  position: relative;
}
.cloth-sample .step01 .content::before {
  content: "";
  border-top: 60px solid #333;
  border-bottom: 50px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -110px;
}
.cloth-sample .step01 .content::after {
  content: "";
  border-top: 60px solid #F6F6F6;
  border-bottom: 50px solid transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -109px;
}
.cloth-sample .step01 .content .heading {
  font-size: 19px;
  margin: 0 0 1.5%;
}
.cloth-sample .step01 .content .img {
  margin: 0 0 3.5%;
}
.cloth-sample .step01 .content .img img {
  display: block;
  width: 100%;
}
.cloth-sample .step01 .content .left {
  float: left;
  max-width: 543px;
  width: 59%;
}
.cloth-sample .step01 .content .left h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 2%;
}
.cloth-sample .step01 .content .right {
  background: #FFF;
  border: 1px solid #ccc;
  float: right;
  padding: 3%;
  text-align: center;
  max-width: 337px;
  width: 38%;
}
.cloth-sample .step01 .content .right h3 {
  font-size: 20px;
  margin: 0 0 8%;
  text-align: center;
}
.cloth-sample .step01 .content .right .lane {
  display: inline-block;
  vertical-align: top;
  width: 31%;
}
.cloth-sample .step01 .content .right h4 {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.cloth-sample .step01 .content .right ul {
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
.cloth-sample .step01 .content .right .product02 {
  margin: 0 0 50%;
}
.cloth-sample .step02 h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 0 auto 1%;
  width: 98%;
}
.cloth-sample .step02 p {
  font-size: 22px;
  line-height: 1.5;
  margin: auto;
  width: 98%;
}
.cloth-sample .btn a {
  background: #8CA160;
  border-radius: 6px;
  color: #FFF;
  display: block;
  font-size: 24px;
  margin: 6% auto;
  padding: 1.5% 2% 1.5% 0;
  position: relative;
  text-align: center;
  width: 42%
}
.cloth-sample .btn a::after {
  content: url(/shop/user_data/packages/CJoukoku/img/cloth-sample/btnArrow.png);
  position: absolute;
  margin: auto;
  right: 4%;
}
@media screen and (max-width: 960px) {
  .cloth-sample .inner {
    width: 100%;
  }
  .cloth-sample .view img {
    width: 100%;
  }
  .cloth-sample .first {
    padding: 10% 0 15%;
  }
  .cloth-sample .first .bg-line {
    width: 95%;
  }
  .cloth-sample .first h3 {
    font-size: 5vw;
    width: 80%;
  }
  .cloth-sample .btn a {
    font-size: 22px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .cloth-sample .step01 {
    margin: 0 0 15%;
  }
  .cloth-sample .step01 .content .left,
  .cloth-sample .step01 .content .right {
    max-width: inherit;
    width: 100%;
  }
  .cloth-sample .step01 .content .left h3 {
    font-size: 24px;
  }
  .cloth-sample .step01 .content .heading {
    font-size: 18px;
  }
  .cloth-sample .step01 .content .bottom {
    margin: 8% 0;
  }
  .cloth-sample .step01 .content .right {
    padding: 8% 2%;
  }
  .cloth-sample .step01 .content .right .lane {
    width: 31.5%;
  }
  .cloth-sample .step01 .content .right ul {
    font-size: 13px;
  }
  .cloth-sample .step02 .inner {
    width: 95%;
  }
  .cloth-sample .step02 h3 {
    font-size: 24px;
  }
  .cloth-sample .step02 p {
    font-size: 18px;
  }
  .cloth-sample .btn {
    margin: 0 0 12%;
  }
  .cloth-sample .btn a {
    background: url(/shop/user_data/packages/CJoukoku/img/cloth-sample/btnArrow.png) no-repeat #8CA160;
    background-position: 95% center;
    background-size: 3%;
    font-size: 5vw;
    padding: 3% 2% 3% 0;
    width: 80%;
  }
  .cloth-sample .btn a::after {
    display: none;
  }
}
/* 特商法 */
@media screen and (max-width: 960px) {
  #undercolumn_order th {
    width: 100%;
  }
  .tokusyo table td {
    margin: auto;
    width: 95%;
  }
}

/* entry */
.contact-page .zip01 p {
  margin-bottom: 3%;
}
.form-group .form-group {
  margin: 0 0 3%;
}
/* 初めての方へ */
.begin .sec01 .left {
    float: left;
    width: 40%;
}
.begin .sec01 .right {
    float: right;
    width: 57%;
}
.begin dl.list {
  margin: 0 0 5%;
}
@media screen and (max-width: 768px) {
  .begin .sec01 .left,
  .begin .sec01 .right {
    float: none;
    width: 100%;
  }
  .begin .sec01 .right {
    margin: 0 0 5%;
  }
}


.LC_Page_Mdl_PG_MULPAY_Helper .attention {
  margin: 0 !important;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .information {
  line-height: 1.4;
  margin: 0 0 5%;
  padding: 3% 4%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .information .attention {
  color: #d44950;
  font-size: 14px;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody tr {
  border-top: 1px dotted #333;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody tr:first-child {
  display: none;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody th,
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td {
  padding: 2% 0;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td input {
  padding: 1%;
}
#undercolumn_shopping select {
  margin: 0 2%;
  padding: 1.5%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td input#card_name1,
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td input#card_name2 {
  margin: 0 0 0 1.5%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td .mei {
  margin: 0 0 3%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td .mini {
  line-height: 1.5;
  margin: 1% 0;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td .mini .attention {
  display: block;
  font-size: 14px;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .alignR {
  font-weight: normal;
  text-align: left;
  width: 27%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .alignR .attention {
  font-size: 12px;
  color: #ED060A;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area ul {
  width: 100%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area li {
  display: inline-block;
  vertical-align: middle;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area li:first-child {
  height: 50px;
  width: 120px;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area li:nth-child(2) {
  margin: 0 3%;
  height: 60px;
  width: 360px;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area input {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
  height: 100%;
  width: 100%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area input:hover {
  cursor: pointer;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area input#back {
  background: url(../img/common/c_contact_arrow_04.png) no-repeat 10% center #FFF;
  padding: 0 0 0 5%;
}
.LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area input#next {
  background: url(../img/common/c_contact_arrow_01.png) no-repeat 95% center #8CA05F;
  border-color: #8CA05F;
  color: #FFF;
  font-size: 22px !important;
}

@media screen and (max-width: 960px) {
  #undercolumn_shopping {
    margin: auto;
    width: 100%;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .alignR,
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody th,
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td {
    display: block;
    width: 100%;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody th {
    padding: 3% 0 0;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td {
    padding: 3% 0;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td input#card_name1,
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style table tbody td input#card_name2 {
    display: block;
    margin: 0 0 5%;
  }
  #undercolumn_shopping select#Method {
    display: block;
    width: 80%;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area li:first-child {
    height: 50px;
    width: 26%;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area li:nth-child(2) {
    height: 50px;
    width: 65%;
  }
  .LC_Page_Mdl_PG_MULPAY_Helper .payment_form_body_style .btn_area input#next {
    font-size: 16px !important;
  }
}
