@charset "utf-8";

/* -----------------------------------------------
スマートリコメンドブロック
----------------------------------------------- */

/* スマートリコメンドによるオススメ商品リスト */
#SmartRecommend_area {
    margin: 15px 10px 20px 10px;
    padding-top: 10px;
    border: #CCC solid 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
#SmartRecommend_area h2 {
    font-size: 12px;
    margin-left: 10px;
}

.SmartRecommend_area {
    padding: 10px;
}
.SmartRecommendItemBox {
    padding: 10px 0;
    border-bottom: #CCC solid 1px;
    clear: both;
}
.SmartRecommend_area .SmartRecommendItemBox:last-child {
    border-bottom: none;
}
.SmartRecommend_area .photoL {
    width: 80px;
}
.SmartRecommend_area .cartinContents {
    width: 68%;
    float: right;
    display: block;
    position: relative;
}
.SmartRecommend_area .cartinContents p {
    line-height: 1.2;
}
.cartinContents div {
    min-height: 50px;
}
