<div class="block_outer category">
<div class="block_body">
<h2><img src="<!--{$TPL_URLPATH}-->img/product_category_icon/heading.png" alt="商品カテゴリから探す"></h2>
<!--{include file="`$smarty.const.TEMPLATE_REALDIR`frontparts/bloc/category_tree_fork.tpl" children=$arrTree treeID="" display=1}-->
</div>
<!-- .block_body -->
</div>
<!-- .block_outer category -->
