<!-- 静的コーディング// -->
<div class="block_outer clearfix">
<div class="topListArea checked">
<div class="heading">
<img src="<!--{$TPL_URLPATH}-->img/top/checked.png" alt="" class="title_icon" /><h2><span class="title">最近見た商品</span><span class="title_rb">CHECKED ITEMS</span></h2>
</div>
<!-- .heading -->
<img src="<!--{$TPL_URLPATH}-->img/top/checked_line.png" alt="" class="main_column_line" />

<div class="block_body clearfix">
                <!--　foreach from -->
<div class="product_item clearfix">
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>


<div class="product_item clearfix">
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>


<div class="product_item clearfix">
<div class="productImage">
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"> -->
<a href="#">
<!-- <img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" /> -->
<img src="<!--{$smarty.const.IMAGE_SAVE_URLPATH}--><!--{$arrProduct.main_image|sfNoImageMainList|h}-->" alt="<!--{$arrProduct.name|h}-->" />
</a>
</div>
<div class="productContents">
<h3>
<!-- <a href="<!--{$smarty.const.P_DETAIL_URLPATH}--><!--{$arrProduct.product_id|u}-->"><!--{$arrProduct.name|h}--></a> -->
<a href="#">マフラー ケツだけ星人しんちゃん＆シロ ノルディック柄（レッド）</a>
</h3>
<p class="sale_price">
<span class="price">5,555円</span>
<!-- <span class="price"><!--{$arrProduct.price02_min|sfCalcIncTax:$arrInfo.tax:$arrInfo.tax_rule|number_format}-->円</span> -->
</p>
</div>
<!-- .productContents -->
</div>

<!-- foreach -->
</div>
<!-- .block_body -->
</div>
<!-- .topListArea -->
</div>
<!-- .block_outer -->

<!-- //静的コーディング -->
